<div class="left_form">
	<%= incident_form.label :cuisine_id %>
</div>
<div class="right_form">
	<%= incident_form.select( :cuisine_id, "<option value='' selected='true'>Please select</option>" + options_from_collection_for_select(@cuisines, :id, :name)) %>
</div>

