<div class="left_form">
	<%= label_tag :factor %><br />
</div>
<div class="right_form" >
<div id="factor_select">
<%= collection_select(:factor, :factor_id,  @factors,  :id, :name,{:prompt   => "Select a contributing factor"},{:onchange => "#{remote_function(:url  => {:action => "add_risk"},:with => "'factor_id='+value")}"}) %>
</div>	
</div>
<div style="clear:both;"></div>
