<div id="food_hygiene_rating">
	<% prefix = "outbreak[response_attributes]" %>
	<% fields_for prefix, @outbreak.response do |response_form| %>
		<div class="left_form">
			<%= response_form.label :hygiene_rating, "Premises Food Hygiene Rating (0-5)" %>
		</div>
		<div class="right_form">
			<%= response_form.select(:hygiene_rating, options_for_select([ ["Not Relevant", "NOT RELEVANT"], ["0","0"], ["1","1"], ["2","2"], ["3","3"], ["4","4"], ["5","5"], ["Unknown","UNKNOWN"], @outbreak.response.hygiene_rating ])) %> 
		</div>
	<% end %>
</div>
