					<fieldset>
						<legend>Food vehicles</legend>
						
							<div class="left_form">
								<%= food_form.label :food_category_id %>
							</div>
							<div class="right_form">
								<%= food_form.select(:food_category_id, options_from_collection_for_select(@food_categories, :id, :name), :prompt => :true) %>
							</div>
							<div style="clear:both;"></div>
							<div class="left_form">
								<%= food_form.label :food_subcategory_id %>
							</div>
							<div class="right_form">
								<%= food_form.select(:food_subcategory_id, options_from_collection_for_select(@food_subcategories, :id, :name), :prompt => :true) %>
							</div>
							<div style="clear:both;"></div>
							<div class="left_form">
								<%= food_form.label :name %>
							</div>
							<div class="right_form">
								<%= food_form.text :name %>
							</div>
							<div style="clear:both;"></div>
						
					</fieldset>
