<div id="food_premise_rating">
		<% prefix = "outbreak[response_attributes]" %>
		<% fields_for prefix, @outbreak.response do |response_form| %>
			<div class="left_form">
				<%= response_form.label :inspection_rating, "Food premises inspection rating (A-E)" %>
			</div>
			<div class="right_form">
				<%= response_form.select(:inspection_rating, options_for_select([ ["Not Relevant", "NOT RELEVANT"], ["A","A"], ["B","B"], ["C","C"], ["D","D"], ["E","E"], ["Unknown","UNKNOWN"] ], @outbreak.response.inspection_rating)) %> <span id="opener_inspection_rating" class="help" title="Inspection rating information">?</span> 
			</div>
		<% end %>
</div>
