<div id="food_vehicle_div">
	<fieldset id="f" class="form_div">
			<legend>Food vehicles</legend>
			<div class="left_form">
				Food Vehicle
			</div>
			<div class="right_form">
				<span class="highlight_tab"><%= link_to_remote("Add Food Vehicle", :url => {:action => "new_food"},  :with => 'params_to_new_food()'  )  %></span> <span class="required" title="This field is required.">Required*</span>
			</div>
			<div style="clear:both;"></div>
			<div id="food_vehicles">
				<% if !@outbreak.new_record? && @outbreak.foods %>
						<%= render :partial => "foods/food", :collection => @outbreak.foods %>
				<% end %>
			</div>
	</fieldset>
</div>
