<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :response,{:child_index => @this_child_index} do |this_form| %>
<%= render :partial => 'food_premise_rating', :locals => {:response_form => this_form } %>
<% end %>
