<% if user_signed_in? %>

	<script>
	
	document.observe('dom:loaded',function(){         
		$j(function() {

			var $tabs = $j('#tabs').tabs();
			var tab_array = ["tabs_a","tabs_b","tabs_c","tabs_d","tabs_e","tabs_f","tabs_g","tabs_h"];
			$j(".ui-tabs-panel").each(function(i){
		
			  var totalSize = $j(".ui-tabs-panel").size() - 1;
		
			  if (i != totalSize) {
			      next_index = i + 1;
			      next = tab_array[next_index];
				  $j(this).append("<a href='#' class='next-tab mover' rel='" + next + "'>Next &#187;</a>");
			  }
			  
			  if (i == totalSize) {
			  	$j(this).append("<input type='submit' class='submit-tab submitter' value='Submit'>");
			  }
			  
			  if (i != 0) {
			      prev_index = i - 1;
			      prev = tab_array[prev_index];
				  $j(this).append("<a href='#' class='prev-tab mover' rel='" + prev + "'>&#171; Prev</a>");
			  }
		
			});
		
			$j('.next-tab, .prev-tab').click(function() {
			   $tabs.tabs('select', $j(this).attr("rel"));
			   
			   return false;
		       });
		       
		       $j("#dialog_user_reference").dialog({
		       		autoOpen: false,
		       		show: "blind",
		       		hide: "explode"
		       });
		       
		       $j("#opener_user_reference").click(function() {
		       		$j("#dialog_user_reference").dialog("open");
		       		return false;
		       });
		       
		       	$j("#dialog_risk").dialog({
		       		autoOpen: false,
		       		show: "blind",
		       		hide: "explode"
		       });
		       
		       $j("#opener_risk").click(function() {
		       		$j("#dialog_risk").dialog("open");
		       		return false;
		       });
		       
		       $j("#dialog_inspection_rating").dialog({
		       		autoOpen: false,
		       		show: "blind",
		       		hide: "explode"
		       });
		       
		       $j("#opener_inspection_rating").click(function() {
		       		$j("#dialog_inspection_rating").dialog("open");
		       		return false;
		       });
		       
		       $j("#dialog_report_upload").dialog({
		       		autoOpen: false,
		       		show: "blind",
		       		hide: "explode"
		       });
		       
		       $j("#opener_report_upload").click(function() {
		       		$j("#dialog_report_upload").dialog("open");
		       		return false;
		       });
		       
		       $j("#dialog_agent_type").dialog({
		       		autoOpen: false,
		       		show: "blind",
		       		hide: "explode"
		       });
		       
		       $j("#opener_agent_type").click(function() {
		       		$j("#dialog_agent_type").dialog("open");
		       		return false;
		       });
		       
		       $j("#dialog_food_vehicle").dialog({
		       		autoOpen: false,
		       		show: "blind",
		       		hide: "explode"
		       });
		       
		       $j("#opener_food_vehicle").click(function() {
		       		$j("#dialog_food_vehicle").dialog("open");
		       		return false;
		       });
		       
		       $j("#dialog_postcode").dialog({
		       		autoOpen: false,
		       		show: "blind",
		       		hide: "explode"
		       });
		       
		       $j("#opener_postcode").click(function() {
		       		$j("#dialog_postcode").dialog("open");
		       		return false;
		       });
		       
		       $j("#outbreak_onset_first_1i").change(function() {
		       		$j("#outbreak_year").val($j("#outbreak_onset_first_1i").val());
		       		
		       });
		       
		       $j("#outbreak_onset_last_1i").change(function() {
		       		$j("#outbreak_year").val($j("#outbreak_onset_last_1i").val());
		       		
		       });
	       });

	});
	
	
	
	
		
	</script>
	<div>	
		<div id="loader" style="display: none;">
			Loading ...	<%= image_tag "loader.gif" %>
		</div>
	</div>
	<% form_for(@outbreak, :html => {:multipart => true}) do |form| %>
	<%= form.error_messages %>
	<div id="dialog_user_reference" title="User reference information">
		<fieldset>
			<legend>User reference number</legend>
			<p>Examples include HPZone reference number and internal codes used by the submitting department.</p>
		</fieldset>
	</div>
	<div id="dialog_risk" title="Risk information">
		<fieldset>
			<legend>Risks</legend>
			<p>Multiple risks can be added to the outbreak by selecting additional fields from the dropdown.</p>
		</fieldset>
	</div>
	<div id="dialog_inspection_rating" title="Inspection rating information">
		<fieldset>
			<legend>Inspection rating</legend>
			<p>Also known as "Scores on Doors" with a rating system from 1 to 5 stars.</p>
		</fieldset>
	</div>
	<div id="dialog_report_upload" title="Report upload information">
		<fieldset>
			<legend>Report upload</legend>
			<p>Completed reports can be uploaded and stored on the HPA servers.</p>
			<p>PDF format is preferred, although Word documents can also be upload.</p><br></br>
			<p>There will be a noticeable pause on questionnaire submission as the report file is uploaded to the database.</p>
			<p>Currently reports are available to all registered users. If the report contains commercially sensitive and/or patient identifiable data we suggest that the information is redacted or replaced.</p>
		</fieldset>
	</div>
	<div id="dialog_agent_type" title="Agent type information">
		<fieldset>
			<legend>Agent type</legend>
			<p>This is the representative causative agent, additional but non-causative agents (such as agents found through a broad screen of tests) can be linked to this outbreak in the investigation section.</p>
			<p>Only if the agent is confirmed will an Investigation section appear for this agent.</p><br></br>
			<p>The "Mixed" agent type will allow multiple causative agents.</p>
		</fieldset>
	</div>
	<div id="dialog_food_vehicle" title="Food vehicle information">
		<fieldset>
			<legend>Food vehicle</legend>
			<p>Food vehicles linked to this particular outbreak (Foodborne).</p>
			<p>There is a seperate "Evidence" section for each vehicle.</p>
		</fieldset>
	</div>
	<div id="dialog_postcode" title="Postcode information">
		<fieldset>
			<legend>Postcodes</legend>
			<p>Postcodes are looked up on a static database table.</p>
			<p>Due to a number of factors postcode databases often become out of date quickly, especially in regard to new housing developments and commercial zones of high turnover.</p>
			<br></br>
			<p>The postcode callback will attempt to populate the Local Authority, HPU, Region and Ward/Town fields.</p>
			<p>However these can be altered manually if required.</p>
			<br></br>
			<p>The given postcode is used to generate lon / lat co-ordinates for the maps.</p>
			<p>If no postcode is given a NATIONAL default is entered i.e the outbreak is regarded as a geographically non-specific outbreak.</p>
		</fieldset>
	</div>
	
	<div id="tabs">
		<ul>
			<li title="Outbreak reporter"><a href="#tabs_a" id="tabs_a_link">Reporter</a></li>
			<li title="Outbreak details"><a href="#tabs_b" id="tabs_b_link">Outbreak</a></li>
			<li title="Incident locations"><a href="#tabs_c" id="tabs_c_link">Location</a></li>
			<li title="Pathogen agents"><a href="#tabs_d" id="tabs_d_link">Causative Agent</a></li>
			<li title="Risk factors"><a href="#tabs_e" id="tabs_e_link">Associated Agents</a></li>
			<li title=""><a href="#tabs_f" id="tabs_f_link">Foods</a></li>
			<li title="Outbreak investigations"><a href="#tabs_g" id="tabs_g_link">Factors</a></li>
			<li title="Control measures taken"><a href="#tabs_h" id="tabs_h_link">Control measures</a></li>
			
		</ul>	
		
			<div id="tabs_a">
				<fieldset id="a" class="form_div">
					<legend>Reporter</legend>
					<div style="clear:both;"></div>
					<div>
					<span class="highlight_tab"><%= link_to_remote("Add user details as reporter", :url => {:action => "update_reporter"}  )  %></span>
					</div>
					<br></br>
					<div style="clear:both;"></div>
					<% form.fields_for :reporter do |reporter_form| %>
					  <div class="left_form">
						<%= reporter_form.label :title %>
					  </div>
					  <div class="right_form">
						<%= reporter_form.text_field :title %>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= reporter_form.label :fname, "First name" %>
					  </div>
					  <div class="right_form">
						<%= reporter_form.text_field :fname %> <span class="required" title="This field is required.">Required*</span>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= reporter_form.label :lname, "Last name" %>
					  </div>
					  <div class="right_form">
						<%= reporter_form.text_field :lname %> <span class="required" title="This field is required.">Required*</span>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= reporter_form.label :position %>
					  </div>
					  <div class="right_form">
						<%= reporter_form.text_field :position %>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= reporter_form.label :telephone %>
					  </div>
					  <div class="right_form">
						<%= reporter_form.text_field :telephone %>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= reporter_form.label :email %>
					  </div>
					  <div class="right_form">
						<%= reporter_form.text_field :email %> <span class="required" title="This field is required.">Required*</span>
					  </div>
					  <div style="clear:both;"></div>
					 
					<% end %>
				</fieldset>
			</div>
			<div id="tabs_b">
				<fieldset id="b" class="form_div">
					<legend>Outbreak</legend>
					
					<fieldset>
						<legend>References</legend>
					  <div class="left_form">
						<%= form.label :user_reference %>
					  </div>
					  <div class="right_form">
						<%= form.text_field :user_reference %> <span id="opener_user_reference" class="help" title="User reference information">?</span> <span class="required" title="This field is required.">Required*</span>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= form.label :gezi_reference %>
					  </div>
					  <div class="right_form">
						<%= form.text_field :gezi_reference %>
					  </div>
					
					</fieldset>
					<fieldset>
						<legend>Details</legend>
					  <div class="left_form">
					      <%= form.label :onset_first %>
					  </div>
					  <div class="right_form">
					      <%= form.date_select(:onset_first, :order=>[:day,:month,:year],:use_month_numbers=>true,:start_year=>Date.today.year,:end_year=>1970,:include_blank => true) %>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
					      <%= form.label :onset_last %>
					  </div>
					  <div class="right_form">
					      <%= form.date_select(:onset_last, :order=>[:day,:month,:year],:use_month_numbers=>true,:start_year=>Date.today.year,:end_year=>1970,:include_blank => true) %>
					  </div>
					  <div class="left_form">
					  	<%= form.label :year %>
					  </div>
					  <div class="right_form">
					  	<%= form.select(:year, options_for_select((Range.new(@earliest_date_year, @latest_date_year)).step(10) {|s| ["#{s}%", s]}, :selected => @outbreak.year.to_i ) ) %>  <span class="required" title="This field is required.">Required*</span>
					  </div>
					  
					  <div style="clear:both;"></div>  
					  <div class="left_form">
						<%= form.label :outbreak_type %>
					  </div>
					  <div class="right_form" >
					  	<%= render :partial => 'outbreak_type_select', :locals => {:outbreak_types => @outbreak_types, :f => form } %>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= form.label :transmission_mode %>
					  </div>
					  <div class="right_form" id="transmission_select">
					  	<div id="outbreak_transmission_div">
					  		<%= render :partial => 'transmission_mode_select', :locals => {:transmission_modes => @transmission_modes, :form => form} %>
						</div>  
					  </div> 
					  <div style="clear:both;"></div>
					  
					  <div class="left_form">
					      <%= form.label :point_source %>
					  </div>
					  <div class="right_form">
					      <%= form.select(:point_source, options_for_select({"Yes" => TRUE, "No" => FALSE}, :selected => @outbreak.point_source))%>
					  </div> 
					  <div style="clear:both;"></div>
					  
					  <div class="left_form">
					      <%= form.label :point_source_date %>
					  </div>
					  <div class="right_form">
					      <%= form.date_select(:point_source_date, :order=>[:day,:month,:year],:use_month_numbers=>true,:start_year=>Date.today.year,:end_year=>2008,:include_blank => true) %>
					  </div> 
					  <div style="clear:both;"></div>
					  
					  <div class="left_form">
					      <%= form.label :point_source_detail %>
					  </div>
					  <div class="right_form">
					      <%= form.text_area :point_source_detail, :cols => 60, :rows => 5 %>
					  </div>
					
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= form.label :at_risk, "Number at risk" %>
					  </div>
					  <div class="right_form">
						<%= form.text_field :at_risk, :size => 8 %>
					  </div>
					  <div style="clear:both;"></div>
					  
					  <div class="left_form">
						<%= form.label :total_affected %>
					  </div>
					  <div class="right_form">
						<%= form.text_field :total_affected, :size => 8 %>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= form.label :lab_confirmed, "Number of lab confirmed cases" %>
					  </div>
					  <div class="right_form">
						<%= form.text_field :lab_confirmed, :size => 8 %>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= form.label :admitted, "Number admitted to hospital" %>
					  </div>
					  <div class="right_form">
						<%= form.text_field :admitted, :size => 8 %>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= form.label :died, "Number of deceased " %>
					  </div>
					  <div class="right_form">
						<%= form.text_field :died, :size => 8 %>
					  </div>
					  <div style="clear:both;"></div>
					  <div class="left_form">
						<%= form.label :comment, "Please comment on the age and gender distribution" %>
					  </div>
					  
					  <div class="right_form">
						<%= form.text_area :comment, :cols => 60, :rows => 10 %>
					  </div>
					 
					</fieldset>	
				</fieldset>
			</div>
			<div id="tabs_c">
				<fieldset id="c" class="form_div" >
				
					<legend>Location</legend>
					  <div id="location_error"></div>
					        <fieldset>
							<legend>Setting</legend>
				<% form.fields_for :incidents do |incident_form| %>
								  
								  <div class="left_form">
									<%= incident_form.label :category_id %>
								  </div>
				
								  <div class="right_form">
								  	<div id="incident_category_select">
								  	<%= render :partial => 'category_select', :locals => {:categories => @categories, :incident_form => incident_form} %>
									</div>
								  </div>
								  <div style="clear:both;"></div>
				
								  <div class="left_form">
									<%= incident_form.label :subcategory_id %>
								  </div>
								  <div class="right_form">
									<div id="incident_subcategory_select">
									<%= render :partial => 'subcategory_select', :locals => { :subcategories => @subcategories, :incident_form => incident_form } %>
									</div>
								  </div>
								  <div style="clear:both;"></div>
								  <div class="left_form">
									<%= incident_form.label :subtype_id %>
								  </div>
								  <div class="right_form">
									<div id="incident_subtype_select">
									<%= render :partial => 'subtype_select',  :locals => { :subtypes => @subtypes, :incident_form => incident_form } %>
									</div>
								  </div>
								  <div style="clear:both;"></div>
								  <div id="cuisine_div">
								  	<% if @outbreak.outbreak_type == "FOODBORNE" || @outbreak.new_record? %>
								  		<div id="cuisine_div">
											<div class="left_form">
												<%= label :incident, :cuisine_id %>
											</div>
											<div class="right_form">
												<% cuisine_select = (@incident != nil ? @incident.cuisine_id.to_i : '') %>
												<%= incident_form.select( :cuisine_id, "<option value='' >Please select</option>" + options_from_collection_for_select(@cuisines, :id, :name, cuisine_select)) %>
											</div>
										</div>
									<% end %>

								  </div>
								  <div style="clear:both;"></div>
								  <div class="left_form">
									<%= incident_form.label :detail %>
								  </div>
								  <div class="right_form">
									<%= incident_form.text_field :detail %>
								  </div>
								  							 
				 		  
						</fieldset>
						<div id="incident_evidence_div">
							<% if @outbreak.outbreak_type == "NON-FOODBORNE" %>
								<% incident_form.fields_for :evidence, {:child_index => 0} do |evidence_form| %>		
										<%= render :partial => 'evidences/evidence', :locals => {:evidence_form => evidence_form, :options_for_categories => @options_for_categories} %>	
								<% end %>
							<% end %>
						</div>
						<fieldset>
							<legend>Details</legend>
							<%  incident_form.fields_for :location do |location_form| %>
								  <div style="clear:both;"></div>
								   <div class="left_form">
								    <%= location_form.label :placename %>
								  </div>
								  <div class="right_form">
								    <%= location_form.text_field :placename %> <span class="required" title="This field is required.">Required*</span>
								  </div> 
								  <div style="clear:both;"></div>
								  <div class="left_form">
								    <%= location_form.label :address_1 %>
								  </div>
								  <div class="right_form">
								    <%= location_form.text_field :address_1 %>
								  </div>
								  <div style="clear:both;"></div>
								  <div class="left_form">
								    <%= location_form.label :address_2 %>
								  </div>
								  <div class="right_form">
								    <%= location_form.text_field :address_2 %>
								  </div>
								  <div style="clear:both;"></div>
								  <div class="left_form">
								    <%= location_form.label :address_3 %>
								  </div>
								  <div class="right_form">
								    <%= location_form.text_field :address_3 %>
								  </div> 
								  <div style="clear:both;"></div>
								  <div class="left_form">
								    <%= location_form.label :town, "Ward/Town" %>
								  </div>
								  <div class="right_form">
								    <%= location_form.text_field :town %>
								  </div>
								  <div style="clear:both;"></div>
								  <div class="left_form">
								    <%= location_form.label :postcode %>
								  </div>
								  <div class="right_form">
								    <%= location_form.text_field :postcode %> <span id="opener_postcode" class="help" title="Postcode information">?</span>
								  </div>
								  <div style="clear:both;"></div>		 
								  <div class="left_form">
									<%= location_form.label :region_id %>
								  </div>
								  <div class="right_form" >
								        <% region_select = (@location != nil ? @location.region_id.to_i : '') %>
									<%= location_form.select(:region_id, "<option value=''>Select a region</option>" + options_from_collection_for_select(@regions, :id, :name, region_select)) %> <span class="required" title="This field is required.">Required*</span>
								  </div>
								  <div style="clear:both;"></div>
								  <div class="left_form">
									<%= location_form.label :hpu_id %>
								  </div>
								  <div class="right_form" >
								  	<% hpu_select = (@location != nil ? @location.hpu_id.to_i : '') %>
									<%= location_form.select(:hpu_id, "<option value=''>Select a HPU</option>" + options_from_collection_for_select(@hpus, :id, :name, hpu_select)) %> <span class="required" title="This field is required.">Required*</span>
								  </div>
								  <div style="clear:both;"></div>
								  <div class="left_form">
									<%= location_form.label :local_authority_id %>
								  </div>
								  <div class="right_form" >
								  	<% local_authority_select = (@location != nil ? @location.local_authority_id.to_i : '') %>
									<%= location_form.select(:local_authority_id, "<option value=''>Select a Local Authority</option>" + options_from_collection_for_select(@local_authorities, :id, :name, local_authority_select)) %> <span class="required" title="This field is required.">Required*</span>
								  </div>
								  <div style="clear:both;"></div>
								  
								<%= location_form.hidden_field :lon, :value => '' %>
								<%= location_form.hidden_field :lat, :value => '' %>
								<%= hidden_field_tag :postcode_error, :value => '0' %>
								<% end %>
						  </fieldset>
						  
							  
					<% end %>		
				
				</fieldset>
				
			</div>
			<div id="tabs_d">
				<fieldset id="d" class="form_div" >
					<legend>Causative Agent</legend>
					
						
							 <div class="left_form">
								<%= form.label :aetiology, "Agent Type" %><br />
							 </div>
							 <div class="right_form" >
							 	<div id="aetiology_div">
									<%= form.select(:aetiology, "<option value=''>Select an Agent Type</option>" + options_from_collection_for_select(@pathogen_types, :property_value, :property_value, @outbreak.aetiology)) %> <span id="opener_agent_type" class="help" title="Agent type information">?</span> <span class="required" title="This field is required.">Required*</span>
								</div>
								<div id="only_pathogen_types_div">
								
								</div>
							 </div>
							 <div style="clear:both;"></div>
							
							 <div id="pathogen_select">
							 	<% if !@outbreak.new_record? && @outbreak.aetiology != "MIXED" && @outbreak.bacterial_agents.length > 0 %>
							 		
										<div class="bacterial_agent">
											<% this_search = @outbreak.bacterial_agents.search(:category => "CAUSATIVE") %>
											<%= render :partial => 'bacterial_agents/bacterial_agent', :collection => this_search.all %>
										</div>
										
							 	<% end %>
							 	<% if !@outbreak.new_record? && @outbreak.aetiology != "MIXED" && @outbreak.viral_agents.length > 0 %>
							 		
										<div class="viral_agent">
											<% this_search = @outbreak.viral_agents.search(:category => "CAUSATIVE") %>
											<%= render :partial => 'viral_agents/viral_agent', :collection => this_search.all %>
										</div>
									
							 	<% end %>
							 	<% if !@outbreak.new_record? && @outbreak.aetiology != "MIXED" && @outbreak.protozoal_agents.length > 0 %>
							 		
										<div class="protozoal_agent">	
											<% this_search = @outbreak.protozoal_agents.search(:category => "CAUSATIVE") %>
											<%= render :partial => 'protozoal_agents/protozoal_agent', :collection => this_search.all %>
										</div>
										
							 	<% end %>
							 	<% if !@outbreak.new_record? && @outbreak.aetiology != "MIXED" && @outbreak.toxic_agents.length > 0 %>
							 		
										<div class="toxic_agent">
											<% this_search = @outbreak.toxic_agents.search(:category => "CAUSATIVE") %>
											<%= render :partial => 'toxic_agents/toxic_agent', :collection => this_search.all %>
										</div>
									
							 	<% end %>
							 	
							 
							 </div>
							 <div id="mixed_pathogen_select">
							 	<% if !@outbreak.new_record? && @outbreak.aetiology == "MIXED" && @outbreak.bacterial_agents.length > 0 %>
							 		
										<div class="bacterial_agent">
											<% this_search = @outbreak.bacterial_agents.search(:category => "CAUSATIVE") %>
											<%= render :partial => 'bacterial_agents/bacterial_agent', :collection => this_search.all %>
										</div>
									
							 	<% end %>
							 	<% if !@outbreak.new_record? && @outbreak.aetiology == "MIXED" && @outbreak.viral_agents.length > 0 %>
							 			
							 			<div class="viral_agent">
											<% this_search = @outbreak.viral_agents.search(:category => "CAUSATIVE") %>
											<%= render :partial => 'viral_agents/viral_agent', :collection => this_search.all %>
										</div>
										
							 	<% end %>
							 	<% if !@outbreak.new_record? && @outbreak.aetiology == "MIXED" && @outbreak.protozoal_agents.length > 0 %>
							 			
							 			<div class="protozoal_agent">	
											<% this_search = @outbreak.protozoal_agents.search(:category => "CAUSATIVE") %>
											<%= render :partial => 'protozoal_agents/protozoal_agent', :collection => this_search.all %>
										</div>
							 	<% end %>
							 	<% if !@outbreak.new_record? && @outbreak.aetiology == "MIXED" && @outbreak.toxic_agents.length > 0 %>
							 		
							 			
										<div class="toxic_agent">
											<% this_search = @outbreak.toxic_agents.search(:category => "CAUSATIVE") %>
											<%= render :partial => 'toxic_agents/toxic_agent', :collection => this_search.all %>
										</div>
									
							 	<% end %>
							 </div>
							
					  
					
	
				</fieldset>
			</div>
			<div id="tabs_e">
				<fieldset id="e_a" class="form_div">
					<legend>Associated Agents</legend>
					<p>Listing of pathogens associated with this outbreak (but <b>not</b> the probable cause of) and the relevant test details.</p>
					<table>
						<tr>
						<td class="investigation_tab"><%= link_to_remote("Bacterial", :url => {:controller => "outbreaks", :action => "add_associated_agent"},  :with => "'outbreak_type=' + encodeURIComponent($('outbreak_outbreak_type').value) +'&agent_type=BACTERIUM&id='+#{@outbreak.id ? @outbreak.id : 0}"  )  %></td>
						<td class="investigation_tab"><%= link_to_remote("Viral", :url => {:controller => "outbreaks", :action => "add_associated_agent"},  :with => "'outbreak_type=' + encodeURIComponent($('outbreak_outbreak_type').value) +'&agent_type=VIRUS&id='+#{@outbreak.id ? @outbreak.id : 0}"  )  %></td>
						<td class="investigation_tab"><%= link_to_remote("Protozoal", :url => {:controller => "outbreaks", :action => "add_associated_agent"},  :with => "'outbreak_type=' + encodeURIComponent($('outbreak_outbreak_type').value) +'&agent_type=PROTOZOA&id='+#{@outbreak.id ? @outbreak.id : 0}"  )  %></td>
						<td class="investigation_tab"><%= link_to_remote("Toxic", :url => {:controller => "outbreaks", :action => "add_associated_agent"},  :with => "'outbreak_type=' + encodeURIComponent($('outbreak_outbreak_type').value) +'&agent_type=TOXIN&id='+#{@outbreak.id ? @outbreak.id : 0}"  )  %></td>
						
						
						</tr>
					</table>
				</fieldset>
				<fieldset id="e" class="form_div">
					<legend>Listing</legend>
						
						<div id="sample_listing">
						<% if !@outbreak.new_record? && @outbreak.bacterial_agents.length > 0 %>
						
							<% this_search = @outbreak.bacterial_agents.search(:category => "ASSOCIATED") %>
							<%= render :partial => 'bacterial_agents/bacterial_agent', :collection => this_search.all, :locals => {:category => "ASSOCIATED"} %>
							
						<% end %>
						<% if !@outbreak.new_record? && @outbreak.viral_agents.length > 0 %>
						
							<% this_search = @outbreak.viral_agents.search(:category => "ASSOCIATED") %>
							<%= render :partial => 'viral_agents/viral_agent', :collection => this_search.all, :locals => {:category => "ASSOCIATED"}  %>
											
						<% end %>
						<% if !@outbreak.new_record? && @outbreak.protozoal_agents.length > 0 %>
						
							<% this_search = @outbreak.protozoal_agents.search(:category => "ASSOCIATED") %>
							<%= render :partial => 'protozoal_agents/protozoal_agent', :collection => this_search.all, :locals => {:category => "ASSOCIATED"} %>
						<% end %>
						<% if !@outbreak.new_record? && @outbreak.toxic_agents.length > 0 %>
						
							<% this_search = @outbreak.toxic_agents.search(:category => "ASSOCIATED") %>
							<%= render :partial => 'toxic_agents/toxic_agent', :collection => this_search.all, :locals => {:category => "ASSOCIATED"}  %>
							
						<% end %>
						</div>
						
						<div id="associated_sample_listing">
						
						</div>
				</fieldset>
			</div>
			<div id="tabs_f">
				<% if @outbreak.new_record? || @outbreak.outbreak_type == "FOODBORNE" %>
					
					<%= render :partial => 'outbreaks/food_vehicle_list', :locals =>{ :outbreak => @outbreak} %>
					
					<fieldset id="f_a" class="form_div">
						<legend>Origin of problem</legend>
						<div class="left_form">
							<%= label :origin_id, "Origin of problem" %>
						</div>
						<div class="right_form">
							<%= form.select(:origin_id, options_from_collection_for_select(@origins, :id, :category, @outbreak.origin_id.to_i)) %>
						</div>
						
					</fieldset>
				<% elsif @outbreak.outbreak_type == "NON-FOODBORNE" %>
					<div id="food_vehicle_div">
					</div>
					<fieldset id="f_a" class="form_div">
						<legend>Origin of problem</legend>
						<div class="left_form">
							<%= label :origin_id, "Origin of problem" %>
						</div>
						<div class="right_form">
							<%= form.select(:origin_id, options_from_collection_for_select(@origins, :id, :category, @outbreak.origin_id.to_i)) %>
						</div>
						
					</fieldset>
				<% end %>
				<div id="food_vehicle_div">

				</div>
				
			</div>
			<div id="tabs_g">
				<fieldset id="g" class="form_div" >
					<legend>Factors</legend>
						<div id="factor_div">
							 <div class="left_form">
								<%= label_tag :factor %>
							 </div>
							 <div class="right_form" >
							 	<div id="risk_select">
							 	<%= collection_select(:factor, :factor_id,  @factors,  :id, :name,{:prompt   => "Select a contributing factor"},{:onchange => "#{remote_function(:url  => {:action => "add_risk"},:with => 'params_to_new_risk()' << "+'&factor_id='+value+'&id='+#{@outbreak.id ? @outbreak.id : 0}")}"}) %> <span id="opener_risk" class="help" title="Risk information">?</span> <span class="required" title="This field is required.">Required*</span>
							 	</div>
							 </div>
							 <div style="clear:both;"></div>
						</div>
						
							<div id="risk_list">
								<% if !@outbreak.new_record? && @outbreak.risks.length > 0 %>
									
							 			
							 			<div class="risk">
							 			<%= render :partial => 'risk', :collection => @outbreak.risks %>
							 			</div>
							 		
									
								<% end %>
							</div>
						
						
	 
				</fieldset>
			</div>

			
			<div id="tabs_h">
				<fieldset>
					<legend>Control measures</legend>
					<div>
						<p>
						Details on the control measures.
						</p>
						
						<% form.fields_for :response do |response_form| %>
							<div class="left_form">
								<%= response_form.label :notice_issued, "Has an improvement notice been served?" %>
							</div>
							<div class="right_form">
								
								<%= response_form.select(:notice_issued, options_for_select([ ["NOT RELEVANT", "NOT RELEVANT"], ["YES", "YES"], ["NO","NO"] ], @outbreak.response.notice_issued)) %>
							</div>
							<div style="clear:both;"></div>
							<div id="food_premise_rating">
								<div class="left_form">
									<%= response_form.label :inspection_rating, "Food premises inspection rating (A-E)" %>
								</div>
								<div class="right_form">
									
									<%= response_form.select(:inspection_rating, options_for_select([ ["NOT RELEVANT", "NOT RELEVANT"], ["A","A"], ["B","B"], ["C","C"], ["D","D"], ["E","E"], ["UNKNOWN","UNKNOWN"] ], @outbreak.response.inspection_rating)) %> <span id="opener_inspection_rating" class="help" title="Inspection rating information">?</span> 
								</div>
							</div>
							<div style="clear:both;"></div>
							<div id="food_hygiene_rating">
								<div class="left_form">
									<%= response_form.label :hygiene_rating, "Premises Food Hygiene Rating (0-5)" %>
								</div>
								<div class="right_form">
									
									<%= response_form.select(:hygiene_rating, options_for_select([ ["NOT RELEVANT", "NOT RELEVANT"], ["0","0"], ["1","1"], ["2","2"], ["3","3"], ["4","4"], ["5","5"], ["UNKNOWN","UNKNOWN"] ], @outbreak.response.hygiene_rating)) %> 
								</div>
							</div>
							<div class="left_form">
								<%= response_form.label :comment %>
							</div>
							<div class="right_form">
								<%= response_form.text_area :comment, :cols => 60, :rows => 10 %>
							</div>

							<div style="clear:both;"></div>
							<fieldset>
								<legend>Control measures</legend>
									<div class="left_form">
										Control Measures
									</div>
									<div class="right_form">
										<span class="highlight_tab"><%= link_to_remote("Add control measure ", :url => {:action => "new_control_measure"}  )  %></span>
									</div>
							
								<div style="clear:both;"></div>
								<div id="measures_list">
								<% if !@outbreak.new_record? && @outbreak.response %>
									<% if @outbreak.response.measures.length > 0 %>
										<div class="measure">
											<%= render :partial => 'measure', :collection => @outbreak.response.measures %>
										</div>
									<% end %>
							 	<% end %>
								</div>
							</fieldset>
						<% end %>
					</div>
					<div>
						<fieldset>
							<legend>Attachments</legend>
								<div style="clear:both;"></div>
								<div class="left_form">
									<%= form.label :report %>
								</div>
								<div class="right_form">
									<%= form.file_field :report %> <span id="opener_report_upload" class="help" title="Report upload information">?</span>
								</div>
						</fieldset>
						<% if @outbreak.report_file_name %>
							<fieldset>
								<legend>Attached report details</legend>
								<table>
									<tr>
										<th>File name</th>
										<th>File type</th>
										<th>File size</th>
										<th>File updated at</th>
									</tr>
									<tr>
										<td><%= link_to ("#{@outbreak.report_file_name}", :controller => "outbreaks", :action => "download_report", :id => @outbreak.id.to_s )  %></td>
										<td><%=h @outbreak.report_content_type ? @outbreak.report_content_type : 'Unknown' %></td>
										<td><%=h @outbreak.report_file_size ? @outbreak.report_file_size : 'Unknown' %></td>
										<td><%=h @outbreak.report_updated_at ? @outbreak.report_updated_at : 'Unknown' %></td>
									</tr>
								</table>
							
							</fieldset>
						<% end %>
					
					</div>
					
				</fieldset>
			</div>
								
	</div>
	<% end %>
	
	<div style="clear: both; margin: 10px;"></div>
	<%= observe_field(:outbreak_incidents_attributes_0_location_attributes_postcode, 
			  :url => { :controller => :locations, :action => :find_lonlat },
			  :on => "onchange",
			  :loading => "Element.show('loader')",
			  :success => "Element.hide('loader')",
			  :with => "'postcode=' + encodeURIComponent($('outbreak_incidents_attributes_0_location_attributes_postcode').value)" ) %>
	
	<%= observe_field(:outbreak_aetiology, 
			  :url => { :controller => :outbreaks, :action => :get_pathogen },
			  :on => "onchange",
			  :loading => "Element.show('loader')",
			  :success => "Element.hide('loader')",
			  :with => 'params_to_new_agent()' << "+ '&aetiology=' + encodeURIComponent($('outbreak_aetiology').value) + '&outbreak_type=' + encodeURIComponent($('outbreak_outbreak_type').value)" ) %>
			  
						
	
<% else %>
	<p>Please sign in for access</p>
<% end %>
