<% if agent_type == "BACTERIUM" %>
	<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :bacterial_agents,{:child_index => @next_child_index} do |this_form| %>
		<% this_form.fields_for :investigation do |investigation_form| %>
			<div class="investigation">
			<%= render :partial => 'investigations/investigation', :locals => {:investigation_form => investigation_form, :agent => this_agent  } %>
			</div>
		<% end %>
	<% end %>
<% elsif agent_type == "VIRUS" %>
	<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :viral_agents,{:child_index => @next_child_index} do |this_form| %>
		<% this_form.fields_for :investigation do |investigation_form| %>
			<div class="investigation">
			<%= render :partial => 'investigations/investigation', :locals => {:investigation_form => investigation_form, :agent => this_agent  } %>
			</div>
		<% end %>
	<% end %>
<% elsif agent_type == "PROTOZOA" %>
	<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :protozoal_agents,{:child_index => @next_child_index} do |this_form| %>
		<% this_form.fields_for :investigation do |investigation_form| %>
			<div class="investigation">
			<%= render :partial => 'investigations/investigation', :locals => {:investigation_form => investigation_form, :agent => this_agent  } %>
			</div>
		<% end %>
	<% end %>
<% elsif agent_type == "TOXIN" %>
	<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :toxic_agents,{:child_index => @next_child_index} do |this_form| %>
		<% this_form.fields_for :investigation do |investigation_form| %>
			<div class="investigation">
			<%= render :partial => 'investigations/investigation', :locals => {:investigation_form => investigation_form, :agent => this_agent  } %>
			</div>
		<% end %>
	<% end %>
<% end %>
