		<% new_or_existing = measure.new_record? ? 'new' : 'existing' %>
		
		<% prefix = "outbreak[response_attributes][#{new_or_existing}_measure_attributes][]" %>
		<% fields_for prefix, measure do |measure_form| %>

					<fieldset>
						<legend>Control measure detail</legend>
						
							<div class="left_form">
								<%= measure_form.label :description %>
							</div>
							<div class="right_form">
								<%= measure_form.text_area :description, :cols => 60, :rows => 2 %>
							</div>
							<div style="clear:both;"></div>
							<% if !measure.new_record? %>
									Delete <%= measure_form.check_box :_destroy %>
							<% else %>
									<span class="remove"><%= link_to_function "remove", "$(this).up('.measure').remove()" %></span>
							<% end %>
						
					</fieldset>
		<% end %>
