<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :response, {:child_index => @next_child_index} do |response_form| %>
	<% response_form.fields_for :measures, {:child_index => @next_child_index} do |measure_form| %>
		<div class="measure">
		<%= render :partial => 'outbreaks/measure', :locals => {:measure_form => measure_form} %>
		</div>
	<% end %>
<% end %>
