<% with_str = "'outbreak_type=' + value " %>
<% if @outbreak.id %>
<% with_str << "+ '&id=' + #{@outbreak.id}" %>
<% end %>
<%= f.collection_select(:outbreak_type, @outbreak_types, :property_value, :property_value, {}, {:onchange => "#{remote_function(:url  => { :action => "update_select_menus"}, :with => with_str)}"}  ) %> <span class="required" title="This field is required.">Required*</span>					
