<% @outbreaks.each do |outbreak| %>
	
	<fieldset class='outbreak' id='outbreak_<%= outbreak.id %>'>
		<legend class='legend_title'>Outbreak :: <%= link_to "#{outbreak.id}", outbreak_path(outbreak), {:title => "Show outbreak"} %> :: <%=h outbreak.onset_first ? outbreak.onset_first : "Unknown" %> -- <%=h outbreak.onset_last ? outbreak.onset_last : "Unknown" %> </legend>
			
			<% if outbreak.locations.first.postcode == "NATIONAL" %>
				<div class="national" title="National outbreak no specific source">National</div>
			<% end %>
			<% if outbreak.locations.first.lat && outbreak.locations.first.lon && outbreak.onset_first %>
				<div title="Center map and timeline" style="cursor: pointer" onclick="focusRegion('<%=h outbreak.locations.first.lat %>','<%=h outbreak.locations.first.lon %>',13,<%=h outbreak.onset_first.year %>,<%=h outbreak.onset_first.month %>,<%=h outbreak.onset_first.day %>)">
			<% else %>
				<div>
			<% end %>
					<table>
						<tr><th colspan="2">Reference</th><th>GEZI ref</th></tr>
						<tr><td colspan="2"><%=h outbreak.user_reference %></td><td><%=h outbreak.gezi_reference %></td></tr>
						<tr><th>Transmission mode</th><th>Aetiology</th><th>Outbreak type</th></tr>
						<tr><td><%=h outbreak.transmission_mode %></td><td><%=h outbreak.aetiology %></td><td><%=h outbreak.outbreak_type %></td></tr>
						<tr><th colspan="3">Pathogen</th></tr>
						<% if outbreak.bacteria.length > 0 %>
							<% outbreak.bacteria.each do |this_agent| %>
								<tr><td colspan="3"><svg width="12px" height="12px"><circle cx="6" cy="6" r="5" fill="darkorange"></circle></svg> <%=h this_agent.name %></td></tr>
							<% end %>
						<% elsif outbreak.aetiology == "BACTERIUM" && outbreak.bacteria.length == 0 %>
								<tr><td colspan="3"><svg width="12px" height="12px"><circle cx="6" cy="6" r="5" fill="darkorange"></circle></svg> UNKNOWN BACTERIUM</td></tr>
						<% end %>
						<% if outbreak.viruses.length > 0 %>
							<% outbreak.viruses.each do |this_agent| %>
								<tr><td colspan="3"><svg width="12px" height="12px"><circle cx="6" cy="6" r="5" fill="darkred"></circle></svg> <%=h this_agent.name %></td></tr>
							<% end %>
						<% elsif outbreak.aetiology == "VIRUS" && outbreak.viruses.length == 0 %>
								<tr><td colspan="3"><svg width="12px" height="12px"><circle cx="6" cy="6" r="5" fill="darkred"></circle></svg> UNKNOWN VIRUS</td></tr>
						<% end %>
						<% if outbreak.protozoas.length > 0 %>
							<% outbreak.protozoas.each do |this_agent| %>
								<tr><td colspan="3"><svg width="12px" height="12px"><circle cx="6" cy="6" r="5" fill="skyblue"></circle></svg> <%=h this_agent.name %></td></tr>
							<% end %>
						<% elsif outbreak.aetiology == "PROTOZOA" && outbreak.protozoas.length == 0 %>
								<tr><td colspan="3"><svg width="12px" height="12px"><circle cx="6" cy="6" r="5" fill="skyblue"></circle></svg> UNKNOWN PROTOZOA</td></tr>
						<% end %>
						<% if outbreak.toxins.length > 0 %>
							<% outbreak.toxins.each do |this_agent| %>
								<tr><td colspan="3"><svg width="12px" height="12px"><circle cx="6" cy="6" r="5" fill="limegreen"></circle></svg> <%=h this_agent.name %></td></tr>
							<% end %>
						<% elsif outbreak.aetiology == "TOXIN" && outbreak.toxins.length == 0 %>
								<tr><td colspan="3"><svg width="12px" height="12px"><circle cx="6" cy="6" r="5" fill="limegreen"></circle></svg> UNKNOWN TOXIN</td></tr>
						<% end %>
						<% if outbreak.aetiology == "UNKNOWN" %>
								<tr><td colspan="3"><svg width="12px" height="12px"><circle cx="6" cy="6" r="5" fill="purple"></circle></svg> UNKNOWN AGENT</td></tr>
						<% end %>
						<% if outbreak.aetiology == "MIXED" %>
								<tr><td colspan="3"><svg width="12px" height="12px"><circle cx="6" cy="6" r="5" fill="yellow"></circle></svg> MIXED AGENTS</td></tr>
						<% end %>
					</table>
				</div>
		</legend>
	</fieldset>
	
<% end %>
