
<% @risks.each do |risk| %>
	<fieldset class='risk' id='risk_<%= risk.factor.id %>'>
	<legend class='legend_title'>
			<%=h risk.factor.name %>
	</legend>
	<%= hidden_field_tag "#{risk.factor.name}[factor_id]", risk.factor_id %>
	<table>
		<tr><th>Details</td></tr>
		<tr><td class='comment'>
			
			<%= text_area_tag "#{risk.factor.name}[detail]", risk.detail, :rows => '3', :cols => '100' %>									
			</td></tr></table><div style='float:right;'>
	<%= image_tag("delete_sm.png", {:id => "button_#{risk.factor.id}", :name => "button_#{risk.factor.id}", :onclick => "$('risk_#{risk.factor.id}').remove(); return false;", :alt => "Remove factor", :title => "Remove factor" }) %>
	</div></fieldset>
<% end %>
