<div id="risk_select">
<%= collection_select(:factor, :factor_id,  @factors,  :id, :name,{:prompt   => "Select a contributing factor"},{:onchange => "#{remote_function(:url  => {:action => "add_risk"},:with => 'params_to_new_risk()' << "+'&factor_id='+value+'&id='+#{@outbreak.id ? @outbreak.id : 0}")}"}) %> *required
</div>
