		
		<% new_or_existing = risk.new_record? ? 'new' : 'existing' %>
		<% prefix = "outbreak[#{new_or_existing}_risk_attributes][]" %>
		<% fields_for prefix, risk do |risk_form| %>
		<fieldset>
			<legend>
			<% if risk.factor %>
				<%=h risk.factor.name %>
			<% end %>
			</legend>
			<%= risk_form.text_area :detail, :rows => '3', :cols => '100'  %>
			
			<%= risk_form.hidden_field :factor_id, {:value => risk.factor_id} %>
			<% if !risk.new_record? %>
					Delete <%= risk_form.check_box :_destroy %>
			<% else %>
					<span class="remove"><%= link_to_function "remove", "$(this).up('.risk').remove()" %></span>
			<% end %>
		</fieldset>
		<% end %>
