<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :risks,{:child_index => @next_child_index} do |this_form| %>
<div class="risk">
<%= render :partial => 'risk', :locals => {:risk_form => this_form, :factor => @factor, :factor_id => @factor.id } %>
</div>
<% end %>
