<% with_str = "'subcategory_id=' + value " %>
<% if @outbreak.id %>
<% with_str << "+ '&id=' + #{@outbreak.id}" %>
<% end %>	
<%= incident_form.collection_select( :subcategory_id, @subcategories, :id, :name,
			     {:prompt   => "Select a subcategory"},
			     {:onchange => "#{remote_function(:url  => { :action => "update_subtype"},
							      :with => with_str)}"}) %> <span class="required" title="This field is required.">Required*</span>

