<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :incidents,{:child_index => @next_child_index} do |this_form| %>
<%= render :partial => 'subcategory_select', :locals => {:incident_form => this_form } %>
<% end %>
