<div id="outbreak_transmission_div">
<%= select(:outbreak, :transmission_mode, options_from_collection_for_select(@transmission_modes, :property_value, :property_value, "#{@outbreak.transmission_mode}")) %> <span class="required" title="This field is required.">Required*</span>
</div>
