	
	<script type="text/javascript">

	  
	    var $j = jQuery.noConflict();
	    
	    $j(document).ready(function() {
			    new Highcharts.Chart({
			      chart: {
				renderTo: "outbreaks_chart"
			      },
			      title: {
				text: "Outbreaks"
			      },
			      xAxis: {
			      	title: {
			      		text: "Months"
			      	},
				categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
			      },
			      yAxis: {
				title: {
				  text: "Total monthly outbreaks by first onset date"
				},
				max: 40,
				min: 0
			      },
			      tooltip: {
				 formatter: function() {
				    return '<b>Year</b> '+this.series.name+'<br/>'+
				    	   '<b>Month</b> '+this.x+'<br\>'+
				    	   '<b>Outbreaks</b> '+this.y;
				 }
			      },
			      series: [
			      
			      <% @years.each_with_index do |this_year, index| %>
				     
			      	      {
				        type: 'line',
					<%=h @ordered_series[this_year] %>
				      }
				      <% if index < @years.length - 1 %>
				      ,
				      <% end %>
			      <% end %>      
			      ]
			    });	    
	    });
	</script>

	<div id="outbreaks_chart"></div>