<h1>Listing inactive outbreaks for review</h1>
<% if @outbreaks.length > 0 %>

	<table>
	  <tr>
	    <th>Id</th>
	    <th>Current state</th>
	    <th>Onset first</th>
	    <th>Onset last</th>
	    <th>User reference</th>
	    <th>Gezi reference</th>
	    <th>Ilog reference</th>
	    <th>Transmission mode</th>
	    <th>Lab confirmed</th>
	    <th>Total affected</th>
	    <th>At risk</th>
	    <th>Admitted</th>
	    <th>Died</th>
	  </tr>
	
	<% @outbreaks.each do |outbreak| %>
	
		<% if outbreak.current_state == 'draft' %>
		<% 	this_class = "draft" %>
		<% elsif outbreak.current_state == 'active' %>
		<% 	this_class = "active" %>
		<% elsif outbreak.current_state == 'inactive' %>
		<% 	this_class = "inactive" %>
		<% end %>
	  <tr>
	    <td><%=h outbreak.id %></td>
	    <td class="<%=h this_class %>"><%=h outbreak.current_state %></td>
	    <td><%=h outbreak.onset_first %></td>
	    <td><%=h outbreak.onset_last %></td>
	    <td><%=h outbreak.user_reference %></td>
	    <td><%=h outbreak.gezi_reference %></td>
	    <td><%=h outbreak.ilog_reference %></td>
	    <td><%=h outbreak.transmission_mode %></td>
	    <td><%=h outbreak.lab_confirmed %></td>
	    <td><%=h outbreak.total_affected %></td>
	    <td><%=h outbreak.at_risk %></td>
	    <td><%=h outbreak.admitted %></td>
	    <td><%=h outbreak.died %></td>
	    <td class="action"><%= link_to 'Activate', :controller => 'outbreaks', :action => 'activate_state', :outbreak => outbreak.id %></td>
	    <td class="action"><%= link_to 'Show', outbreak %></td>
	    <td class="action"><%= link_to 'Edit', edit_outbreak_path(outbreak) %></td>
	    <td class="action"><%= link_to 'Destroy', outbreak, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
	<%= will_paginate @outbreaks %>
	<br />
	
	<span class="highlight_span"><%= link_to 'New outbreak', new_outbreak_path %></span>
<% else %>
	<p>Currently no inactive Outbreak records.</p>
	<br></br>
	<span class="highlight_tab"><%= link_to 'Back to Admin section', :controller => 'pages', :action => 'admin_section'  %></span>
<% end %>