<%= render :partial => 'shards/search_partial' %>
<fieldset>
	<legend>Listing outbreaks</legend>

	<table>
	  <tr>
	    <th><%= order @search, :by => :id %></th>
	    <th><%= order @search, :by => :user_id, :as => "Submitted by" %></th>
	    
	    <th><%= order @search, :by => :onset_first %></th>
	    <th><%= order @search, :by => :onset_last %></th>
	    <th><%= order @search, :by => :aetiology, :as => "Agent type" %></th>
	    <th>Causative Agent</th>
	    
	    <th><%= order @search, :by => :transmission_mode %></th>
	    <th><sup><%= order @search, :by => :at_risk, :as => "At Risk" %></sup></th>
	    <th><sup><%= order @search, :by => :total_affected, :as => "Affected" %></sup></th>
	    <th><sup><%= order @search, :by => :lab_confirmed, :as => "Confirmed" %></sup></th>
	    <th><sup><%= order @search, :by => :admitted, :as => "Admitted" %></sup></th>
	    <th><sup><%= order @search, :by => :died, :as => "Died" %></sup></th>
	    <td class="empty"></td>
	    <td class="empty"></td>
	    <td class="empty"></td>
	  </tr>
	<% begin %>
	<% @outbreaks.each do |outbreak| %>
		<% if outbreak.current_state == 'draft' %>
		<% 	this_class = "highlight_draft" %>
		
		<% elsif outbreak.current_state == 'active' %>
		<% 	this_class = "highlight_active" %>
		
		<% elsif outbreak.current_state == 'inactive' %>
		<% 	this_class = "highlight_inactive" %>
		
		<% end %>
	  <tr class="<%= cycle("even", "odd") %>">
	    <td title="GEZI ref :: <%=h outbreak.gezi_reference -%> <%=h outbreak.current_state.upcase %>"><div class="<%= this_class.to_s %>"><%=h outbreak.id %></div></td>
	    <td><%=h outbreak.user.fname %> <%=h outbreak.user.lname %></td>
	    
	    <td><%=h outbreak.onset_first %></td>
	    <td><%=h outbreak.onset_last %></td>
	    <td><%=h outbreak.aetiology %></td>
	    <td><sup><%=h outbreak.agent_name %></sup></td>
	
	    <td><%=h outbreak.transmission_mode %></td>
	    <td><%=h outbreak.at_risk ? outbreak.at_risk : "NK" %></td>
	    <td><%=h outbreak.total_affected ? outbreak.total_affected : "NK" %></td>
	    <td><%=h outbreak.lab_confirmed ? outbreak.lab_confirmed : "NK" %></td>
	    <td><%=h outbreak.admitted ? outbreak.admitted : "NK" %></td>
	    <td><%=h outbreak.died ? outbreak.died : "NK" %></td>
	    
	    <td class="action"><%= link_to 'Show', outbreak %></td>
	    <% if current_user.role?("admin") %>
		    <td class="action"><%= link_to 'Edit', edit_outbreak_path(outbreak) %></td>
		    <td class="action"><%= link_to 'Destroy', outbreak, :confirm => 'Are you sure?', :method => :delete %></td>
	    <% elsif current_user.id == outbreak.user_id %>
	    	    <td class="action"><%= link_to 'Edit', edit_outbreak_path(outbreak) %></td>
	    	    <td class="empty"></td>
	    <% else %>
	    	    <td class="empty"></td>
	    	    <td class="empty"></td>
	    <% end %>
	  </tr>
	<% end %>
	<% rescue %>
	<tr>
		<td colspan="13" style="border: 1px solid red;">Error loading the Outbreak record</td>
	</tr>
	<% end %>
	</table>
	<%= will_paginate @outbreaks, :class => 'efoss_pagination' %>
	<br />
	
	<span class="highlight_span"><%= link_to 'New outbreak', new_outbreak_path %></span> || <% if @search_params %><span class="highlight_tab" title="Export query as a CSV flatfile"><%= link_to_remote 'Export', :url => { :controller => :exports, :action => "listing", :with => @search_params }%></span><% else %><span class="highlight_tab" title="Export all records as a CSV flatfile"><%= link_to_remote 'Export all', :url => { :controller => :exports, :action => "listing", :with => "all" } %></span><% end %> 	
	<div id="export_status"><div id="link_to_file"></div><div id="notice"></div></div>
</fieldset>
<%= render :partial => 'shards/search_summary_partial' %>