<% require 'cgi' %>
<%= Mapstraction.header(:microsoft) %>
<%= @map.to_html %>

<fieldset>
	<legend>Outbreak</legend>
	<table>
		<tr>
			<th>Id</th><th>Onset first</th><th>Onset last</th><th>User reference</th><th>GEZI reference</th><th>Transmission mode</th>
		</tr>
		<tr>
			<td><%=h @outbreak.id %></td><td><%=h @outbreak.onset_first %></td><td><%=h @outbreak.onset_last %></td><td><%=h @outbreak.user_reference %></td><td><%=h @outbreak.gezi_reference %></td><td><%=h @outbreak.transmission_mode %></td>
		</tr>
		<tr>
			<th>At risk</th><th>Total affected</th><th>Lab confirmed</th><th>Admitted</th><th>Died</th><th>Aetiology</th>
		</tr>
		<tr>
			<td><%=h @outbreak.at_risk ? @outbreak.at_risk : "NK" %></td><td><%=h @outbreak.total_affected ? @outbreak.total_affected : "NK" %></td><td><%=h @outbreak.lab_confirmed ? @outbreak.lab_confirmed : "NK" %></td><td><%=h @outbreak.admitted ? @outbreak.admitted : "NK" %></td><td><%=h @outbreak.died ? @outbreak.died : "NK" %></td><td><%=h @outbreak.aetiology %></td>
		</tr>
		<tr>
			<th colspan="6">Comment</th>
		</tr>
		<tr>
			<td colspan="6" class="comment"><%= text_area_tag :comment, @outbreak.comment, :size => "100x5", :readonly => true %></td>
		</tr>
	
	</table>
</fieldset>
<fieldset>
	<legend>Reporter</legend>
	<% if @outbreak.reporter %>
		<table>
			<tr>
				<th>Title</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Telephone</th>
				<th>Email</th>
				<th>Position</th>
			</tr>
			<tr>
				<td><%=h @outbreak.reporter.title ? @outbreak.reporter.title : '' %></td>
				<td><%=h @outbreak.reporter.fname ? @outbreak.reporter.fname : '' %></td>
				<td><%=h @outbreak.reporter.lname ? @outbreak.reporter.lname : '' %></td>
				<td><%=h @outbreak.reporter.telephone ? @outbreak.reporter.telephone : '' %></td>
				<td><a href="mailto:<%=h @outbreak.reporter.email %>"><%=h @outbreak.reporter.email ? @outbreak.reporter.email : '' %></a></td>
				<td><%=h @outbreak.reporter.position ? @outbreak.reporter.position : '' %></td>
			</tr>
		</table>
	<% else %>
		<p>No reporter details</p>
	<% end %>
</fieldset>
<fieldset>
	<legend>Submitting user</legend>
	<% if @outbreak.user %>
		<table>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
			</tr>
			<tr>
				<td><%=h @outbreak.user.fname ? @outbreak.user.fname : '' %></td>
				<td><%=h @outbreak.user.lname ? @outbreak.user.lname : '' %></td>
				<td><a href="mailto:<%=h @outbreak.reporter.email %>"><%=h @outbreak.user.email ? @outbreak.user.email : '' %></a></td>
			</tr>		
		</table>
	<% else %>
		<p>No submitting user details</p>
	<% end %>
</fieldset>
<% if @locations && @location %>
	<% @locations.each do |location| %>
	<fieldset>
		<legend>Location</legend>
		<table class="location_table">
			<tr>
				<th>Id</th><th>Place name</th>
			</tr>
			<tr>
				<td><%=h location.id %></td><td><%=h location.placename %></td>
			</tr>
			<tr>
				<th colspan="2">Place detail</th>
			</tr>
			<tr>
				<td colspan="2"><%=h location.incidents.first.detail %></td>
			</tr>
			<tr>
				<th colspan="2">Address 1</th>
			</tr>
			<tr>
				<td><%=h location.address_1 %></td>
			</tr>
			<tr>
				<th colspan="2">Address 2</th>
			</tr>
			<tr>
				<td><%=h location.address_2 %></td>
			</tr>
			<tr>
				<th colspan="2">Address 3</th>
			</tr>
			<tr>
				<td><%=h location.address_3 %></td>
			</tr>
			<tr>
				<th colspan="2">Postcode</th>
			</tr>
			<tr>
				<td><%=h location.postcode %></td>
			</tr>
			<tr>
				<th>Town / Ward</th><th>Region</th>
			</tr>
			<tr>	
				<td><%=h location.town ? CGI.unescapeHTML(location.town) : "Not specified" %></td><td colspan="2"><%=h location.region ? CGI.unescapeHTML(location.region.name) : "Not specified" %></td>
			</tr>
			<tr>
				<th colspan="2">HPU</th>
			</tr>
			<tr>
				<td colspan="2"><%=h location.hpu ? location.hpu.name : "Not specified"%></td>
			</tr>
			<tr>
				<th>Category</th><th>Subcategory</th>
			</tr>
			<tr>
				<td><% if location.incidents.first.category %><%=h location.incidents.first.category.name %><% else %>Not specified<% end %></td><td><% if location.incidents.first.subcategory %><%=h location.incidents.first.subcategory.name %><% else %>Not specified<% end %></td>
			</tr>
			<tr>
				<th>Subtype</th><th><% if location.incidents.first.cuisine %>Cuisine<% else %><% end %></th>
			</tr>
			<tr>
				<td><% if location.incidents.first.subtype %><%=h location.incidents.first.subtype.name %><% else %>Not specified<% end %></td><td><% if location.incidents.first.cuisine %><%=h location.incidents.first.cuisine.name %><% else %><% end %></td>
			</tr>
		</table>
		<div id="map_container_small">
			<%= @map.div(:width => 400, :length => 450) %>
		</div>
	</fieldset>
	<% end %>
<% end %>
<% if @outbreak.aetiology %>
<fieldset>
	<legend>Aetiology :: <%=h @outbreak.aetiology %></legend>
	<% if @bacterial_agents.length > 0 %>
		<% @bacterial_agents.each do |bacterial_agent| %>
			<fieldset>
			<% if bacterial_agent.bacterium  %>
				<legend><strong><%=h bacterial_agent.category %></strong> Bacterial agent :: <%=h bacterial_agent.bacterium.name %></legend>
			<% else %>
				<legend>Bacterial agent :: UNKNOWN</legend>
			<% end %>
				<table>
					<tr>
						<th>Serotype</th><th>Phagetype</th><th>Other Typing</th><th>Confirmed</th>
					</tr>
					<tr>
						<td><%=h bacterial_agent.serotype %></td><td><%=h bacterial_agent.phagetype %></td><td><%=h bacterial_agent.other_typing %></td><td><%=h bacterial_agent.confirmed %></td>
					</tr>
					<tr>
						<th colspan="4">Comment</th>
					</tr>
					<tr>
						<td colspan="4" class="comment"><%= text_area_tag :bacterium_comment, bacterial_agent.comment, :size => "100x5", :readonly => true %></td>
					</tr>
				</table>
			
			<% if bacterial_agent.investigation %>
				<fieldset>
					<legend>Investigation</legend>
					<table>
						<tr>
							<th>Category</th>
							<th>Level</th>
						</tr>
						<tr>
							<td><%=h bacterial_agent.investigation.category %></td>
							<td><%=h bacterial_agent.investigation.level %></td>
						</tr>
						<tr>
							<th colspan=2>Comment</th>
						</tr>
						<tr>
							<td colspan=2 class="comment"><%= text_area_tag :bacterial_agent_investigation_comment, bacterial_agent.investigation.comment, :size => "100x3", :readonly => true %></td>
						</tr>
					</table>
				</fieldset>
			
			<% end %>
			</fieldset>
		<% end %>
	<% end %>
	<% if @viral_agents.length > 0 %>
		<% @viral_agents.each do |viral_agent| %>
			<fieldset>
			<% if viral_agent.virus  %>
				<legend><strong><%=h viral_agent.category %></strong> Viral agent :: <%=h viral_agent.virus.name %></legend>
			<% else %>
				<legend>Viral agent :: UNKNOWN</legend>
			<% end %>
				<table>
					<tr>
						<th>Other Typing</th><th>Confirmed</th>
					</tr>
					<tr>
						<td><%=h viral_agent.other_typing %></td><td><%=h viral_agent.confirmed %></td>
					</tr>
					<tr>
						<th colspan="4">Comment</th>
					</tr>
					<tr>
						<td colspan="4" class="comment"><%= text_area_tag :virus_comment, viral_agent.comment, :size => "100x5", :readonly => true %></td>
					</tr>
				</table>
			
			<% if viral_agent.investigation %>
				<fieldset>
					<legend>Investigation</legend>
					<table>
						<tr>
							<th>Category</th>
							<th>Level</th>
						</tr>
						<tr>
							<td><%=h viral_agent.investigation.category %></td>
							<td><%=h viral_agent.investigation.level %></td>
						</tr>
						<tr>
							<th colspan=2>Comment</th>
						</tr>
						<tr>
							<td colspan=2 class="comment"><%= text_area_tag :viral_agent_investigation_comment, viral_agent.investigation.comment, :size => "100x3", :readonly => true %></td>
						</tr>
					</table>
				</fieldset>
			
			<% end %>
			</fieldset>
		<% end %>
	<% end %>
	<% if @protozoal_agents.length > 0 %>
		<% @protozoal_agents.each do |protozoal_agent| %>
			<fieldset>
			<% if protozoal_agent.protozoa %>
				<legend><strong><%=h protozoal_agent.category %></strong> Protozoal agent :: <%=h protozoal_agent.protozoa.name %></legend>
			<% else %>
				<legend>Protozoal agent :: UNKNOWN</legend>
			<% end %>
				<table>
					<tr>
						<th>Other Typing</th><th>Confirmed</th>
					</tr>
					<tr>
						<td><%=h protozoal_agent.other_typing %></td><td><%=h protozoal_agent.confirmed %></td>
					</tr>
					<tr>
						<th colspan="4">Comment</th>
					</tr>
					<tr>
						<td colspan="4" class="comment"><%= text_area_tag :protozoa_comment, protozoal_agent.comment, :size => "100x5", :readonly => true %></td>
					</tr>
				</table>
			
			<% if protozoal_agent.investigation %>
				<fieldset>
					<legend>Investigation</legend>
					<table>
						<tr>
							<th>Category</th>
							<th>Level</th>
						</tr>
						<tr>
							<td><%=h protozoal_agent.investigation.category %></td>
							<td><%=h protozoal_agent.investigation.level %></td>
						</tr>
						<tr>
							<th colspan=2>Comment</th>
						</tr>
						<tr>
							<td colspan=2 class="comment"><%= text_area_tag :protozoal_agent_investigation_comment, protozoal_agent.investigation.comment, :size => "100x3", :readonly => true %></td>
						</tr>
					</table>
				</fieldset>
			
			<% end %>
			</fieldset>
		<% end %>
	<% end %>
	<% if @toxic_agents.length > 0 %>
		<% @toxic_agents.each do |toxic_agent| %>
			<fieldset>
			<% if toxic_agent.toxin %>
				<legend><strong><%=h toxic_agent.category %></strong> Toxic agent :: <%=h toxic_agent.toxin.name %></legend>
			<% else %>
				<legend>Toxic agent :: UNKNOWN </legend>
			<% end %>
				<table>
					<tr>
						<th>Concentration</th><th>Confirmed</th>
					</tr>
					<tr>
						<td><%=h toxic_agent.concentration %></td><td><%=h toxic_agent.confirmed %></td>
					</tr>
					<tr>
						<th colspan="4">Comment</th>
					</tr>
					<tr>
						<td colspan="4" class="comment"><%= text_area_tag :toxin_comment, toxic_agent.comment, :size => "100x5", :readonly => true %></td>
					</tr>
				</table>
			
			<% if toxic_agent.investigation %>
				<fieldset>
					<legend>Investigation</legend>
					<table>
						<tr>
							<th>Category</th>
							<th>Level</th>
						</tr>
						<tr>
							<td><%=h toxic_agent.investigation.category %></td>
							<td><%=h toxic_agent.investigation.level %></td>
						</tr>
						<tr>
							<th colspan=2>Comment</th>
						</tr>
						<tr>
							<td colspan=2 class="comment"><%= text_area_tag :toxic_agent_investigation_comment, toxic_agent.investigation.comment, :size => "100x3", :readonly => true %></td>
						</tr>
					</table>
				</fieldset>
			
			<% end %>
			</fieldset>
		<% end %>
	<% end %>
	
</fieldset>
<% end %>
<% if @outbreak.risks.length > 0 %>
<fieldset>
	<legend>Associated Risks</legend>
	<% @outbreak.risks.each do |risk| %>
		<fieldset class='risk' id='risk_<%= risk.factor.id %>'>
			<legend class='legend_title'>
					<%=h risk.factor.name %>
			</legend>
			
			<table>
				<tr><th>Details</td></tr>
				<tr><td class='comment'>
				<%= text_area_tag "#{risk.factor.name}[detail]", risk.detail, :rows => '3', :cols => '100', :readonly => true %>									
				</td></tr>
			</table>
		</fieldset>
	<% end %>
</fieldset>
	
<% end %>
<% if @outbreak.outbreak_type == "FOODBORNE" %>
	<fieldset>
		<legend>Food vehicle list</legend>
		<% if @outbreak.foods.length > 0 %>
			<% @outbreak.foods.each do |food| %>
				<fieldset>
					<legend>Food vehicle</legend>
					<table>
						<tr>
							<th>Food category</th>
							<th>Food subcategory</th>
							<th>Contains RSE?</th>
							<th>Country of origin</th>
						</tr>
						<tr>
							<td><%=h food.food_category ? food.food_category.name : "Unspecified" %></td>
							<td><%=h food.food_subcategory ? food.food_subcategory.name : "Unspecified" %></td>
							<td><%=h food.contains_rse ? food.contains_rse : "Unspecified" %></td>
							<td><%=h food.country ? food.country : "Unspecified" %></td>
						</tr>
						<tr>
							<th colspan=4>Description</th>
						</tr>
						<tr>
							<td colspan=4><%=h food.description ? food.description : "Unspecified" %></td>
						</tr>
						<% if food.evidence %>
						<tr>
							<th colspan=4>Evidence :: <%=  food.evidence.evidence_category ? food.evidence.evidence_category.name : "Undefined category"%></th>
						</tr>
						<tr>
							<td colspan=4><%=h food.evidence.comment %></td>
						</tr>
						<% end %>
					</table>
 				</fieldset>
			<% end %>
		<% end %>
	</fieldset>

<% end %>
<% if @outbreak.origin %>
	<fieldset>
		<legend>Origin of problem</legend>
		<%= @outbreak.origin.category %> 
	</fieldset>
<% end %>
<% if @outbreak.response %>
	<fieldset>
		<legend>Response</legend>
		<table>
			<tr>
				<th>Premise status</th>
				<th>Prosecution status</th>
				<th>Notice issued</th>
				<th>Inspection rating</th>
			</tr>
			<tr>
				<td><%=h @outbreak.response.premise_status ? @outbreak.response.premise_status : 'Unknown'  %></td>
				<td><%=h @outbreak.response.prosecution_status ? @outbreak.response.prosecution_status : 'Unknown' %></td>
				<td><%=h @outbreak.response.notice_issued ? @outbreak.response.notice_issued : 'Unknown' %></td>
				<td><%=h @outbreak.response.inspection_rating ? @outbreak.response.inspection_rating : 'Unknown' %></td>
			</tr>
			<tr>
				<th colspan=4>Comment</th>
			</tr>
			<tr>
				<td colspan=4 class="comment"><%= text_area_tag :outbreak_response_comment, @outbreak.response.comment, :size => "100x5", :readonly => true %></td>
			</tr>
		</table>
<% if @outbreak.response.measures.length > 0 %>
		<fieldset>
			<legend>Measures</legend>
			<% @outbreak.response.measures.each_with_index do |this_measure, count| %>
				<table>
					<tr>
						<th>Measure <%= count + 1 %> description</th>
					</tr>
					<tr>
						<td class="comment"><%= text_area_tag :outbreak_response_measures, this_measure.description, :size => "100x5", :readonly => true %></td>
					</tr>
				</table>
			<% end %>
		</fieldset>
<% end %>
	</fieldset>

<% end %>
<% if @outbreak.report_file_name %>
	<fieldset>
		<legend>Attached report details</legend>
		<table>
			<tr>
				<th>File name</th>
				<th>File type</th>
				<th>File size</th>
				<th>File updated at</th>
			</tr>
			<tr>
				<td><%= link_to ("#{@outbreak.report_file_name}", :controller => "outbreaks", :action => "download_report", :id => @outbreak.id.to_s )  %></td>
				<td><%=h @outbreak.report_content_type ? @outbreak.report_content_type : 'Unknown' %></td>
				<td><%=h @outbreak.report_file_size ? @outbreak.report_file_size : 'Unknown' %></td>
				<td><%=h @outbreak.report_updated_at ? @outbreak.report_updated_at : 'Unknown' %></td>
			</tr>
		</table>
	
	</fieldset>
<% end %>


<span class="highlight_span"><%= link_to 'Edit', edit_outbreak_path(@outbreak) %></span> |
<span class="highlight_span"><%= link_to 'Back', outbreaks_path %></span>