					<fieldset>
						<legend>Evidence</legend>
							
							<div class="left_form">
								<%= evidence_form.label :evidence_category_id %>
							</div>
							<div class="right_form">
								<%= evidence_form.select :evidence_category_id, grouped_options_for_select(@options_for_categories) %>
							</div>
							<div style="clear:both;"></div>	
							<div class="left_form">
								<%= evidence_form.label :comment %>
							</div>
							<div class="right_form">
								<%= evidence_form.text_area :comment, :cols => 60, :rows => 2 %>
							</div>
							<div style="clear:both;"></div>	
					</fieldset>
