<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :incidents,{:child_index => @this_child_index} do |this_form| %>
	<% this_form.fields_for :evidence, {:child_index => 0} do |evidence_form| %>	
			<%= render :partial => 'evidences/evidence', :locals => {:evidence_form => evidence_form, :options_for_categories => @options_for_categories} %>
	<% end %>

<% end %>
