<h1>Listing evidences</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Evident</th>
    <th>Evident type</th>
    <th>Evidence category</th>
    <th>Comment</th>
  </tr>

<% @evidences.each do |evidence| %>
  <tr>
    <td><%=h evidence.id %></td>
    <td><%=h evidence.evident_id %></td>
    <td><%=h evidence.evident_type %></td>
    <td><%=h evidence.evidence_category_id %></td>
    <td><%=h evidence.comment %></td>
    <td class="action"><%= link_to 'Show', evidence %></td>
    <td class="action"><%= link_to 'Edit', edit_evidence_path(evidence) %></td>
    <td class="action"><%= link_to 'Destroy', evidence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New evidence', new_evidence_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>