<h1>New evidence</h1>

<% form_for(@evidence) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :evident_id %><br />
    <%= f.text_field :evident_id %>
  </p>
  <p>
    <%= f.label :evident_type %><br />
    <%= f.text_field :evident_type %>
  </p>
  <p>
    <%= f.label :evidence_category_id %><br />
    <%= f.text_field :evidence_category_id %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>