<p>
  <b>Id:</b>
  <%=h @evidence.id %>
</p>

<p>
  <b>Evident:</b>
  <%=h @evidence.evident_id %>
</p>

<p>
  <b>Evident type:</b>
  <%=h @evidence.evident_type %>
</p>

<p>
  <b>Evidence category:</b>
  <%=h @evidence.evidence_category_id %>
</p>

<p>
  <b>Comment:</b>
  <%=h @evidence.comment %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_evidence_path(@evidence) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>