<h1>Listing evidence categories</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Outbreak type</th>
    <th>Category</th>
    <th>Name</th>
  </tr>

<% @evidence_categories.each do |evidence_category| %>
  <tr>
    <td><%=h evidence_category.id %></td>
    <td><%=h evidence_category.outbreak_type %></td>
    <td><%=h evidence_category.category %></td>
    <td><%=h evidence_category.name %></td>
    <td class="action"><%= link_to 'Show', evidence_category %></td>
    <td class="action"><%= link_to 'Edit', edit_evidence_category_path(evidence_category) %></td>
    <td class="action"><%= link_to 'Destroy', evidence_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New evidence category', new_evidence_category_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>