<p>
  <b>Id:</b>
  <%=h @evidence_category.id %>
</p>

<p>
  <b>Outbreak type:</b>
  <%=h @evidence_category.outbreak_type %>
</p>

<p>
  <b>Category:</b>
  <%=h @evidence_category.category %>
</p>

<p>
  <b>Name:</b>
  <%=h @evidence_category.name %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_evidence_category_path(@evidence_category) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>