		<% new_or_existing = viral_agent.new_record? ? 'new' : 'existing' %>
		<% prefix = "outbreak[#{new_or_existing}_viral_agent_attributes][]" %>
		<% fields_for prefix, viral_agent do |viral_agent_form| %>
			<div class="viral_agent">
			<fieldset>
				<legend>
				<%= viral_agent.category ? viral_agent.category.upcase : "" %> Virus
				</legend>
				<%= viral_agent_form.hidden_field :category, :value => viral_agent.category ? viral_agent.category.upcase : "CAUSATIVE" %>
				
					<div class="left_form">
					<%= label :viral_agent, :virus_id %>
					</div>
					<div class="right_form" >
						<% virus_id = viral_agent.virus ? viral_agent.virus.id : @initial_virus.id %>
						<%= viral_agent_form.select(:virus_id, options_from_collection_for_select(@viruses, :id, :name, viral_agent.virus ? viral_agent.virus.id : @initial_virus.id), {}, {:class => "viral_id"}) %>
					</div>
					
					<div style="clear:both;"></div>
					<div class="left_form">
						<%= viral_agent_form.label :other_typing %>
					</div>
					<div class="right_form" >
						<%= viral_agent_form.text_field :other_typing %>
					</div>
					<div style="clear:both;"></div>
					<div class="left_form">
						<%= viral_agent_form.label :comment %>
					</div>
					<div class="right_form" >
						<%= viral_agent_form.text_area :comment, :cols => "60", :rows => "10" %>
					</div>
					<div style="clear:both;"></div>
					<div class="left_form">
						<%= viral_agent_form.label :confirmed %>
					</div>
					<div class="right_form" >
						<%= viral_agent_form.select(:confirmed, options_for_select({"Yes" => TRUE, "No" => FALSE}, viral_agent.confirmed) ) %>
					</div>
					<div style="clear:both;"></div>
					<fieldset>
						<legend>Investigation</legend>
							<% viral_agent.investigation ? viral_agent.investigation : viral_agent.build_investigation %>		
							<% viral_agent_form.fields_for "investigation_attributes", viral_agent.investigation do |investigation_form| %>
										<div class="left_form">
										<%= investigation_form.label :category, "Sample source" %>
										</div>
										<div class="right_form" >
										<%= investigation_form.select :category, options_from_collection_for_select(@sample_types, :property_value, :property_value) %>	</div>
										
										<div style="clear:both;"></div>
										<div class="left_form">
										<%= investigation_form.label :level, "Specify Result (level, positive | negative)" %>
										</div>
										<div class="right_form" >
											<%= investigation_form.text_field :level %>
										</div>
										<div style="clear:both;"></div>
										<div class="left_form">
											<%= investigation_form.label :comment, "Test details" %>
										</div>
										<div class="right_form" >
											<%= investigation_form.text_area :comment, :cols => 60, :rows => 10 %>
										</div>
							<% end %>
					</fieldset>
					<div style="clear:both;"></div>
					<div class="right form">
						<% if !viral_agent.new_record? %>
							Remove <%= check_box_tag "outbreak[existing_viral_agent_attributes][#{viral_agent.id}][_destroy]" %>
						<% else %>
							<span class="remove"><%= link_to_function "remove", "$(this).up('.viral_agent').remove()" %></span>
						<% end %>
					</div>
			</fieldset>
			</div>
		<% end %>


