<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :viral_agents,{:child_index => @next_child_index} do |this_form| %>

<div class="viral_agent">

<%= render :partial => "viral_agents/viral_agent", :locals => {:viral_agent_form => this_form, :viruses => @viruses, :viral_agent => @viral_agent, :initial_virus => @initial_virus } %>
	
</div>

<% end %>
