				<div class="left_form">
					<%= label :viral_agent, :virus_id %>
				</div>
				<div class="right_form" >
					<%= viral_agent_form.select(:virus_id, "<option value=''>Not specified</option>" + options_from_collection_for_select(@viruses, :id, :name, viral_agent.virus_id.to_i), {}, {:class => "viral_id"}) %>
				</div>
				
				<div style="clear:both;"></div>
				<div class="left_form">
					<%= viral_agent_form.label :other_typing %>
				</div>
				<div class="right_form" >
					<%= viral_agent_form.text_field :other_typing %>
				</div>
				<div style="clear:both;"></div>
				<div class="left_form">
					<%= viral_agent_form.label :comment %>
				</div>
				<div class="right_form" >
					<%= viral_agent_form.text_area :comment, :cols => "60", :rows => "10" %>
				</div>
				<div style="clear:both;"></div>
				<div class="left_form">
					<%= viral_agent_form.label :confirmed %>
				</div>
				<div class="right_form" >
					<%= viral_agent_form.select(:confirmed, options_for_select({"Yes" => TRUE, "No" => FALSE}, viral_agent.confirmed)) %>
				</div>
				<div style="clear:both;"></div>
				
