<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :viral_agents,{:child_index => @next_child_index} do |this_form| %>

<div class="viral_agent">
<fieldset>
			<legend>
			Associated Virus
			</legend>
	<%= render :partial => "viral_agents/viral_agent_investigation", :locals => {:viral_agent_form => this_form, :virus => @virus, :viral_agent => @viral_agent} %>
	
	<% this_form.fields_for :investigation do |investigation_form| %>
			<div class="investigation">
			<%= render :partial => 'investigations/agent_investigation', :locals => {:investigation_form => investigation_form, :agent_type => "virus", :agent => @viruses, :sample_types => @sample_types  } %>
			</div>
	<% end %>
	<div class="right form">
		<span class="remove"><%= link_to_function "remove", "$(this).up('.viral_agent').remove()" %></span>
	</div>
</fieldset>
</div>

<% end %>
