<h1>Listing subcategories</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Category</th>
  </tr>

<% @subcategories.each do |subcategory| %>
  <tr>
    <td><%=h subcategory.id %></td>
    <td><%=h subcategory.name %></td>
    <td><%=h subcategory.category_id %></td>
    <td class="action"><%= link_to 'Show', subcategory %></td>
    <td class="action"><%= link_to 'Edit', edit_subcategory_path(subcategory) %></td>
    <td class="action"><%= link_to 'Destroy', subcategory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New subcategory', new_subcategory_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>