<p>
  <b>Id:</b>
  <%=h @subcategory.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @subcategory.name %>
</p>

<p>
  <b>Category:</b>
  <%=h @subcategory.category_id %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_subcategory_path(@subcategory) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>