
		
			<div class="left_form">
				<%= investigation_form.label :category, "Sample source" %>
			</div>
			<div class="right_form" >
				<%= investigation_form.select :category, options_from_collection_for_select(@sample_types, :property_value, :property_value) %>	</div>
				
				<div style="clear:both;"></div>
				<div class="left_form">
				<%= investigation_form.label :level, "Specify Result (level, positive | negative)" %>
				</div>
				<div class="right_form" >
					<%= investigation_form.text_field :level %>
				</div>
				<div style="clear:both;"></div>
				<div class="left_form">
					<%= investigation_form.label :comment, "Test details" %>
				</div>
				<div class="right_form" >
					<%= investigation_form.text_area :comment, :cols => 60, :rows => 10 %>
				</div>
				<div style="clear:both;"></div>
				

