<% if agent_type == "BACTERIUM" %>
	<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :bacterial_agents,{:child_index => @next_child_index} do |this_form| %>
		<% this_form.fields_for :investigation do |investigation_form| %>
		<% @bacterium = @outbreak.bacterial_agents[@next_child_index].bacterium %>
			<div class="investigation">
				<fieldset>
					<legend>
					Causative bacterial pathogen
					</legend>
					<%= render :partial => 'investigations/investigation', :locals => {:investigation_form => investigation_form, :agent_type => "bacterium", :agent => @bacterium, :sample_types => @sample_types  } %>
				</fieldset>
			</div>
		<% end %>
	<% end %>
<% elsif agent_type == "VIRUS" %>
	<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :viral_agents,{:child_index => @next_child_index} do |this_form| %>
		<% this_form.fields_for :investigation do |investigation_form| %>
		<% @virus = @outbreak.viral_agents[@next_child_index].virus %>
			<div class="investigation">
				<fieldset>
					<legend>
					Causative viral pathogen
					</legend>
					<%= render :partial => 'investigations/investigation', :locals => {:investigation_form => investigation_form, :agent_type => "virus", :agent => @virus, :sample_types => @sample_types  } %>
				</fieldset>
			</div>
		<% end %>
	<% end %>

<% elsif agent_type == "PROTOZOA" %>
	<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :protozoal_agents,{:child_index => @next_child_index} do |this_form| %>
		<% this_form.fields_for :investigation do |investigation_form| %>
		<% @protozoa = @outbreak.protozoal_agents[@next_child_index].protozoa %>
			<div class="investigation">
				<fieldset>
					<legend>
					Causative protozoal pathogen
					</legend>
					<%= render :partial => 'investigations/investigation', :locals => {:investigation_form => investigation_form, :agent_type => "protozoa", :agent => @protozoa, :sample_types => @sample_types  } %>
				</fieldset>
			</div>
		<% end %>
	<% end %>

<% elsif agent_type == "TOXIN" %>
	<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :toxic_agents,{:child_index => @next_child_index} do |this_form| %>
		<% this_form.fields_for :investigation do |investigation_form| %>
		<% @toxin = @outbreak.toxic_agents[@next_child_index].toxin %>
			<div class="investigation">
				<fieldset>
					<legend>
					Causative toxic agent
					</legend>
					<%= render :partial => 'investigations/investigation', :locals => {:investigation_form => investigation_form, :agent_type => "toxin", :agent => @toxin, :sample_types => @sample_types  } %>
				</fieldset>
			</div>
		<% end %>
	<% end %>

<% end %>
