<h1>Listing investigations</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Investigatable</th>
    <th>Investigatable type</th>
    <th>Category</th>
    <th>Level</th>
    <th>Comment</th>
  </tr>

<% @investigations.each do |investigation| %>
  <tr>
    <td><%=h investigation.id %></td>
    <td><%=h investigation.investigatable_id %></td>
    <td><%=h investigation.investigatable_type %></td>
    <td><%=h investigation.category %></td>
    <td><%=h investigation.level %></td>
    <td><%=h investigation.comment %></td>
    <td><%= link_to 'Show', investigation %></td>
    <td><%= link_to 'Edit', edit_investigation_path(investigation) %></td>
    <td><%= link_to 'Destroy', investigation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New investigation', new_investigation_path %>