<h1>New investigation</h1>

<% form_for(@investigation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :investigatable_id %><br />
    <%= f.text_field :investigatable_id %>
  </p>
  <p>
    <%= f.label :investigatable_type %><br />
    <%= f.text_field :investigatable_type %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', investigations_path %>