<p>
  <b>Id:</b>
  <%=h @investigation.id %>
</p>

<p>
  <b>Investigatable:</b>
  <%=h @investigation.investigatable_id %>
</p>

<p>
  <b>Investigatable type:</b>
  <%=h @investigation.investigatable_type %>
</p>

<p>
  <b>Category:</b>
  <%=h @investigation.category %>
</p>

<p>
  <b>Level:</b>
  <%=h @investigation.level %>
</p>

<p>
  <b>Comment:</b>
  <%=h @investigation.comment %>
</p>


<%= link_to 'Edit', edit_investigation_path(@investigation) %> |
<%= link_to 'Back', investigations_path %>