<h1>Listing food_subcategories</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Food category name</th>
    <th>Food Subcategory name</th>
  </tr>

<% @food_subcategories.each do |food_subcategory| %>
  <tr>
    <td><%=h food_subcategory.id %></td>
    <td><%=h food_subcategory.food_category.name %></td>
    <td><%=h food_subcategory.name %></td>
    <td class="action"><%= link_to 'Show', food_subcategory %></td>
    <td class="action"><%= link_to 'Edit', edit_food_subcategory_path(food_subcategory) %></td>
    <td class="action"><%= link_to 'Destroy', food_subcategory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_tab"><%= link_to 'New food_subcategory', new_food_subcategory_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>