<p>
  <b>Id:</b>
  <%=h @food_subcategory.id %>
</p>

<p>
  <b>Food category:</b>
  <%=h @food_subcategory.food_category_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @food_subcategory.name %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_food_subcategory_path(@food_subcategory) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>