<% if user_signed_in? %>
	<script>
	
		document.observe('dom:loaded',function(){         
			$j(function() {
				$j("#admin_tabs").tabs();
			});
	
		});
	
	</script>

	<h2>eFOSS Administration</h2> 
	<div id="admin_tabs">
		<ul>
			<li ><a href="#admin_tabs_a">Draft Submissions</a></li>
			<li ><a href="#admin_tabs_b">Users</a></li>
			<li ><a href="#admin_tabs_c">General Items</a></li>
			<li ><a href="#admin_tabs_d">Pathogens</a></li>
			<li ><a href="#admin_tabs_e">Settings</a></li>
			<li ><a href="#admin_tabs_f">Factors</a></li>
			<li ><a href="#admin_tabs_g">Geography</a></li>
		</ul>	
		<div id="admin_tabs_a">
			<p>Drafts go here</p>
		</div>
		<div id="admin_tabs_b">
			<fieldset>
				<legend>Users</legend>
					<ul>
					<li><%= link_to "List users", users_path %></li>
					
					</ul>
		
			</fieldset>
		</div>
		<div id="admin_tabs_c">
			<fieldset>
				<legend>General menu items</legend>
					<ul>
					<li><%= link_to "Add general menu items", properties_path %></li>
					</ul>
			</fieldset>
		</div>
		<div id="admin_tabs_d">
			<fieldset>
				<legend>Pathogens</legend>
					<ul>
					<li><%= link_to "List bacteria", bacteria_path %></li>
					<li><%= link_to "List viruses", viruses_path %></li>
					<li><%= link_to "List protozoas", protozoas_path %></li>
					<li><%= link_to "List toxins", toxins_path %></li>
					</ul>
			</fieldset>
		</div>
		<div id="admin_tabs_e">
			<fieldset>
				<legend>Outbreak setting</legend>
					<ul>
					<li><%= link_to "List categories", categories_path %></li>
					<li><%= link_to "List subcategories", subcategories_path %></li>
					<li><%= link_to "List subtypes", subtypes_path %></li>
					<li><%= link_to "List cuisines", cuisines_path %></li>
					</ul>
			</fieldset>
		</div>
		<div id="admin_tabs_f">
			<fieldset>
				<legend>Factors</legend>
					<ul>
					<li><%= link_to "List factors", factors_path %></li>
					</ul>
			</fieldset>
		</div>
		<div id="admin_tabs_g">
			<fieldset>
				<legend>Geography</legend>
					<ul>
					<li><%= link_to "List regions", regions_path %></li>
					<li><%= link_to "List HPUs", hpus_path %></li>
					</ul>
			</fieldset>
		</div>
		<div style="clear:both; margin:10px;"></div>
	</div>
<% else %>
	NO ACCESS
<% end %>
