

	<% if outbreak.locations.first %>
		
				<% this_location = outbreak.locations.first %>
				<% if this_location.lat && this_location.lon %>
				
					<% if outbreak.aetiology == "BACTERIUM" %>
						
						<% this_ba = outbreak.bacterial_agents.find_by_category("CAUSATIVE").bacterium %>
						<% if this_ba %>
							<div class='bacterium_header' title='Bacterial'> <%=h (this_ba != nil ? this_ba.name : "Unknown bacterium") %> </div>	
						<% else %>
							<div class='bacterium_header' title='Bacterial'>Suspect bacterium</div>
						<% end %>
					<% elsif outbreak.aetiology == "VIRUS" %>
						
						<% this_va = outbreak.viral_agents.find_by_category("CAUSATIVE").virus %>
						<% if this_va %>
							<div class='virus_header' title='Viral'> <%=h (this_va != nil ? this_va.name : "Unknown virus") %> </div>
						<% else %>
							<div class='virus_header' title='Viral'>Suspect virus</div>
						<% end %>
					<% elsif outbreak.aetiology == "PROTOZOA" %>
						
						<% this_pa = outbreak.protozoal_agents.find_by_category("CAUSATIVE").protozoa %>
						<% if this_pa %>
							<div class='protozoa_header' title='Protozoal'> <%=h (this_pa != nil ? this_pa.name : "Unknown protozoa") %> </div>
						<% else %>
							<div class='protozoa_header' title='Protozoal'>Suspect protozoa</div>
						<% end %>
					<% elsif outbreak.aetiology == "TOXIN" %>
						
						<% this_ta = outbreak.toxic_agents.find_by_category("CAUSATIVE").toxin %>
						<% if this_ta %>
							<div class='toxin_header' title='Toxic'><%=h (this_ta != nil ? this_ta.name : "Unknown toxin") %></div>
						<% else %>
							<div class='toxin_header' title='Toxic'>Suspect toxin</div>
						<% end %>
					<% elsif outbreak.aetiology == "UNKNOWN" %>
							<div class='unknown_header' title='Unknown'>Unknown agent</div>
					<% elsif outbreak.aetiology == "MIXED" %>
							<div class='mixed_header' title='Mixed'>Mixed agents</div>
					<% end %>
				
					<fieldset class="map_results"><legend class="legend_title">Outbreak <%= link_to "#{outbreak.id}", outbreak_path(outbreak), {:title => "Show outbreak"} %></legend> HPU :: <%=h this_location.hpu.name %>
					<% if outbreak.onset_first %>
						<div>Onset date :: <a href="#" onclick="centerTimeline( '#{outbreak.onset_first.year.to_s}', '#{outbreak.onset_first.month.to_s}', '#{outbreak.onset_first.day.to_s}'); return false;"><%=h outbreak.onset_first.strftime('%d-%m-%Y').to_s %></a></div>
					<% else %>
						<div>Unknown onset date</div>
					<% end %>
							<table><tr><th>At risk</th><th>Affected</th><th>Admitted</th><th>Died</th></tr>
								<tr><td><%=h outbreak.at_risk.to_s %></td><td><%=h outbreak.total_affected.to_s %></td><td><%=h outbreak.admitted.to_s %></td><td><%=h outbreak.died.to_s %></td></tr></table>
					</fieldset>			    
				
				
				<% end %>	
				
	<% end %>


