<%= Mapstraction.header(:microsoft) %>
<%= javascript_include_tag 'clusterer' %>
<%= @map.to_html %>

<div>
	<%= render :partial => 'shards/search_partial' %>
	<fieldset>
		<legend>National map</legend>
			<div id="outbreak_listing">
				<fieldset>
					<legend>Outbreak listing</legend>
					<div id="outbreak_records">
						<%= render :partial => 'outbreaks/outbreak_record', :object => @outbreaks %>
					</div>
				</fieldset>

			</div>
			<div id="map_container">
				<%= @map.div(:width => 450, :height => 600) %>
			</div>
			<div id="timeline"></div> 
			<noscript> 
				This page uses Javascript. Please enable Javascript in your browser to see the full page. Thank you. 
			</noscript>
	</fieldset>
	<%= render :partial => 'shards/search_summary_partial' %>
</div>
