<h1>Listing cuisines</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>

<% @cuisines.each do |cuisine| %>
  <tr>
    <td><%=h cuisine.id %></td>
    <td><%=h cuisine.name %></td>
    <td class="action"><%= link_to 'Show', cuisine %></td>
    <td class="action"><%= link_to 'Edit', edit_cuisine_path(cuisine) %></td>
    <td class="action"><%= link_to 'Destroy', cuisine, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New cuisine', new_cuisine_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>