<p>
  <b>Id:</b>
  <%=h @cuisine.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @cuisine.name %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_cuisine_path(@cuisine) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>