<div class="left_form">
	<%= label :pathogen, :virus %>
</div>
<div class="right_form" >
	<%= select("virus", :viruses, "<option value='' selected='true'>Not specified</option>" + options_from_collection_for_select(@viruses, :id, :name)) %>
</div>
<div style="clear:both;"></div>
<div class="left_form">
	<%= label :viral_agent, :confirmed %>
</div>
<div class="right_form" >
	<%= check_box :viral_agent, :confirmed %>
</div>
<div style="clear:both;"></div>
<div class="left_form">
	<%= label :viral_agent, :other_typing %>
</div>
<div class="right_form" >
	<%= text_field :viral_agent, :other_typing %>
</div>
<div style="clear:both;"></div>
<div class="left_form">
	<%= label :viral_agent, :comment %>
</div>
<div class="right_form" >
	<%= text_area :viral_agent, :comment, :cols => "60", :rows => "10" %>
</div>
