<h1>Listing viruses</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Group</th>
    <th>Family</th>
    <th>Genus</th>
  </tr>

<% @viruses.each do |virus| %>
  <tr>
    <td><%=h virus.id %></td>
    <td><%=h virus.name %></td>
    <td><%=h virus.group %></td>
    <td><%=h virus.family %></td>
    <td><%=h virus.genus %></td>
    <td class="action"><%= link_to 'Show', virus %></td>
    <td class="action"><%= link_to 'Edit', edit_virus_path(virus) %></td>
    <td class="action"><%= link_to 'Destroy', virus, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New virus', new_virus_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>