<p>
  <b>Id:</b>
  <%=h @virus.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @virus.name %>
</p>

<p>
  <b>Group:</b>
  <%=h @virus.group %>
</p>

<p>
  <b>Family:</b>
  <%=h @virus.family %>
</p>

<p>
  <b>Genus:</b>
  <%=h @virus.genus %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_virus_path(@virus) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>