<div id="header">
			<div class="main_image"><%= image_tag("hpa-logo.gif") -%></div>
			<div class="main_heading"><h1 class="main">eFOSS</h1></div>
			<%= render :partial => "shards/login_bar" -%>
</div>
