	<% top_nav_formatter %>

	<% this_page = request.path_parameters['controller'] + ":" + request.path_parameters['action'] %>
	<%=h this_page %>
	<div class="top_nav_container">
		<ul id="top-navigation">
			  <% if user_signed_in? %>
			  	
					<li <%=h @home_klass %> ><%= link_to "Home", root_path %></li>
					
					<% if request.path_parameters['controller'] == "users/registrations" %>
						<% if current_user.role?("admin") %>
							<li <%=h @admin_klass %> ><%= link_to "Admin", admin_path %></li>
							<li <%=h @account_klass %> ><%= link_to "Account", :controller => "/users", :action => "account", :user_id => "#{current_user.id}" %></li>
						<% else %>
							<li <%=h @account_klass %> ><%= link_to "Account", :controller => "/users", :action => "account", :user_id => "#{current_user.id}" %></li>
						<% end %>
					<% else %>
						<% if current_user.role?("admin") %>
							<li <%=h @admin_klass %> ><%= link_to "Admin", admin_path %></li>
							<li <%=h @account_klass %> ><%= link_to "Account", :controller => :users, :action => "account", :user_id => "#{current_user.id}" %></li>
						<% else %>
							<li <%=h @account_klass %> ><%= link_to "Account", :controller => :users, :action => "account", :user_id => "#{current_user.id}" %></li>
						<% end %>
					<% end %>
					<li <%=h @signout_klass %> ><%= link_to "Sign out", destroy_user_session_path %></li>
				
			  <% else %>
				<li <%=h @home_klass %> ><%= link_to "Home", root_path %></li>
				<li <%=h @signout_klass %> ><%= link_to "Sign in", new_user_session_path %></li>
			  <% end %>
		</ul>
	</div>
	<% if user_signed_in? %>
		<div class="current_user"> <%= link_to "#{current_user.email}", edit_user_path(current_user) %> <%=h current_user.roles.first.name %> 
		<% if current_user.role?("admin") %>
			<% if Outbreak.draft.length > 0 %>
				<div class="highlight_draft" ><%= Outbreak.draft.length %> outbreaks to <%= link_to "review", review_path %></div>
			<% else %>
			<% end %>
		<% end %>
		</div>
		
	<% end %>

