<% left_nav_formatter %>
<% content_tag :div, :id => "left-sidebar" do -%> 

	<% if user_signed_in? %>
		<p class="local-title">Navigation</p>
		<ul class="local">
		  <li <%=h @new_outbreak_klass %> ><%= link_to "New Outbreak", new_outbreak_path %></li>
		</ul>
		<ul class="local">
		  <li <%=h @list_outbreak_klass %> ><%= link_to "List Outbreaks", outbreaks_path %></li> 
		  <li <%=h @map_klass %> ><%= link_to 'Overview', national_map_path %></li>
		</ul>
		<p class="local-subtitle">Charts - General</p>
		<ul class="local">
		  <li <%=h @chart_general_monthly_klass %> ><%= link_to "Monthly total/year", total_outbreaks_by_month_year_path %></li>
		  <li <%=h @chart_general_type_klass %> ><%= link_to "Type/year", foodborne_non_foodborne_by_year_path %></li>
		  <li <%=h @chart_general_pathogens_klass %> ><%= link_to "Agent/year", pathogens_by_year_path %></li>
		</ul>
		<p class="local-subtitle">Charts - Non-foodborne</p>
		<ul class="local">
		  <li <%=h @chart_foodborne_pathogens_klass %> ><%= link_to "Pathogen/mode", causative_pathogen_by_transmission_path %></li>
		  <li <%=h @chart_foodborne_transmission_klass %> ><%= link_to "Transmission mode", non_foodborne_transmission_by_year_path %></li>
		</ul>
		<p class="local-subtitle">Charts - Foodborne</p>
		<ul class="local">
		   <li <%=h @chart_nonfoodborne_foodtype_klass %> ><%= link_to "Foodtype/year", foodtypes_by_year_path %></li>
		   <li <%=h @chart_nonfoodborne_pathogens_year_klass %> ><%= link_to "Pathogen/year", major_foodborne_pathogen_by_year_path %></li>
		   <li <%=h @chart_nonfoodborne_pathogens_overall_klass %> ><%= link_to "Overall pathogens", foodborne_pathogens_total_path %></li>
		</ul>
	<% else %>
		<p class="local-title">Navigation</p>
		<ul class="local">
		  <li><%= link_to "Sign in", new_user_session_path %></li>
		 
		</ul>

	<% end %>
<% end %>


