<div id="only_pathogen_types_div">
<%= select("pathogen","type", "<option value='' selected='true'>Select a pathogen</option>" + options_from_collection_for_select(@pathogen_types, :property_value, :property_value)) %>
<%= link_to_remote("Add pathogen", :url => {:action => "get_pathogen"},  :with => 'params_to_new_agent()' << "+ '&pathogen=' + escape($('pathogen_type').value) + '&outbreak_type=' + encodeURIComponent($('outbreak_outbreak_type').value) ")  %>
</div>
<div style="clear:both;"></div>
