<% if @modifier == nil %>
	<div class="left_form">
		<%= label :protozoal_agent, :protozoa_id %>
	</div>
	<div class="right_form" >
		<%= select(:protozoal_agent, :protozoa_id, "<option value='' selected='true'>Not specified</option>" + options_from_collection_for_select(@protozoas, :id, :name)) %>
	</div>
	<div style="clear:both;"></div>
	<%  form_for @protozoal_agent do |protozoal_agent_form| %>
		<div class="left_form">
			<%= protozoal_agent_form.label :confirmed %>
		</div>
		<div class="right_form" >
			<%= protozoal_agent_form.select(:confirmed, options_for_select({"Yes" => TRUE, "No" => FALSE})) %>
		</div>
		<div style="clear:both;"></div>
		<div class="left_form">
			<%= protozoal_agent_form.label(:other_typing) %>
		</div>
		<div class="right_form" >
			<%= protozoal_agent_form.text_field(:other_typing) %>
		</div>
		<div style="clear:both;"></div>
		<div class="left_form">
			<%= protozoal_agent_form.label(:comment) %>
		</div>
		<div class="right_form" >
			<%= protozoal_agent_form.text_area(:comment, :cols => "60", :rows => "10") %>
		</div>
	<% end %>

<% elsif @modifier == "investigation" %>	
	
	<div class="left_form">
		<%= label "ia_protozoal_id", "Protozoa" %>
	</div>
	<div class="right_form" >
		<%= select_tag("ia_protozoa_id", "<option value='' selected='true'>Not specified</option>" + options_from_collection_for_select(@protozoas, :id, :name)) %>
	</div>
	<div style="clear:both;"></div>
	<div class="left_form">
		<%= label "ia_protozoal_agent_confirmed", :confirmed %>
	</div>
	<div class="right_form" >
		<%= select_tag("ia_protozoal_agent_confirmed", options_for_select({"Yes" => TRUE, "No" => FALSE})) %>
	</div>
	<div style="clear:both;"></div>
	<div class="left_form">
		<%= label "ia_protozoal_agent_other_typing", :other_typing %>
	</div>
	<div class="right_form" >
		<%= text_field_tag "ia_protozoal_agent_other_typing" %>
	</div>
	<div style="clear:both;"></div>
	<div class="left_form">
		<%= label "ia_protozoal_agent_comment", "Protozoal agent comment" %>
	</div>
	<div class="right_form" >
		<%= text_area_tag "ia_protozoal_agent_comment", '', :cols => "60", :rows => "10" %>
	</div>
	
	<div class="right_form" id="add_sample_button">
			<%= image_tag("plus_sm.png", {:id => "button_add_investigation",
				:name => "button_add_investigation",
				:onclick => "#{remote_function(:url  => {:action => "add_investigation"},
				:with => "'ia_category=' + encodeURIComponent($('ia_category').value) +
					'&ia_comment=' + encodeURIComponent($('ia_comment').value) +
					'&ia_level=' + encodeURIComponent($('ia_level').value) +
					'&ia_agents=' + encodeURIComponent($('ia_agents').value) +
					'&ia_protozoa_id=' + encodeURIComponent($('ia_protozoa_id').value) +
					'&ia_protozoal_agent_confirmed=' + encodeURIComponent($('ia_protozoal_agent_confirmed').value) +
					'&ia_protozoal_agent_other_typing=' + encodeURIComponent($('ia_protozoal_agent_other_typing').value) +
					'&ia_outbreak_type=' + encodeURIComponent($('ia_outbreak_type').value) +
					'&ia_protozoal_agent_comment=' + encodeURIComponent($('ia_protozoal_agent_comment').value)
					")}",
				:alt => "Add investigation details",
				:title => "Add investigation" }) %>
			Add this sample data to outbreak
	</div>
	
<% end %>
