<fieldset>
	<legend>Summary</legend>
	<table>
		<tr>
			<th>Number of records returned</th>
			<th>Search query</th>
		</tr>
		<tr>
			<% if @search && @search_params %>
				<td><%=h @search ? @search.length : "0" %></td>
				<td>
					<% @search_params.each do |sp| %>
						<% if !sp[1].empty? %>
							<p><%=h sp[0] %> :: <%=h sp[1].inspect %></p>
						<% end %>
					<% end %>
							
				</td>
			<% else %>
				<td><%=h @search ? @search.length : "0" %></td>
				<td>Showing all records</td>
			<% end %>
		</tr>
	</table>
</fieldset>
