
        <fieldset>
        <legend><span id="search_menu_1" title="toggle search menu">Search menu</span></legend>
	<div id="search">
		<ul>
			<li title="Outbreak dates"><a href="#search_a" id="tabs_b_link">Dates</a></li>
			<li title="Outbreak details"><a href="#search_b" id="tabs_a_link">Outbreak</a></li>
			<li title="Incident locations"><a href="#search_c" id="tabs_c_link">Location</a></li>
			<li title="Aetiology"><a href="#search_d" id="tabs_d_link">Aetiology</a></li>
			<li title="Factors"><a href="#search_e" id="tabs_e_link">Factors</a></li>
			<li title="Foods"><a href="#search_f" id="tabs_f_link">Foods</a></li>
			
		</ul>
		<% form_for @search do |f| %>
		<div id="search_a">
				<table>
					<tr>
						<th><%= f.label :onset_first_gte, "Onset first" %></th>
						<th><%= f.label :onset_last_gte, "Onset last" %></th>
						<th><%= f.label :point_source_date_gte, "Point source date" %></th>
					</tr>
					<tr>
					
						<td>
							<table>
								<tr>
									<th>
										<sup>From</sup>
									</th>
									<th>
										<sup>To</sup>
									</th>
									<th>
										<sup>Year</sup>
									</th>
								</tr>
								<tr>
									<td>
										<%= text_field_tag "[search][onset_first_gte]", '', :size => 12 %>
									</td>
									<td>
										<%= text_field_tag "[search][onset_first_lte]", '', :size => 12 %>
									</td>
									<td>
										<%= select_tag "[onset_first_year]", options_for_select((@earliest_date_year.to_i..Time.now.year.to_i).step(1) {|s| ["#{s}", s]}.to_a.reverse.insert(0, ''))%>
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table>
								<tr>
									<th>
										<sup>From</sup>
									</th>
									<th>
										<sup>To</sup>
									</th>
									<th>
										<sup>Year</sup>
									</th>
								</tr>
								<tr>
									<td>
										<%= text_field_tag "[search][onset_last_gte]", '', :size => 12 %>
									</td>
									<td>
										<%= text_field_tag "[search][onset_last_lte]", '', :size => 12 %>
									</td>
									<td>
										<%= select_tag "[onset_last_year]", options_for_select((@earliest_date_year.to_i..Time.now.year.to_i).step(1) {|s| ["#{s}", s]}.to_a.reverse.insert(0, '')) %>
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table>
								<tr>
									<th>
										<sup>From</sup>
									</th>
									<th>
										<sup>To</sup>
									</th>
									<th>
										<sup>Year</sup>
									</th>
								</tr>
								<tr>
									<td>
										<%= text_field_tag "[search][point_source_date_gte]", '', :size => 12 %>
									</td>
									<td>
										<%= text_field_tag "[search][point_source_date_lte]", '',:size => 12 %>
									</td>
									<td>
										<%= select_tag "[point_source_date_year]", options_for_select((@earliest_date_year.to_i..Time.now.year.to_i).step(1) {|s| ["#{s}", s]}.to_a.reverse.insert(0, ''))%>
									</td>
								</tr>
							</table>
					        </td>
					</tr>
					
				</table>
		</div>
		<div id="search_b">
			
				<table>
					<tr>
						<th><%= f.label :id, "Outbreak ID" %></th>
						<th><%= f.label :gezi_reference_like, "GEZI reference" %></th>
						<th><%= f.label :user_reference_like, "User reference" %></th>
						<th><%= f.label :outbreak_type_like, "Outbreak type" %></th>
						<th colspan=2><%= f.label :transmission_mode_like, "Transmission mode" %></th>
					</tr>
					<tr>
						<td><%= text_field_tag "[search][id]" %></td>
						<td><%= text_field_tag "[search][gezi_reference_like]" %></td>
						<td><%= text_field_tag "[search][user_reference_like]" %></td>
						<td><%= select_tag "[search][outbreak_type_like_any][]", options_for_select(@outbreak_types ), :multiple => true, :size => 2  %></td>
						<td colspan=2><%= select_tag "[search][transmission_mode_like_any][]", options_for_select(@transmission_modes), :multiple => true, :size => 4   %></td>
					</tr>
				</table>
				<table>
					<tr>
						<th><%= f.label :at_risk_gte, "Number at risk" %></th>
						<th><%= f.label :total_affected_gte, "Total affected" %></th>
						<th><%= f.label :lab_confirmed_gte, "Number of lab confirmed" %></th>
						<th><%= f.label :admitted_gte, "Number admitted" %></th>
						<th><%= f.label :died_gte, "Number deceased" %></th>
					</tr>
					<tr>
						<td>
							<table>
								<tr>
									<th>
										<sup>From</sup>
									</th>
									<th>
										<sup>To</sup>
									</th>

								</tr>
								<tr>
									<td>
										<%= text_field_tag "[search][at_risk_gte]", '', :size => 8 %>
									</td>
									<td>
										<%= text_field_tag "[search][at_risk_lte]", '', :size => 8 %>
									</td>
								</tr>
							</table>
					        </td>
					        <td>
							<table>
								<tr>
									<th>
										<sup>From</sup>
									</th>
									<th>
										<sup>To</sup>
									</th>

								</tr>
								<tr>
									<td>
										<%= text_field_tag "[search][total_affected_gte]", '', :size => 8 %>
									</td>
									<td>
										<%= text_field_tag "[search][total_affected_lte]", '', :size => 8 %>
									</td>
								</tr>
							</table>
					        </td>
					        <td>
							<table>
								<tr>
									<th>
										<sup>From</sup>
									</th>
									<th>
										<sup>To</sup>
									</th>

								</tr>
								<tr>
									<td>
										<%= text_field_tag "[search][lab_confirmed_gte]", '', :size => 8 %>
									</td>
									<td>
										<%= text_field_tag "[search][lab_confirmed_lte]", '', :size => 8 %>
									</td>
								</tr>
							</table>
					        </td>
					        <td>
							<table>
								<tr>
									<th>
										<sup>From</sup>
									</th>
									<th>
										<sup>To</sup>
									</th>

								</tr>
								<tr>
									<td>
										<%= text_field_tag "[search][admitted_gte]", '', :size => 8 %>
									</td>
									<td>
										<%= text_field_tag "[search][admitted_lte]", '', :size => 8 %>
									</td>
								</tr>
							</table>
					        </td>
					        <td>
							<table>
								<tr>
									<th>
										<sup>From</sup>
									</th>
									<th>
										<sup>To</sup>
									</th>

								</tr>
								<tr>
									<td>
										<%= text_field_tag "[search][died_gte]", '', :size => 8 %>
									</td>
									<td>
										<%= text_field_tag "[search][died_lte]", '', :size => 8 %>
									</td>
								</tr>
							</table>
					        </td>
					</tr>
				</table>
			
		</div>

		<div id="search_c">
				<table>
					<tr>
						<th><%= f.label :incidents_category_name_like, "Location category" %></th>
						<th><%= f.label :incidents_subcategory_name_like, "Location subcategory" %></th>
						<th><%= f.label :incidents_subtype_name_like, "Location subtype" %></th>
						
					</tr>
					<tr>
						<td><%= select_tag "[search][incidents_category_name_like_any][]", options_for_select(@categories), :multiple => true, :size => 4 %></td>
						<td><%= select_tag "[search][incidents_subcategory_name_like_any][]", grouped_options_for_select(@options_for_subcategories, :name), :multiple => true, :size => 4  %></td>
						<td><%= select_tag "[search][incidents_subtype_name_like_any][]", grouped_options_for_select(@options_for_subtypes), :multiple => true, :size => 4 %></td>
					</tr>
				</table>
				<table>
					<tr>
						
						<th><%= f.label :incidents_location_region_name_like, "Region" %></th>
						<th><%= f.label :incidents_location_hpu_name_like, "HPU" %></th>
						<th><%= f.label :incidents_location_local_authority_name_like, "Local authority" %></th>
						<th><%= f.label :incidents_location_postcode_like, "Postcode" %></th>
						<th>Location</th>
						<th><sup>exact</sup></th>
						<th><sup>loose</sup></th>
					</tr>
					<tr>
						
						<td><%= select_tag "[search][incidents_location_region_name_like_any][]", options_for_select(@regions), :multiple => true, :size => 4 %></td>
						<td><%= select_tag "[search][incidents_location_hpu_name_like_any][]", grouped_options_for_select(@options_for_hpus, :name), :multiple => true, :size => 4 %></td>
						<td><%= select_tag "[search][incidents_location_local_authority_name_like_any][]", grouped_options_for_select(@options_for_authorities, :name), :multiple => true, :size => 4 %></td>
						<td><%= text_field_tag "[search][incidents_location_encrypted_postcode_like]" %></td>
						<td><%= text_field_tag "[location_search]" %></td>
						<td><%= radio_button_tag "location_search_type", "exact" %></td>
						<td><%= radio_button_tag "location_search_type", "loose" %></td>
					</tr>
				
				
				</table>
		
		</div>
		<div id="search_d">
				<table>
					<tr>
						<th><%= f.label :aetiology_like, "Aetiology" %></th>
						<th><%= f.label :bacterial_agents_bacterium_name_like, "Bacterium" %></th>
						<th><%= f.label :viral_agents_virus_name_like, "Virus" %></th>
						<th><%= f.label :protozoal_agents_protozoa_name_like, "Protozoa" %></th>
						<th><%= f.label :toxic_agents_toxin_name_like, "Toxin" %></th>
					</tr>
					<tr>
						<td><%= select_tag "[search][aetiology_like_any][]", options_for_select(@pathogens), :multiple => true, :size => 4   %></td>
						<td><%= select_tag "[search][bacterial_agents_bacterium_name_like_any][]", options_for_select(@bacteria), :multiple => true, :size => 4   %></td>
						<td><%= select_tag "[search][viral_agents_virus_name_like_any][]", options_for_select(@viruses), :multiple => true, :size => 4   %></td>
						<td><%= select_tag "[search][protozoal_agents_protozoa_name_like_any][]", options_for_select(@protozoas), :multiple => true, :size => 4   %></td>
						<td><%= select_tag "[search][toxic_agents_toxin_name_like_any][]", options_for_select(@toxins), :multiple => true, :size => 4  %></td>
					</tr>
				</table>
		</div>
		<div id="search_e">
			<table>
				<tr>
					<th><%= f.label :risks_factor_id_equals, "Risks" %></th>
		
				</tr>
				<tr>
					<td><%= select_tag "[search][risks_factor_id_equals_any][]", grouped_options_for_select(@options_for_factors, :name), :include_blank => true, :multiple => true, :size => 4  %></td>

				</tr>
			</table>
		</div>
		<div id="search_f">
			<table>
				<tr>
					<th><%= f.label :foods_food_category_name_like, "Food category" %></th>
					<th><%= f.label :foods_food_subcategory_name_like, "Food subcategory" %></th>
					
				</tr>
				<tr>
					<td><%= select_tag "[search][foods_food_category_name_like_any[]", options_for_select(@food_categories), :multiple => true, :size => 4  %></td>
					<td><%= select_tag "[search][foods_food_subcategory_name_like_any][]", grouped_options_for_select(@options_for_food_subcategories, :name), :multiple => true, :size => 6  %></td>
					
				</tr>
			</table>
		</div>
		<%= f.submit "Search" %> 
		<% end %>
	</div>
	</fieldset>
	

