<% if @modifier == nil %>
	<div class="left_form">
		<%= label :toxic_agent, :toxin_id %>
	</div>
	<div class="right_form" >
		<%= select(:toxic_agent, :toxin_id, "<option value='' selected='true'>Not specified</option>" + options_from_collection_for_select(@toxins, :id, :name)) %>
	</div>
	<div style="clear:both;"></div>
	<%  form_for @toxic_agent do |toxic_agent_form| %>
		<div class="left_form">
			<%= toxic_agent_form.label :confirmed %>
		</div>
		<div class="right_form" >
			<%= toxic_agent_form.select(:confirmed, options_for_select({"Yes" => TRUE, "No" => FALSE})) %>
		</div>
		<div style="clear:both;"></div>
		<div class="left_form">
			<%= toxic_agent_form.label :concentration %>
		</div>
		<div class="right_form" >
			<%= toxic_agent_form.text_field :concentration %>
		</div>
		<div style="clear:both;"></div>
		<div class="left_form">
			<%= toxic_agent_form.label :comment %>
		</div>
		<div class="right_form" >
			<%= toxic_agent_form.text_area :comment, {:cols => "60", :rows => "10"} %>
		</div>
	<% end %>
	
<% elsif @modifier == "investigation" %>	
	
	<div class="left_form">
		<%= label_tag "ia_toxin_id", "Toxin" %>
	</div>
	<div class="right_form" >
		<%= select_tag("ia_toxin_id", "<option value='' selected='true'>Not specified</option>" + options_from_collection_for_select(@toxins, :id, :name)) %>
	</div>
	<div style="clear:both;"></div>
	<div class="left_form">
		<%= label_tag "ia_toxic_agent_confirmed", "confirmed" %>
	</div>
	<div class="right_form" >
		<%= select_tag("ia_toxic_agent_confirmed", options_for_select({"Yes" => TRUE, "No" => FALSE})) %>
	</div>
	<div style="clear:both;"></div>
	<div class="left_form">
		<%= label_tag "ia_toxic_agent_conecentration", "concentration" %>
	</div>
	<div class="right_form" >
		<%= text_field_tag "ia_toxic_agent_concentration" %>
	</div>
	<div style="clear:both;"></div>
	<div class="left_form">
		<%= label_tag "ia_toxic_agent_comment", "comment" %>
	</div>
	<div class="right_form" >
		<%= text_area_tag "ia_toxic_agent_comment", '', :cols => "60", :rows => "10" %>
	</div>
	
	<div class="right_form" id="add_sample_button">
			<%= image_tag("plus_sm.png", {:id => "button_add_investigation",
				:name => "button_add_investigation",
				:onclick => "#{remote_function(:url  => {:action => "add_investigation"},
				:with => "'ia_category=' + encodeURIComponent($('ia_category').value) +
					'&ia_comment=' + encodeURIComponent($('ia_comment').value) +
					'&ia_level=' + encodeURIComponent($('ia_level').value) +
					'&ia_agents=' + encodeURIComponent($('ia_agents').value) +
					'&ia_toxin_id=' + encodeURIComponent($('ia_toxin_id').value) +
					'&ia_toxic_agent_confirmed=' + encodeURIComponent($('ia_toxic_agent_confirmed').value) +
					'&ia_toxic_agent_concentration=' + encodeURIComponent($('ia_toxic_agent_concentration').value) +
					'&ia_outbreak_type=' + encodeURIComponent($('ia_outbreak_type').value) +
					'&ia_toxic_agent_comment=' + encodeURIComponent($('ia_toxic_agent_comment').value)
					")}",
				:alt => "Add investigation details",
				:title => "Add investigation" }) %>
			Add this sample data to outbreak
	</div>
	
<% end %>
