* {
	margin: 0;
}

body { 
	background-color: #fff; 
	color: #333; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   11px;
  line-height: 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; text-decoration: none; }
a:visited { color: #333; }
a:hover { text-decoration: underline; }

div.field, div.actions {
  margin-bottom: 10px;
}

fieldset {   
  -moz-border-radius:5px;  
  border-radius: 5px;  
  -webkit-border-radius: 5px;

}


th{
	font-variant: small-caps;
	background-color: #EBDFBE;	
}

th.cleared{	
	background-color: #FFF;	
}

td.draft{
	background-color: #ADD8E6;
	font-variant: small-caps;
	text-align: center;	
}

td.active{
	background-color: #90EE90;
	font-variant: small-caps;
	text-align: center;
}

td.inactive{
	background-color: #FF0000;
	font-variant: small-caps;
	text-align: center;
}

td.action{
	background-color: #EBDFBE;
}

td.empty{
	background-color: #FFFFFF;	
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;	
}

h1{
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 10px;
}



div.main_heading {
	
	float: right;
	margin-top: -110px;
	line-height: normal;	
}

div.main_image {
	width: 240px;
	margin-left: 2px;
	margin-top: 2px;	
}

div.left_form {
	width:30%; 
	font-variant: small-caps;
	font-weight: bold;
	float: left;
	clear: left;
	padding: 2px;
	margin: 3px;
	background: #ccc;
}

div.right_form {
	width:65%;
	float: right;
	clear: right;
	padding: 2px;
	margin: 1px;
}

div.right_nav {
	width:25%;
	float: right;
	clear: right;
	padding: 2px;
	margin: 1px;
	
}

div.left_nav {
	width:25%; 
	float: left;
	clear: right;
	padding: 2px;
	margin: 1px;
	
}

div.bacterium_header {
	background: orange;
	color: black;
	padding: 1px;
	font-weight: bold;
	
}

div.virus_header {
	background: red;
	color: white;
	padding: 1px;
	font-weight: bold;

}

div.protozoa_header {
	background: lightblue;
	color: black;
	padding: 1px;
	font-weight: bold;
}

div.toxin_header {
	background: green;
	color: black;
	padding: 1px;
	font-weight: bold;
}

div.unknown_header {
	background: purple;
	color: white;
	padding: 1px;
	font-weight: bold;
}

div.mixed_header {
	background: yellow;
	color: black;
	padding: 1px;
	font-weight: bold;

}

div.edit_div {
	width: 60%;
	margin: 5px;	
	
}

div.new_div {
	width: 60%;
	margin: 5px;	
}

fieldset.role_fieldset {
	width: 30%;	
}

div.top_nav_container {
	background: none repeat scroll 0 0 #FF8C00;
	padding-bottom: 4px;
	margin-top: 4px;
	height: 15px;
	
}


div.current_user {
	background: none repeat scroll 0 0 #FFF5EB;
	font-weight: bold;
	
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-bottom: 1px solid #EBDFBE;
		
}

.current_user a {
	color: #666;
	text-decoration: none; 	
	
}

.current_user a:hover {
	color: #000;	
}

span.current {
	color: red;
	font-weight: bold;
	text-decoration: underline;	
}

span.help {
	background-color: #ffcc99;
	border: 1px solid orange;
	
	font-weight: bold;
	cursor: help;
	
	padding: 2px;
}

span.remove {
	background-color: #ff9999;
	border: 1px solid darkred;
	
	font-weight: bold;
	padding: 2px;
		
}

span.required {
	background: #d3edab;
	border:1px solid #73bc00;
	
	font-variant: small-caps;
	font-weight: bold;
	cursor: default;
	
	padding: 2px;	
}

span.highlight_span {
	background: #d3edab;
	border:1px solid #73bc00;
	
	font-variant: small-caps;
	font-weight: bold;
	cursor: default;
	
	padding: 2px;	
}

div.highlight_active {
	background: #d3edab;
	border:1px solid #73bc00;
	
	font-variant: small-caps;
	font-weight: bold;
	
	padding: 2px;
	margin: 0;	
}

div.highlight_inactive {
	background-color: #ff9999;
	border: 1px solid white;
	
	font-weight: bold;
	padding: 2px;
	
	font-variant: small-caps;
	font-weight: bold;
	
	padding: 2px;
	margin: 0;	
}

div.highlight_draft {
	background: #AAF4F7;
	border:1px solid #5691C4;

	font-variant: small-caps;
	font-weight: bold;
	
	padding: 2px;
	margin: 0;	
}


span.highlight_tab{
	background-color: #ffcc99;
	border: 1px solid orange;
	
	padding: 2px;
	
	text-align: center;
	font-weight: bold;	
}

#link_to_file{
	margin: 10px;
}

#errorExplanation {
  width: 600px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#outbreak_listing{
	float:left;
	overflow: auto;
	height: 600px;	
	width: 400px;
	
	margin: 10px;
}

#map_div{
	float: right;
	
	margin: 0px auto;
	width:50% !important;
	
        height:400px;
}

#map_container{
	margin: 10px;	
}

#map_container_small{
	
}

#timeline{
	height: 350px;
	border: 1px solid #aaa;
	margin: 10px;
	clear: both;
}

a.mover {
	background: none repeat scroll 0 0 #FF8A00;
	color: white;
	font-weight: bold;	
	padding: 6px 12px;
	position: absolute;
	text-decoration: none;
}

input.submitter {
	background: none repeat scroll 0 0 #0BBF17;
	color: white;
	border: none;
	font-weight: bold;
	cursor:pointer;
	padding: 4px 12px;
	position: absolute;
	text-decoration: none;
}

.submit-tab {
	-moz-border-radius-topleft: 10px;
	
	bottom: 0;
	right: 0;	
}

.next-tab {
	-moz-border-radius-topleft: 10px;
	
	bottom: 0;
	right: 0;	
}

.prev-tab {
	-moz-border-radius-topright: 10px;
	
	bottom: 0;
	left: 0;	
}

#search_menu_1 {
	cursor: pointer;	
}

#only_pathogen_types_div{
	margin-top: 5px;		
}

h1.main{
	color: darkorange;
	font-size: 6em;
	margin-top: 20px;
	margin-bottom: 10px;
}

h2{
	font-size: 1.2em;
	margin-top: 5px;
	margin-bottom: 10px;
}

.national{
	text-align: center;
	color: #700000;
	font-weight: bold;
}

#map_div{
	float: right;
	width: 450px;
	height: 600px;
	
	margin-bottom: 10px;	
}


#map_div_small{
	float: right;
	width: 350px !important;
	height: 350px !important;
	margin-bottom: 10px;
}

#progress_bar {
	
	float: right;
}

table{
	
	width: 100%;	
}

table.location_table{
	float: left;
	width: 45%;	
}
tr.even {
	background-color: #fff5eb	
}

tr.odd {
	background-color: #fee6d8
}

td.comment{
	text-align: center;	
}

td.investigation_tab{
	background-color: #ffcc99;
	border: 1px solid orange;

	padding: 5px;
	
	text-align: center;
	font-weight: bold;	
}



#left-sidebar { float: left; clear: both; width: 200px; margin-top: 25px; margin-right: 10px; margin-left: 10px;}
#left-sidebar ul.local { background:#fff5eb; padding:5px 10px 12px 5px; border:1px solid #faa61a;}
#left-sidebar .local ul { float:left; }
#left-sidebar .local li { display:block; list-style:none; padding:0 0 0 15px; line-height: 1.8em; }
#left-sidebar .local li a { text-decoration:none;}
#left-sidebar .local li a:hover { text-decoration:underline; }
#left-sidebar .local li.active { font-weight:bold; background: url(../images/bullet-arrow.gif) no-repeat left 50%; }
#left-sidebar .local-title { display:block; font-weight:bold; color:#fff; font-size:110%; padding:4px 5px 2px 5px; background:#faa61a url(../images/corner-swirl.gif) no-repeat top right; margin: 0;}
#left-sidebar .local-subtitle { display:block; font-weight:bold; color: #fff; font-size:110%; padding:4px 5px 2px 5px; background:#FAA61A; margin: 0;}


#top-navigation {background:#FF8A00; }
#top-navigation  a { text-decoration:none; color:white; font-weight:bold; }
#top-navigation  li { display:block; float:left; background:#8c8c8c url(../images/tab-right-off.gif) no-repeat top right; padding:1px 15px 3px 8px; }
#top-navigation  li.active { background:#f68620 url(../images/tab-right-on.gif) no-repeat top right; }
#top-navigation  li.preactive { background:#8c8c8c url(../images/tab-last-off.gif) no-repeat top right; }
#top-navigation  li.last.active { background:#f68620 url(../images/tab-last-on.gif) no-repeat top right; }
#top-navigation  li.last { background:#8c8c8c url(../images/tab-last-off.gif) no-repeat top right; }


#footer {
	/*background:#FAA61A url(../images/btm_fill.png) repeat-x top;*/
	background:#FF8A00;
	text-align: center;
	margin-top: 20px;
	padding-top: 2px;
	padding-bottom: 3px;
	color: white;
	width: 100%;
}

#login-bar {
	font-size: 1em ;
	background: #F68520;
	padding: 2px;
	text-indent:4px;	
}

#login-notice {
	background:none repeat scroll 0 0 paleGoldenRod;
	border:1px solid darkred;
	padding:5px;
}	

p.main_paragraph {
	text-indent:40px;
}

li.main_list {
	list-style: none;
}

#main-content {
	/*background: url(images/left-sidebar.gif) repeat-y white;*/
  float: left;
  padding-left: 12px;
  padding-top: 10px;
  width: 75%;
}

#main-content ul.subsection_tabs {
	list-style:none;
	margin:0 0 5px 0;
	padding:0;
	/*clear:both;*/
	border-bottom:1px solid #ccc;
	height:20px;

}
#main-content ul.subsection_tabs li.tab {
	float:left;
	margin-right:7px;
	text-align:center
}
#main-content ul.subsection_tabs li.tab a {
	display:inline;
	height:20px;
	padding:0 6px 0 6px;
	background-color:#fff;
	color:#666;
	width:80px
}
#main-content ul.subsection_tabs li.tab a:hover {
	color:#666
}
#main-content ul.subsection_tabs li.tab a.active {
	background-color:#ddd
}


#main-content fieldset.form_div {
	clear: both;	
	padding: 15px;

}

#main-content legend {
	color: black;
	font-weight: bold;	
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#location_error {
	text-align: center;
	padding: 2px;	
}

#ajax_error {
	  
	  width: 100%;
	  border: 2px solid red;
	  padding: 7px;
	  padding-bottom: 0;
	  margin-bottom: 20px;
	  background-color: #f0f0f0;	
}

.text {
	margin-right: 20px;
	
}

.reference {
	border: lightgrey 1px solid;
	padding: 10px;
	margin: 10px;
	font-size: 0.6em;	
}

img.img_right {
	float: right;
	
	margin-right: 20px;
	padding: 10px;	
}

img.email {
	float: left;
}

/* Password strength checker styles */

/*  ADVANCED STYLES */
.top_testresult{
	font-weight: bold;
	font-size:13px;
	font-family: arail,helvetica,san-serif;
	color:#666;
	padding:0;
	margin:0 0 2px 0;
}

.top_testresult span{
	padding:6px ;
	margin:0;
}

.top_shortPass{
	background:#edabab;
	border:1px solid #bc0000;
	/* display:block; */
}

.top_shortPass span{
	
}

.top_badPass{
	background:#edabab;
	border:1px solid #bc0000;
	/* display:block; */
}

.top_badPass span{
	
}

.top_goodPass{
	background:#ede3ab;
	border:1px solid #bc9f00;
	/* display:block; */
}

.top_goodPass span{

}

.top_strongPass{
	background:#d3edab;
	border:1px solid #73bc00;
	/* display:block; */
}

.top_strongPass span{

}

/* 	RESULT STYLE  */
.testresult{
	font-weight: bold;
	font-size:13px;
	font-family: arial,helvetica,san-serif;
	color:#666;
	padding:0px 0px 12px 10px;
	margin-left:10px;
	display: block;
	height:28px;
	float:left;
}

.testresult span{
	padding:10px 20px 12px 10px;
	margin: 0px 0px 0px 20px;
	display:block;
	float:right;
	white-space: nowrap;
}

.shortPass{
	background:url(images/red.png) no-repeat 0 0;
}

.shortPass span{
	background:url(images/red.png) no-repeat top right;
}

.badPass{
	background:url(images/red.png) no-repeat 0 0;
}

.badPass span{
	background:url(images/red.png) no-repeat top right;
}

.goodPass{
	background:url(images/yellow.png) no-repeat 0 0;
}

.goodPass span{
	background:url(images/yellow.png) no-repeat top right;
}

.strongPass{
	background:url(images/green.png) no-repeat 0 0;
}

.strongPass span{
	background:url(images/green.png) no-repeat top right;
}

/* pagination styles adapted from the Digg schema http://mislav.uniqpath.com/will_paginate/ */

  .efoss_pagination {
  	  background: white;
  	/* self-clearing method: */ }
  
  .efoss_pagination a, .efoss_pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
    
  .efoss_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
    
  .efoss_pagination span.current {
    font-weight: bold;
    background-color: #ffcc99;
    border: 1px solid orange;
    
     }
    
  .efoss_pagination a {
    text-decoration: none;
    color: #FF4200;
    border: 1px solid #EBDFBE; }
    
  .efoss_pagination a:hover, .efoss_pagination a:focus {
      color: red;
      background-color: #ffcc99;
      border-color: orange;
    }
      
  .efoss_pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    
  .efoss_pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
      
  .efoss_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
    
  * html .efoss_pagination {
    height: 1%; }
    
  *:first-child+html .efoss_pagination {
    overflow: hidden; }


