<h1>Listing reporters</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Fname</th>
    <th>Lname</th>
    <th>Telephone</th>
    <th>Email</th>
    <th>Position</th>
    <th>Comment</th>
    <th>Outbreak</th>
    <th>Location</th>
  </tr>

<% @reporters.each do |reporter| %>
  <tr>
    <td><%=h reporter.id %></td>
    <td><%=h reporter.title %></td>
    <td><%=h reporter.fname %></td>
    <td><%=h reporter.lname %></td>
    <td><%=h reporter.telephone %></td>
    <td><%=h reporter.email %></td>
    <td><%=h reporter.position %></td>
    <td><%=h reporter.comment %></td>
    <td><%=h reporter.outbreak_id %></td>
    <td><%=h reporter.location_id %></td>
    <td><%= link_to 'Show', reporter %></td>
    <td><%= link_to 'Edit', edit_reporter_path(reporter) %></td>
    <td><%= link_to 'Destroy', reporter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reporter', new_reporter_path %>