<p>
  <b>Id:</b>
  <%=h @reporter.id %>
</p>

<p>
  <b>Title:</b>
  <%=h @reporter.title %>
</p>

<p>
  <b>Fname:</b>
  <%=h @reporter.fname %>
</p>

<p>
  <b>Lname:</b>
  <%=h @reporter.lname %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @reporter.telephone %>
</p>

<p>
  <b>Email:</b>
  <%=h @reporter.email %>
</p>

<p>
  <b>Position:</b>
  <%=h @reporter.position %>
</p>

<p>
  <b>Comment:</b>
  <%=h @reporter.comment %>
</p>

<p>
  <b>Outbreak:</b>
  <%=h @reporter.outbreak_id %>
</p>

<p>
  <b>Location:</b>
  <%=h @reporter.location_id %>
</p>


<%= link_to 'Edit', edit_reporter_path(@reporter) %> |
<%= link_to 'Back', reporters_path %>