<h1>Listing origins</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Category</th>
  </tr>

<% @origins.each do |origin| %>
  <tr>
    <td><%=h origin.id %></td>
    <td><%=h origin.category %></td>
    <td class="action"><%= link_to 'Show', origin %></td>
    <td class="action"><%= link_to 'Edit', edit_origin_path(origin) %></td>
    <td class="action"><%= link_to 'Destroy', origin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New origin', new_origin_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>