<p>
  <b>Id:</b>
  <%=h @origin.id %>
</p>

<p>
  <b>Category:</b>
  <%=h @origin.category %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_origin_path(@origin) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>