<% if user_signed_in? %>
	<table>
		<tr>
			<th>Outbreaks submitted</th>
			<th>Outbreaks confirmed</th>
		</tr>
		<tr>
			<td>
				<%=h @outbreaks ? @outbreaks.length : "0" %>
			</td>
			<td>
				<%=h @outbreaks_confirmed ? @outbreaks_confirmed.length : "0" %>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<th>Number of times logged in</th>
			<th>Registered</th>
			<th>Current sign-in IP</th>
			<th>Last sign-in IP</th>
		</tr>
		<tr>
			<td>
				<%=h @user ? @user.sign_in_count : "N/A" %>
			</td>
			<td>
				<%=h @user ? @user.created_at : "N/A" %>
			</td>
			<td>
				<%=h @user ? @user.current_sign_in_ip : "N/A" %>
			</td>
			<td>
				<%=h @user ? @user.last_sign_in_ip : "N/A" %>
			</td>
			
		</tr>
		<tr>
			<th colspan="4">Account actions</th>
		</tr>
		<tr>
			<td><span class="highlight_span"><%= link_to 'Edit', edit_user_path(@user) %></span></td>
			<td></td>
			<td></td>
			<td></td>
			
		</tr>
	</table>
	

<% end %>
