<% if user_signed_in? %>
	<div class="edit_div">
		<h1>Editing user</h1>
		
		<% form_for(@user) do |f| %>
		  <%= f.error_messages %>
		  
		  <p>
		    <%= f.label :email %><br />
		    <%= f.text_field :email %>
		  </p>
		  <p>
		    <%= f.label :fname, "First name" %><br />
		    <%= f.text_field :fname %>
		  </p>
		  <p>
		    <%= f.label :lname, "Last name" %><br />
		    <%= f.text_field :lname %>
		  </p>
		  
		  <% if current_user.role?("admin") %>
		  	  <fieldset class="roles_fieldset">
					<legend>Roles</legend>		
				<% for role in Role.all %>
			
				<div>
				  <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
				  <%=h role.name %>
				</div>
				<% end %>
				
			 </fieldset>
		  <% end %>
		  
		  <p><%= f.label :password %></p>
		  <p><%= f.password_field :password, {:class => "password_check"} %></p>
		
		  <p><%= f.label :password_confirmation %></p>
		  <p><%= f.password_field :password_confirmation, {:class => "password_check"} %></p>
		  
		
		
		  <p>
		    <%= f.submit 'Update' %>
		  </p>
		<% end %>
	</div>
	<div style="clear: both;">
		<span class="highlight_tab"><%= link_to 'Show', @user %></span> |
		<span class="highlight_tab"><%= link_to 'Back', users_path %></span>
	</div>
<% end %>