<% if user_signed_in? %>
	<% if current_user.role?("admin") %>
		<h1>Listing users</h1>
		
		<table>
		  <tr>
		    <th>Id</th>
		    <th>Email</th>
		    <th>First name</th>
		    <th>Last name</th>
		    <th>Sign in count</th>
		    <th>Roles</th>
		   
		    <th>Current IP</th>
		    <th>Current sign in</th>
		    <th>Last IP</th>
		    <th>Last sign in</th>
		    <th>Created at</th>
		    <th>Updated at</th>
		  </tr>
		
		<% @users.each do |user| %>
		  <tr>
		    <td><%=h user.id %></td>
		    <td><%=h user.email %></td>
		    <td><%=h user.fname %></td>
		    <td><%=h user.lname %></td>
		  
		    <td><%=h user.sign_in_count %></td>
		    <td>
		    <% if user.roles.length > 0 %>
		    <% user.roles.each do |this_role| %>
			<p><b><%=h this_role.name %></b></p> 
		    <% end %>
		    <% else %>
			<p><b>None</b></p>
		    <% end %>
		    </td>
		
		    <td><%=h user.current_sign_in_ip %></td>
		    <td><%=h user.current_sign_in_at %></td>
		    <td><%=h user.last_sign_in_ip %></td>
		    <td><%=h user.last_sign_in_at %></td>
		    <td><sub><%=h user.created_at %></sub></td>
		    <td><sub><%=h user.updated_at %></sub></td>
		
		    <td class='action'><%= link_to 'Show', user %></td>
		    <td class='action'><%= link_to 'Edit', edit_user_path(user) %></td>
		    <td class='action'><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
		</table>
		
		<br />
		
		<span class="highlight_tab"><%= link_to('Register', new_user_registration_path )  %></span>
	<% end %>
<% end %>
