
  <p>
    <b>Id:</b>
    <%=h @user.id %>
  </p>
  <p>
    <b>Email: </b>
    <%=h @user.email %>
  </p>
  <p>
    <b>First name:</b>
    <%=h @user.fname %>
  </p>
  <p>
    <b>Last name:</b>
    <%=h @user.lname %>
  </p>
  <p>
    <b>Role: </b>
    <% @user.roles.each do |this_role| %>
    	<%=h this_role.name %> 
    <% end %>
  </p>
  <p>
    <b>Confirmed at: </b>
    <%=h @user.confirmed_at %>
  </p>
  
<span class="highlight_span"><%= link_to 'Edit', edit_user_path(@user) %></span> |
<span class="highlight_tab"><%= link_to 'Back', users_path %></span>