<h1>Listing exposures</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Category</th>
    <th>Comment</th>
    <th>Outbreak</th>
    <th>Detail</th>
    <th>Location</th>
  </tr>

<% @exposures.each do |exposure| %>
  <tr>
    <td><%=h exposure.id %></td>
    <td><%=h exposure.name %></td>
    <td><%=h exposure.category %></td>
    <td><%=h exposure.comment %></td>
    <td><%=h exposure.outbreak_id %></td>
    <td><%=h exposure.detail_id %></td>
    <td><%=h exposure.location_id %></td>
    <td><%= link_to 'Show', exposure %></td>
    <td><%= link_to 'Edit', edit_exposure_path(exposure) %></td>
    <td><%= link_to 'Destroy', exposure, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exposure', new_exposure_path %>