<p>
  <b>Id:</b>
  <%=h @exposure.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @exposure.name %>
</p>

<p>
  <b>Category:</b>
  <%=h @exposure.category %>
</p>

<p>
  <b>Comment:</b>
  <%=h @exposure.comment %>
</p>

<p>
  <b>Outbreak:</b>
  <%=h @exposure.outbreak_id %>
</p>

<p>
  <b>Detail:</b>
  <%=h @exposure.detail_id %>
</p>

<p>
  <b>Location:</b>
  <%=h @exposure.location_id %>
</p>


<%= link_to 'Edit', edit_exposure_path(@exposure) %> |
<%= link_to 'Back', exposures_path %>