<% if current_user.role?("admin") %>
	<h1>Editing property</h1>
	
	<% form_for(@property) do |f| %>
	  <%= f.error_messages %>
	
	  <p>
	    <%= f.label :id %><br />
	    <%= f.text_field :id %>
	  </p>
	  <p>
	    <%= f.label :field %><br />
	    <%= f.text_field :field %>
	  </p>
	  <p>
	    <%= f.label :property_value %><br />
	    <%= f.text_area :property_value %>
	  </p>
	  <p>
	    <%= f.submit 'Update' %>
	  </p>
	<% end %>
	
	<span class="highlight_tab"><%= link_to 'Show', @property %></span> |
	<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>
<% else %>
	<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>
<% end %>

