<% if current_user.role?("admin") %>
	<h1>Listing properties</h1>
	
	<table>
	  <tr>
	    <th>Id</th>
	    <th>Field</th>
	    <th>Property value</th>
	  </tr>
	
	<% @properties.each do |property| %>
	  <tr>
	    <td><%=h property.id %></td>
	    <td><%=h property.field %></td>
	    <td><%=h property.property_value %></td>
	    <td class="action"><%= link_to 'Show', property %></td>
	    <td class="action"><%= link_to 'Edit', edit_property_path(property) %></td>
	    <td class="action"><%= link_to 'Destroy', property, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
	
	<br />
	
	<span class="highlight_span"><%= link_to 'New property', new_property_path %></span> |
	<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>
<% else %>
	<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>
<% end %>