<h1>New property</h1>

<% form_for(@property) do |f| %>
  <%= f.error_messages %>
  <p>
  	New values for the various dropdown selection boxes can be entered here.
  	The standard format is all caps and the 'field' values should be in the following format. 
  </p>
  <br></br>
  <p>
  	TableName:ColumnName
  	or
  	TableName:ColumnName:Option (Option would be used to specify more than one list of values for the dropdown)
  </p>
  <br></br>
  <p>
  	For example:
  	OUTBREAKS:OUTBREAK_TYPE
  </p>
  <br></br>
  <p>
    <%= f.label :field %><br />
    <%= f.text_field :field %>
  </p>
  <p>
    <%= f.label :property_value %><br />
    <%= f.text_area :property_value, :cols => 60, :rows => 10  %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>