<p>
  <b>Id:</b>
  <%=h @property.id %>
</p>

<p>
  <b>Field:</b>
  <%=h @property.field %>
</p>

<p>
  <b>Property value:</b>
  <%=h @property.property_value %>
</p>


<span class="highlight_span"><%= link_to 'Edit', edit_property_path(@property) %></span |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>