<h1>Listing hpus</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Region</th>
    <th>Name</th>
  </tr>

<% @hpus.each do |hpu| %>
  <tr>
    <td><%=h hpu.id %></td>
    <td><%=h hpu.region_id %></td>
    <td><%=h hpu.name %></td>
    <td class="action"><%= link_to 'Show', hpu %></td>
    <td class="action"><%= link_to 'Edit', edit_hpu_path(hpu) %></td>
    <td class="action"><%= link_to 'Destroy', hpu, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_tab"><%= link_to 'New hpu', new_hpu_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>