<p>
  <b>Id:</b>
  <%=h @hpu.id %>
</p>

<p>
  <b>Region:</b>
  <%=h @hpu.region_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @hpu.name %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_hpu_path(@hpu) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>