<div id="header">
			<div style="float: right; margin-top: -110px; line-height: normal;"><h1 style="color: darkorange; font-family: verdana, arial, helvetica, sans-serif; font-size: 6em; margin-top: 20px; margin-bottom: 10px;">eFOSS</h1></div>
</div>
<div style="clear:both; margin:10px;"></div>
<div style="font-family: verdana, arial, helvetica, sans-serif;">
	<p>Hello <%= @resource.email %>!</p>
	
	<p>Someone has requested a link to change your password, and you can do this through the link below.</p>
	
	<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
	
	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>
</div>
<div style="clear:both; margin:10px;"></div>
<div style="background:#FF8A00; text-align: center; margin-top: 20px; font-family: verdana, arial, helvetica, sans-serif; padding-top: 2px; padding-bottom: 3px; color: white; width: 100%;">
				<p>eFOSS [HPA <%=h Date.today.year %>]</p>
</div>
