<div id="header">
			<div style="float: right; margin-top: -110px; line-height: normal;"><h1 style="color: darkorange; font-family: verdana, arial, helvetica, sans-serif; font-size: 6em; margin-top: 20px; margin-bottom: 10px;">eFOSS</h1></div>
</div>
<div style="clear:both; margin:10px;"></div>
<div style="font-family: verdana, arial, helvetica, sans-serif;">
	<p>Hello <%= @resource.email %>!</p>
	
	<p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>
	
	<p>Click the link below to unlock your account:</p>
	
	<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
</div>
<div style="clear:both; margin:10px;"></div>
<div style="background:#FF8A00; text-align: center; font-family: verdana, arial, helvetica, sans-serif; margin-top: 20px; padding-top: 2px; padding-bottom: 3px; color: white; width: 100%;">
				<p>eFOSS [HPA <%=h Date.today.year %>]</p>
</div>
