	
	<script type="text/javascript">

	  
	    var $j = jQuery.noConflict();
	    
	    $j(document).ready(function() {
			    new Highcharts.Chart({
			      chart: {
				renderTo: "outbreaks_chart"
			      },
			      title: {
				text: "Non-foodborne outbreaks by transmission mode / pathogen"
			      },
			      xAxis: {
			      	title: {
			      		text: "Transmission modes"
			      	},
				categories: <%= @transmission_modes.inspect %>
						
			      },
			      yAxis: {
				title: {
				  text: "Number of outbreaks by pathogen"
				},
				min: 0
				
			      }, 
			      tooltip: {
				 formatter: function() {
				    return '<b>'+this.series.name+'</b><br/>'+
				    	   '<b>Transmission mode</b> '+this.x+'<br\>'+
				    	   '<b>Outbreaks</b> '+this.y;
				 }
			      },
			      
			      plotOptions: {
				 column: {
				    stacking: 'normal',
				    dataLabels: {
				       enabled: false
				    }
				 }
			      },
			      series: [
     
			      	      {
				        name: 'VTEC O157',
				        type: 'column',
				        data: [
				        <% @transmission_modes.each_with_index do |this_mode, index| %>
				        	<% if index < @transmission_modes.length - 1 %><%=h @vtec_store[this_mode] %>,<% else %><%=h @vtec_store[this_mode] %><% end %>
				        <% end %> 
				        ]
				      },
				      {
				        name: 'SALMONELLA TYPHIMURIUM',
				        type: 'column',
				        data: [
				        <% @transmission_modes.each_with_index do |this_mode, index| %>
				        	<% if index < @transmission_modes.length - 1 %><%=h @salmonella_typhi_store[this_mode] %>,<% else %><%=h @salmonella_typhi_store[this_mode] %><% end %>
				        <% end %> 
				        ]
				      },
				       {
				        name: 'CRYPTOSPORIDIUM SPP.',
				        type: 'column',
				        data: [
				        <% @transmission_modes.each_with_index do |this_mode, index| %>
				        	<% if index < @transmission_modes.length - 1 %><%=h @cryptosporidium_store[this_mode] %>,<% else %><%=h @cryptosporidium_store[this_mode] %><% end %>
				        <% end %> 
				        ]
				      },
				      {
				        name: 'NOROVIRUS',
				        type: 'column',
				        data: [
				        <% @transmission_modes.each_with_index do |this_mode, index| %>
				        	<% if index < @transmission_modes.length - 1 %><%=h @norovirus_store[this_mode] %>,<% else %><%=h @norovirus_store[this_mode] %><% end %>
				        <% end %> 
				        ]
				      },
				      {
				        name: 'GIARDIA LAMBLIA',
				        type: 'column',
				        data: [
				        <% @transmission_modes.each_with_index do |this_mode, index| %>
				        	<% if index < @transmission_modes.length - 1 %><%=h @girdia_store[this_mode] %>,<% else %><%=h @girdia_store[this_mode] %><% end %>
				        <% end %> 
				        ]
				      },
				      {
				        name: 'CAMPYLOBACTER SPP.',
				        type: 'column',
				        data: [
				        <% @transmission_modes.each_with_index do |this_mode, index| %>
				        	<% if index < @transmission_modes.length - 1 %><%=h @campylobacter_store[this_mode] %>,<% else %><%=h @campylobacter_store[this_mode] %><% end %>
				        <% end %> 
				        ]
				      },
				      {
				        name: 'SALMONELLA ENTERITIDIS',
				        type: 'column',
				        data: [
				        <% @transmission_modes.each_with_index do |this_mode, index| %>
				        	<% if index < @transmission_modes.length - 1 %><%=h @salmonella_enteri_store[this_mode] %>,<% else %><%=h @salmonella_enteri_store[this_mode] %><% end %>
				        <% end %> 
				        ]
				      }
			      ]
			    });	    
	    });
	</script>

	<div id="outbreaks_chart"></div>
