	
	<script type="text/javascript">

	  
	    var $j = jQuery.noConflict();
	    
	    $j(document).ready(function() {
			    new Highcharts.Chart({
			      chart: {
				renderTo: "outbreaks_chart"
			      },
			      title: {
				text: "Outbreaks by type and year"
			      },
			      xAxis: {
			      	title: {
			      		text: "Years"
			      	},
				categories: <%=h @years.inspect %>
			      },
			      yAxis: {
				title: {
				  text: "Number of outbreaks by type"
				},
				min: 0
				
			      }, 
			      tooltip: {
				 formatter: function() {
				    return '<b>'+this.series.name+'</b><br/>'+
				    	   '<b>Year</b> '+this.x+'<br\>'+
				    	   '<b>Outbreaks</b> '+this.y;
				 }
			      },
			      series: [
     
			      	      {
				        name: 'FOODBORNE',
				        type: 'column',
				        data: [
				        <% @years.each_with_index do |this_year, index| %>
				        	<% if index < @years.length - 1 %><%=h @foodborne_store[this_year] %>,<% else %><%=h @foodborne_store[this_year] %><% end %>
				        <% end %> 
				        ]
				      },
				      {
				       name: 'NON-FOODBORNE',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				        	<% if index < @years.length - 1 %>
				        		<%=h @nonfoodborne_store[this_year] %>,
				        	<% else %>
				        		<%=h @nonfoodborne_store[this_year] %>
				        	<% end %>
				        <% end %>
				       ]
				      },
				      {
				       name: 'TOTAL',
				       type: 'spline',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @total_store[this_year] %>,
				       		<% else %>
				       			<%=h @total_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      }
				
			           
			      ]
			    });	    
	    });
	</script>

	<div id="outbreaks_chart"></div>
