	
	<script type="text/javascript">

	  
	    var $j = jQuery.noConflict();
	    
	    $j(document).ready(function() {
			    new Highcharts.Chart({
			      chart: {
				renderTo: "outbreaks_chart"
			      },
			      title: {
				text: "Foodborne outbreaks with associated foodtype by year"
			      },
			      xAxis: {
			      	title: {
			      		text: "Years"
			      	},
				categories: <%=h @years.inspect %>
			      },
			      yAxis: {
				title: {
				  text: "Number of outbreaks by foodtype"
				},
				min: 0
				
			      }, 
			      tooltip: {
				 formatter: function() {
				    return '<b>'+this.series.name+'</b><br/>'+
				    	   '<b>Year</b> '+this.x+'<br\>'+
				    	   '<b>Outbreaks</b> '+this.y;
				 }
			      },
			      
			      plotOptions: {
				 column: {
				    stacking: 'normal',
				    dataLabels: {
				       enabled: false
				    }
				 }
			      },
			      series: [
     
			      	      {
				        name: 'POULTRY MEAT',
				        type: 'column',
				        data: [
				        <% @years.each_with_index do |this_year, index| %>
				        	<% if index < @years.length - 1 %><%=h @poultry_store[this_year] %>,<% else %><%=h @poultry_store[this_year] %><% end %>
				        <% end %> 
				        ]
				      },
				      {
				       name: 'RED MEAT',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				        	<% if index < @years.length - 1 %>
				        		<%=h @red_meat_store[this_year] %>,
				        	<% else %>
				        		<%=h @red_meat_store[this_year] %>
				        	<% end %>
				        <% end %>
				       ]
				      },
				      {
				       name: 'FINFISH',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @finfish_store[this_year] %>,
				       		<% else %>
				       			<%=h @finfish_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'POTABLE WATER',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @potable_water_store[this_year] %>,
				       		<% else %>
				       			<%=h @potable_water_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'RICE',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @rice_store[this_year] %>,
				       		<% else %>
				       			<%=h @rice_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'OTHER FOODS',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @other_foods_store[this_year] %>,
				       		<% else %>
				       			<%=h @other_foods_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'UNKNOWN',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @unknown_store[this_year] %>,
				       		<% else %>
				       			<%=h @unknown_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'OTHER + MIXED MEATS',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @mixed_meats_store[this_year] %>,
				       		<% else %>
				       			<%=h @mixed_meats_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'CRUSTACEA + SHELLFISH',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @crustacea_shellfish_store[this_year] %>,
				       		<% else %>
				       			<%=h @crustacea_shellfish_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'MIXED FINFISH + CRUSTACEA | SHELLFISH',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @mixed_finfish_shellfish_store[this_year] %>,
				       		<% else %>
				       			<%=h @mixed_finfish_shellfish_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'VEGETABLES + FRUIT',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @veg_fruit_store[this_year] %>,
				       		<% else %>
				       			<%=h @veg_fruit_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'CONDIMENTS + SAUCES',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @sauces_store[this_year] %>,
				       		<% else %>
				       			<%=h @sauces_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'DESSERTS, CAKES + CONFECTIONERY',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @desserts_confectionery_store[this_year] %>,
				       		<% else %>
				       			<%=h @desserts_confectionery_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'EGGS + EGG DISHES',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @eggs_store[this_year] %>,
				       		<% else %>
				       			<%=h @eggs_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'MILK + DAIRY PRODUCTS',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @milk_store[this_year] %>,
				       		<% else %>
				       			<%=h @milk_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      },
				      {
				       name: 'COMPOSITE | MIXED FOODS',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				       		<% if index < @years.length - 1 %>
				       			<%=h @mixed_foods_store[this_year] %>,
				       		<% else %>
				       			<%=h @mixed_foods_store[this_year] %>
				       		<% end %>
				       	<% end %>
				       ]
				      }
			           
			      ]
			    });	    
	    });
	</script>

	<div id="outbreaks_chart"></div>
