	
	<script type="text/javascript">

	  
	    var $j = jQuery.noConflict();
	    
	    $j(document).ready(function() {
			    new Highcharts.Chart({
			      chart: {
				renderTo: "outbreaks_chart",
				height: 800,
				width: 600
			      },
			      title: {
				text: "Foodborne pathogens"
			      },
			      xAxis: {
			      	title: {
			      		text: "Major pathogens"
			      	},
				categories: <%= @pathogens.join('","').insert(0, '["').insert(-1, '"]') %>,
				 labels: {
				    rotation: -45,
				    align: 'right',
				    style: {
					font: 'normal 10px Verdana, sans-serif'
				    }
				 }
			      },
			      yAxis: {
				title: {
				  text: "Total number of outbreaks"
				},
				min: 0
				
			      }, 
			      tooltip: {
				 formatter: function() {
				    return '<b>'+this.series.name+'</b><br/>'+
				    	   this.x+'<br\>'+
				    	   '<b>Outbreaks</b> '+this.y;
				 }
			      },
			      series: [
     
			      	      {
				        name: 'PATHOGENS',
				        type: 'column',
				        data: [
				        	<%=h @pathogen_store['SALMONELLA SPP.'] %>, 
				        	<%=h @pathogen_store['FOODBORNE VIRUSES'] %>,
				        	<%=h @pathogen_store['CLOSTRIDIUM PERFRINGENS'] %>,
				        	<%=h @pathogen_store['UNKNOWN'] %>,
				        	<%=h @pathogen_store['CAMPYLOBACTER SPP.'] %>,
				        	<%=h @pathogen_store['VTEC O157'] %>,
				        	<%=h @pathogen_store['SCOMBROTOXIN'] %>,
				        	<%=h @pathogen_store['BACILLUS SPP.'] %>,
				        	<%=h @pathogen_store['S.AUREUS'] %>,
				        	<%=h @pathogen_store['CRYPTOSPORIDIUM'] %>,
				        	<%=h @pathogen_store['L. MONOCYTOGENES'] %>
				        ]
				      }
			      ]
			    });	    
	    });
	</script>

	<div id="outbreaks_chart"></div>
