	
	<script type="text/javascript">

	  
	    var $j = jQuery.noConflict();
	    
	    $j(document).ready(function() {
			    new Highcharts.Chart({
			      chart: {
				renderTo: "outbreaks_chart"
			      },
			      title: {
				text: "Non foodborne transmission modes by year"
			      },
			      xAxis: {
			      	title: {
			      		text: "Years"
			      	},
				categories: <%=h @years.inspect %>
			      },
			      yAxis: {
				title: {
				  text: "Number of outbreaks by transmission mode"
				},
				min: 0
				
			      }, 
			      tooltip: {
				 formatter: function() {
				    return '<b>'+this.series.name+'</b><br/>'+
				    	   '<b>Year</b> '+this.x+'<br\>'+
				    	   '<b>Outbreaks</b> '+this.y;
				 }
			      },
			      series: [
     
			      	      {
				        name: 'WATER (RECREATIONAL)',
				        type: 'column',
				        data: [
				        <% @years.each_with_index do |this_year, index| %>
				        	<% if index < @years.length - 1 %><%=h @rec_water_store[this_year] %>,<% else %><%=h @rec_water_store[this_year] %><% end %>
				        <% end %> 
				        ]
				      },
				      {
				       name: 'ANIMAL CONTACT',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				        	<% if index < @years.length - 1 %>
				        		<%=h @animal_contact_store[this_year] %>,
				        	<% else %>
				        		<%=h @animal_contact_store[this_year] %>
				        	<% end %>
				        <% end %>
				       ]
				      },
				      {
				       name: 'PERSON TO PERSON (VTEC ONLY)',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				        	<% if index < @years.length - 1 %>
				        		<%=h @vtec_store[this_year] %>,
				        	<% else %>
				        		<%=h @vtec_store[this_year] %>
				        	<% end %>
				        <% end %>
				       ]
				      },
				      {
				       name: 'OTHER | OUTDOOR EVENTS',
				       type: 'column',
				       data: [
				       	<% @years.each_with_index do |this_year, index| %>
				        	<% if index < @years.length - 1 %>
				        		<%=h @outdoor_store[this_year] %>,
				        	<% else %>
				        		<%=h @outdoor_store[this_year] %>
				        	<% end %>
				        <% end %>
				       ]
				      },
			           
			      ]
			    });	    
	    });
	</script>

	<div id="outbreaks_chart"></div>
