<h1>Editing factor</h1>

<% form_for(@factor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :subcategory %><br />
    <%= f.text_field :subcategory %>
  </p>
  <p>
    <%= f.label :outbreak_type %><br />
    <%= f.text_field :outbreak_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<span class="highlight_tab"><%= link_to 'Show', @factor %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>