<h1>Listing factors</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Category</th>
    <th>Subcategory</th>
    <th>Outbreak type</th>
  </tr>

<% @factors.each do |factor| %>
  <tr>
    <td><%=h factor.id %></td>
    <td><%=h factor.name %></td>
    <td><%=h factor.category %></td>
    <td><%=h factor.subcategory %></td>
    <td><%=h factor.outbreak_type %></td>
    <td class="action"><%= link_to 'Show', factor %></td>
    <td class="action"><%= link_to 'Edit', edit_factor_path(factor) %></td>
    <td class="action"><%= link_to 'Destroy', factor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New factor', new_factor_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>