<p>
  <b>Id:</b>
  <%=h @factor.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @factor.name %>
</p>

<p>
  <b>Category:</b>
  <%=h @factor.category %>
</p>

<p>
  <b>Subcategory:</b>
  <%=h @factor.subcategory %>
</p>

<p>
  <b>Outbreak type:</b>
  <%=h @factor.outbreak_type %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_factor_path(@factor) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>