<h1>Listing pathogens</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Pathogen name</th>
    <th>Category</th>
    <th>Serotype</th>
    <th>Phagetype</th>
    <th>Other typing</th>
    <th>Toxin</th>
    <th>Confirmed</th>
    <th>Comment</th>
    <th>Bacterium</th>
    <th>Virus</th>
    <th>Protozoa</th>
  </tr>

<% @pathogens.each do |pathogen| %>
  <tr>
    <td><%=h pathogen.id %></td>
    <td><%=h pathogen.pathogen_name %></td>
    <td><%=h pathogen.category %></td>
    <td><%=h pathogen.serotype %></td>
    <td><%=h pathogen.phagetype %></td>
    <td><%=h pathogen.other_typing %></td>
    <td><%=h pathogen.toxin %></td>
    <td><%=h pathogen.confirmed %></td>
    <td><%=h pathogen.comment %></td>
    <td><%=h pathogen.bacterium_id %></td>
    <td><%=h pathogen.virus_id %></td>
    <td><%=h pathogen.protozoa_id %></td>
    <td><%= link_to 'Show', pathogen %></td>
    <td><%= link_to 'Edit', edit_pathogen_path(pathogen) %></td>
    <td><%= link_to 'Destroy', pathogen, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pathogen', new_pathogen_path %>