<h1>New pathogen</h1>

<% form_for(@pathogen) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :pathogen_name %><br />
    <%= f.text_field :pathogen_name %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :serotype %><br />
    <%= f.text_field :serotype %>
  </p>
  <p>
    <%= f.label :phagetype %><br />
    <%= f.text_field :phagetype %>
  </p>
  <p>
    <%= f.label :other_typing %><br />
    <%= f.text_field :other_typing %>
  </p>
  <p>
    <%= f.label :toxin %><br />
    <%= f.text_field :toxin %>
  </p>
  <p>
    <%= f.label :confirmed %><br />
    <%= f.check_box :confirmed %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.label :bacterium_id %><br />
    <%= f.text_field :bacterium_id %>
  </p>
  <p>
    <%= f.label :virus_id %><br />
    <%= f.text_field :virus_id %>
  </p>
  <p>
    <%= f.label :protozoa_id %><br />
    <%= f.text_field :protozoa_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pathogens_path %>