<p>
  <b>Id:</b>
  <%=h @pathogen.id %>
</p>

<p>
  <b>Pathogen name:</b>
  <%=h @pathogen.pathogen_name %>
</p>

<p>
  <b>Category:</b>
  <%=h @pathogen.category %>
</p>

<p>
  <b>Serotype:</b>
  <%=h @pathogen.serotype %>
</p>

<p>
  <b>Phagetype:</b>
  <%=h @pathogen.phagetype %>
</p>

<p>
  <b>Other typing:</b>
  <%=h @pathogen.other_typing %>
</p>

<p>
  <b>Toxin:</b>
  <%=h @pathogen.toxin %>
</p>

<p>
  <b>Confirmed:</b>
  <%=h @pathogen.confirmed %>
</p>

<p>
  <b>Comment:</b>
  <%=h @pathogen.comment %>
</p>

<p>
  <b>Bacterium:</b>
  <%=h @pathogen.bacterium_id %>
</p>

<p>
  <b>Virus:</b>
  <%=h @pathogen.virus_id %>
</p>

<p>
  <b>Protozoa:</b>
  <%=h @pathogen.protozoa_id %>
</p>


<%= link_to 'Edit', edit_pathogen_path(@pathogen) %> |
<%= link_to 'Back', pathogens_path %>