<h2>Welcome to the Electronic Foodborne and Non-Foodborne Gastrointestinal Outbreak Surveillance System (eFOSS)</h2> 
<%= image_tag("eFOSS_symbol_small.jpg", {:class => "img_right", :title => "eFOSS logo"}) -%>
<div class="text">
<div class="errorExplanation">
For the requirements of eFOSS, norovirus outbreaks of person to person transmission associated with hospital, other institutional/residential settings (care homes, schools, prisons, etc) and/or community outbreaks should not be reportedFor the requirements of eFOSS, norovirus outbreaks of person to person transmission associated with hospital, other institutional/residential settings (care homes, schools, prisons, etc) and/or community outbreaks should not be reported.
</div>
<p>
The surveillance system for general outbreaks of infectious intestinal disease (IID) in England and Wales has operated since 1992 which included foodborne and non-foodborne gastrointestinal outbreaks.
</p>
<p>
In 2009, the HPA eFOSS (electronic Foodborne and non-foodborne gastrointestinal Outbreak Surveillance System) was launched and is purposely aligned to the requirements of the Zoonoses Directive 2003/99/EC [1].
</p>
<p>
This Directive requires that Member States investigate and report all foodborne outbreaks to the European Food Safety Authority (EFSA).  Additionally information on other zoonoses outbreaks is included in eFOSS, i.e. non-foodborne outbreaks (mode of transmission covering animal contact, person to person contact (VTEC only), recreational water, etc.).
</p>
<br/>
<p>
eFOSS has also been developed as a web-based relational database to facilitate the collation of outbreak information from investigators and communication of information back to investigators and other health professionals.
This comprehensive collection of outbreak data provides an overview of foodborne and non-foodborne gastrointestinal outbreaks from 1992 onwards, tracks trends in foodborne disease and other zoonotic disease against interventions taken place, estimates source attribution of foodborne infections, and can be used for risk profiling and/or microbiological risk assessments on a local or national level.
</p>
<br/>
<p>
Outbreak information from eFOSS is also provided to Government Departments (e.g. Food Standards Agency, Department for Environmental, Food and Rural Affairs, Department of Health) and European Agencies (EFSA, ECDC) to support public health policies and foodborne disease reduction strategies.
</p>

<div class="reference">
	<ul>
		<li class="main_list">1. Directive 2003/99/EC  of the European Parliament and of the Council of 17 November, 2003 on the monitoring of zoonoses and zoonotic agents, amending Council Decision 90/424/EEC and repealing Council Directive 92/117/EEC. Official Journal of the European Union 2003; 46: L325/31-L325/40.</li>
	</ul>
</div>
</div>
