<% if user_signed_in? && current_user.role?('admin') %>
	<script>
	
		document.observe('dom:loaded',function(){         
			$j(function() {
				$j("#admin_tabs").tabs();
			});
	
		});
	
	</script>

	<h2>eFOSS Administration</h2> 
	<div id="admin_tabs">
		<ul>
			<li ><a href="#admin_tabs_a">Outbreaks</a></li>
			<li ><a href="#admin_tabs_b">Users</a></li>
			<li ><a href="#admin_tabs_c">Menu Items</a></li>
			<li ><a href="#admin_tabs_d">Pathogens</a></li>
			<li ><a href="#admin_tabs_e">Geography</a></li>
			<li ><a href="#admin_tabs_f">Documentation</a></li>
		</ul>	
		<div id="admin_tabs_a">
			<fieldset>
				<legend>Outbreaks</legend>
					<ul>
						<li><%= link_to "List Outbreaks", outbreaks_path %> </li>
						<li><%= link_to "List Outbreaks to be reviewed", :controller => "outbreaks", :action => "review" %> </li>
						<li><%= link_to "List Inactive Outbreaks", :controller => "outbreaks", :action => "inactive_list" %> </li>
					</ul>
			</fieldset>
		</div>
		<div id="admin_tabs_b">
			<fieldset>
				<legend>Users</legend>
					<ul>
					<li><%= link_to "List users", users_path %></li>
					<li><%= link_to "Manage roles", roles_path %></li>
					</ul>
		
			</fieldset>
		</div>
		<div id="admin_tabs_c">
			<fieldset>
				<legend>Menu items</legend>
					<ul>
					<li><%= link_to "Add general menu items", properties_path %></li>
					</ul>
			</fieldset>
			<fieldset>
				<legend>Outbreak setting</legend>
					<ul>
					<li><%= link_to "List categories", categories_path %></li>
					<li><%= link_to "List subcategories", subcategories_path %></li>
					<li><%= link_to "List subtypes", subtypes_path %></li>
					<li><%= link_to "List cuisines", cuisines_path %></li>
					</ul>
			</fieldset>
			<fieldset>
				<legend>Origins of problem</legend>
					<ul>
					<li><%= link_to "List origins", origins_path %></li>
					</ul>
			</fieldset>
			<fieldset>
				<legend>Factors</legend>
					<ul>
					<li><%= link_to "List factors", factors_path %></li>
					</ul>
			</fieldset>
			<fieldset>
				<legend>Food categories</legend>
					<ul>
					<li><%= link_to "List food categories", food_categories_path %></li>
					<li><%= link_to "List food subcategories", food_subcategories_path %></li>
					</ul>
			</fieldset>
			<fieldset>
				<legend>Evidence categories</legend>
					<ul>
					<li><%= link_to "List Evidence categories", evidence_categories_path %></li>
					</ul>
			</fieldset>
		</div>
		<div id="admin_tabs_d">
			<fieldset>
				<legend>Pathogens</legend>
					<ul>
					<li><%= link_to "List bacteria", bacteria_path %></li>
					<li><%= link_to "List viruses", viruses_path %></li>
					<li><%= link_to "List protozoas", protozoas_path %></li>
					<li><%= link_to "List toxins", toxins_path %></li>
					</ul>
			</fieldset>
		</div>
		<div id="admin_tabs_e">
			<fieldset>
				<legend>Geography</legend>
					<ul>
					<li><%= link_to "List regions", regions_path %></li>
					<li><%= link_to "List HPUs", hpus_path %></li>
					<li><%= link_to "List Local Authorities", local_authorities_path %></li>
					</ul>
			</fieldset>
		</div>
		<div id="admin_tabs_f">
			<fieldset>
				<legend>Documentation</legend>
					<ul>
						<li><%= link_to "RDocs", "https://www.hpa-bioinformatics.org.uk/garan/efoss/doc/app/index.html", :target => "_blank" %></li>
						<li><%= link_to "Database schema", "https://www.hpa-bioinformatics.org.uk/garan/efoss/db_outline/Default.html", :target => "_blank" %></li>
					</ul>
					<br />
			</fieldset>
		
		</div>
		<div style="clear:both; margin:10px;"></div>
	</div>
<% else %>
	NO ACCESS
<% end %>
