<div class="left_form">
	<%= label :pathogen, :bacterium %>
</div>
<div class="right_form" >
	<%= select(:bacterial_agent, :bacterium_id, "<option value='' selected='true'>Not specified</option>" + options_from_collection_for_select(@bacteria, :id, :name)) %>
</div>
<div style="clear:both;"></div>
<div class="left_form">
	<%= label :bacterial_agent, :confirmed %>
</div>
<div class="right_form" >
	<%= check_box :bacterial_agent, :confirmed %>
</div>
<div style="clear:both;"></div>
<div class="left_form">
	<%= label :bacterial_agent, :serotype %>
</div>
<div class="right_form" >
	<%= text_field :bacterial_agent, :serotype %>
</div>
<div style="clear:both;"></div>
<div class="left_form">
	<%= label :bacterial_agent, :phagetype %>
</div>
<div class="right_form" >
	<%= text_field :bacterial_agent, :phagetype %>
</div>
<div style="clear:both;"></div>
<div class="left_form">
	<%= label :bacterial_agent, :other_typing %>
</div>
<div class="right_form" >
	<%= text_field :bacterial_agent, :other_typing %>
</div>
<div style="clear:both;"></div>
<div class="left_form">
	<%= label :bacterial_agent, :comment %>
</div>
<div class="right_form" >
	<%= text_area :bacterial_agent, :comment, :cols => "60", :rows => "10" %>
</div>
