<h1>Listing bacteria</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Genus</th>
    <th>Species</th>
    <th>Subspecies</th>
    <th>Serovar</th>
  </tr>

<% @bacteria.each do |bacterium| %>
  <tr>
    <td><%=h bacterium.id %></td>
    <td><%=h bacterium.name %></td>
    <td><%=h bacterium.genus %></td>
    <td><%=h bacterium.species %></td>
    <td><%=h bacterium.subspecies %></td>
    <td><%=h bacterium.serovar %></td>
    <td class="action"><%= link_to 'Show', bacterium %></td>
    <td class="action"><%= link_to 'Edit', edit_bacterium_path(bacterium) %></td>
    <td class="action"><%= link_to 'Destroy', bacterium, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New bacterium', new_bacterium_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>