<p>
  <b>Id:</b>
  <%=h @bacterium.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @bacterium.name %>
</p>

<p>
  <b>Genus:</b>
  <%=h @bacterium.genus %>
</p>

<p>
  <b>Species:</b>
  <%=h @bacterium.species %>
</p>

<p>
  <b>Subspecies:</b>
  <%=h @bacterium.subspecies %>
</p>

<p>
  <b>Serovar:</b>
  <%=h @bacterium.serovar %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_bacterium_path(@bacterium) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>