<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :protozoal_agents,{:child_index => @next_child_index} do |this_form| %>

<div class="protozoal_agent">
<fieldset>
			<legend>
			Associated Protozoan
			</legend>
	<%= render :partial => "protozoal_agents/protozoal_agent_investigation", :locals => {:protozoal_agent_form => this_form, :protozoa => @protozoa, :protozoal_agent => @protozoal_agent} %>
	
	<% this_form.fields_for :investigation do |investigation_form| %>
			<div class="investigation">
			<%= render :partial => 'investigations/agent_investigation', :locals => {:investigation_form => investigation_form, :agent_type => "protozoa", :agent => @protozoas, :sample_types => @sample_types  } %>
			</div>
	<% end %>
	<div class="right form">
		<span class="remove"><%= link_to_function "remove", "$(this).up('.protozoal_agent').remove()" %></span>
	</div>
</fieldset>
</div>

<% end %>
