		<% new_or_existing = protozoal_agent.new_record? ? 'new' : 'existing' %>
		<% prefix = "outbreak[#{new_or_existing}_protozoal_agent_attributes][]" %>
		<% fields_for prefix, protozoal_agent do |protozoal_agent_form| %>
			<div class="protozoal_agent">
			<fieldset>
				<legend>
				<%= protozoal_agent.category ? protozoal_agent.category.upcase : "" %> Protozoa
				</legend>
					<%= protozoal_agent_form.hidden_field :category, :value => protozoal_agent.category ? protozoal_agent.category.upcase : "CAUSATIVE" %>
					<div class="left_form">
						<%= protozoal_agent_form.label :protozoa_id %>
					</div>
					<div class="right_form" >
						<% protozoa_id = protozoal_agent.protozoa ? protozoal_agent.protozoa.id : @initial_protozoa.id %>
						<%= protozoal_agent_form.select(:protozoa_id, options_from_collection_for_select(@protozoas, :id, :name, protozoal_agent.protozoa_id ? protozoal_agent.protozoa.id : @initial_protozoa.id), {}, {:class => "protozoal_id"}) %>
					</div>
					
					<div style="clear:both;"></div>
					<div class="left_form">
						<%= protozoal_agent_form.label(:other_typing) %>
					</div>
					<div class="right_form" >
						<%= protozoal_agent_form.text_field(:other_typing) %>
					</div>
					<div style="clear:both;"></div>
					<div class="left_form">
						<%= protozoal_agent_form.label(:comment) %>
					</div>
					<div class="right_form" >
						<%= protozoal_agent_form.text_area(:comment, :cols => "60", :rows => "10") %>
					</div>
					<div style="clear:both;"></div>
					
					<div class="left_form">
						<%= protozoal_agent_form.label :confirmed %>
					</div>
					<div class="right_form" >
						<%= protozoal_agent_form.select(:confirmed, options_for_select({"Yes" => TRUE, "No" => FALSE}) ) %>
					</div>
					<div style="clear:both;"></div>
					<fieldset>
						<legend>Investigation</legend>
							<% protozoal_agent.investigation ? protozoal_agent.investigation : protozoal_agent.build_investigation %>
							<% protozoal_agent_form.fields_for "investigation_attributes", protozoal_agent.investigation do |investigation_form| %>
										<div class="left_form">
										<%= investigation_form.label :category, "Sample source" %> ( <%= @outbreak_type %> )
										</div>
										<div class="right_form" >
										<%= investigation_form.select :category, options_from_collection_for_select(@sample_types, :property_value, :property_value) %>	</div>
										
										<div style="clear:both;"></div>
										<div class="left_form">
										<%= investigation_form.label :level, "Specify Result (level, positive | negative)" %>
										</div>
										<div class="right_form" >
											<%= investigation_form.text_field :level %>
										</div>
										<div style="clear:both;"></div>
										<div class="left_form">
											<%= investigation_form.label :comment, "Test details" %>
										</div>
										<div class="right_form" >
											<%= investigation_form.text_area :comment, :cols => 60, :rows => 10 %>
										</div>
							<% end %>
					</fieldset>
					<div style="clear:both;"></div>
					<div class="right form">
						<% if !protozoal_agent.new_record? %>
							Remove <%= check_box_tag "outbreak[existing_protozoal_agent_attributes][#{protozoal_agent.id}][_destroy]" %>
						<% else %>
							<span class="remove"><%= link_to_function "remove", "$(this).up('.protozoal_agent').remove()" %></span>
						<% end %>
					</div>
			</fieldset>
			</div>
		<% end %>

