
				<div class="left_form">
					<%= protozoal_agent_form.label :protozoa_id %>
				</div>
				<div class="right_form" >
					<%= protozoal_agent_form.select(:protozoa_id, "<option value='' selected='true'>Not specified</option>" + options_from_collection_for_select(@protozoas, :id, :name), {}, {:class => "protozoal_id"}) %>
				</div>
				
				<div style="clear:both;"></div>
				<div class="left_form">
					<%= protozoal_agent_form.label(:other_typing) %>
				</div>
				<div class="right_form" >
					<%= protozoal_agent_form.text_field(:other_typing) %>
				</div>
				<div style="clear:both;"></div>
				<div class="left_form">
					<%= protozoal_agent_form.label(:comment) %>
				</div>
				<div class="right_form" >
					<%= protozoal_agent_form.text_area(:comment, :cols => "60", :rows => "10") %>
				</div>
				<div style="clear:both;"></div>
				
				<div class="left_form">
					<%= protozoal_agent_form.label :confirmed %>
				</div>
				<div class="right_form" >
					<%= protozoal_agent_form.select(:confirmed, options_for_select({"Yes" => TRUE, "No" => FALSE}) ) %>
				</div>

