<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :protozoal_agents,{:child_index => @next_child_index} do |this_form| %>

<div class="protozoal_agent">

<%= render :partial => "protozoal_agents/protozoal_agent", :locals => {:protozoal_agent_form => this_form, :protozoas => @protozoas, :protozoal_agent => @protozoal_agent, :initial_protozoa => @initial_protozoa} %>
	
</div>

<% end %>
