		<% new_or_existing = @food.new_record? ? 'new' : 'existing' %>
		<% prefix = "outbreak[#{new_or_existing}_food_attributes][]" %>
		<% fields_for prefix, @food do |food_form| %>
			<%= food_form.collection_select( :food_subcategory_id, @food_subcategories, :id, :name, {:prompt   => "Select a food subcategory"}) %>
		<% end %>

