<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :foods,{:child_index => @this_child_index} do |this_form| %>
<%= render :partial => 'foods/food_subcategory_select', :locals => {:food_form => this_form, :food_subcategories => @food_subcategories } %>
<% end %>
