<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :foods,{:child_index => @next_child_index} do |this_form| %>

<div class="food_vehicle">

<%= render :partial => "foods/food", :locals => {:food_form => this_form, :food_categories => @food_categories, :food_subcategories => @food_subcategories,  :food => @food} %>

	<% this_form.fields_for :evidence, {:child_index => 0} do |evidence_form| %>
		<div class="food_evidence">
			<%= render :partial => 'evidences/evidence', :locals => {:evidence_form => evidence_form, :options_for_categories => @options_for_categories} %>
		</div>
	<% end %>
	<div style="background: #FF8A00; height: 3px; margin-bottom: 15px;"></div>
</div>

<% end %>
