		<% new_or_existing = food.new_record? ? 'new' : 'existing' %>
		<% food_uid = food.new_record? ? @uid : food.id %>
		<% prefix = "outbreak[#{new_or_existing}_food_attributes][]" %>
		<% fields_for prefix, food do |food_form| %>
				<div class="food">
					<fieldset>
						<legend>Food vehicle</legend>
						
							<div class="left_form">
								<%= food_form.label :food_category_id %>
							</div>
							<div class="right_form">
								<div class="food_category">
								<% if food.new_record? %>
									<%= food_form.select(:food_category_id, options_from_collection_for_select(@food_categories, :id, :name), {:include_blank => :true}, {:onchange => remote_function(:url  => { :controller => 'foods',:action => 'update_food_subcategory'}, :with => "'food_category_id=' + this.value + '&food_uid=#{food_uid.to_s}' ") } ) %>
								<% else %>
									<%= food_form.select(:food_category_id, options_from_collection_for_select(@food_categories, :id, :name, food.food_category_id.to_i), {:include_blank => :true}, {:onchange => remote_function(:url  => { :controller => 'foods',:action => 'update_food_subcategory'}, :with => "'food_category_id=' + this.value + '&food_id=#{food.id}' + '&id=#{@outbreak.id}' ") } ) %>
								<% end %>
								</div>
							</div>
							<div style="clear:both;"></div>
							<div class="left_form">
								<%= food_form.label :food_subcategory_id %>
							</div>
							<div class="right_form">
								<div class="food_subcategory" id="food_<%= food_uid  %>">
								<% if food.new_record? %>
									<%= food_form.select(:food_subcategory_id, option_groups_from_collection_for_select(@food_categories, :food_subcategories, :name, :id, :name), :include_blank => :true) %>
								<% else %>
									<%= food_form.select(:food_subcategory_id, option_groups_from_collection_for_select(@food_categories, :food_subcategories, :name, :id, :name, food.food_subcategory_id.to_i), :include_blank => :true) %>
								<% end %>
								</div>
							</div>
							<div style="clear:both;"></div>
							<div class="left_form">
								<%= food_form.label :contains_rse, "Contains Raw Shell Egg (RSE)" %>
							</div>
							<div class="right_form">
								<%= food_form.select(:contains_rse, options_for_select({"Yes" => TRUE, "No" => FALSE})) %>
							</div>
							<div style="clear:both;"></div>
							<div class="left_form">
								<%= food_form.label :country, "Country of origin" %>
							</div>
							<div class="right_form">
								<%= food_form.country_select(:country, ["Not Known"]) %>
							</div>
							<div style="clear:both;"></div>
							<div class="left_form">
								<%= food_form.label :description %>
							</div>
							<div class="right_form">
								<%= food_form.text_area :description, :cols => "60", :rows => "2" %>
							</div>
							<div style="clear:both;"></div>
							<% food_index = food.new_record? ? '' : food.id %>
							<% prefix = "outbreak[#{new_or_existing}_food_attributes][#{food_index}][evidence_attributes]" %>
							<% @evidence = food.evidence %>
							<% fields_for prefix, @evidence do |evidence_form|%>
							
								<fieldset>
									<legend>Evidence</legend>
										
										<div class="left_form">
											<%= evidence_form.label :evidence_category_id %>
										</div>
										<div class="right_form">
											
											<%= evidence_form.select :evidence_category_id, grouped_options_for_select(@options_for_categories, @evidence.evidence_category_id.to_s, nil) %>
	
										</div>
										<div style="clear:both;"></div>	
										<div class="left_form">
											<%= evidence_form.label :comment %>
										</div>
										<div class="right_form">
											<%= evidence_form.text_area :comment, :cols => 60, :rows => 2 %>
										</div>
										<div style="clear:both;"></div>	
								</fieldset>
							<% end %>
							<div style="clear:both;"></div>
							<div>
								<% if !food.new_record? %>
							
									Delete <%= food_form.check_box "_destroy" %>
								<% else %>
									<span class="remove"><%= link_to_function "remove", "$(this).up('.food').remove()" %></span>
								<% end %>
							</div>
					</fieldset>
				</div>
		<% end %>
