<h1>Listing foods</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th>Rse confirmed</th>
    <th>Evidence micro</th>
    <th>Evidence cohort</th>
    <th>Evidence case</th>
    <th>Evidence descriptive</th>
    <th>Food category</th>
    <th>Food subcategory</th>
    <th>Country</th>
  </tr>

<% @foods.each do |food| %>
  <tr>
    <td><%=h food.id %></td>
    <td><%=h food.description %></td>
    <td><%=h food.rse_confirmed %></td>
    <td><%=h food.evidence_micro %></td>
    <td><%=h food.evidence_cohort %></td>
    <td><%=h food.evidence_case %></td>
    <td><%=h food.evidence_descriptive %></td>
    <td><%=h food.food_category_id %></td>
    <td><%=h food.food_subcategory_id %></td>
    <td><%=h food.country_id %></td>
    <td><%= link_to 'Show', food %></td>
    <td><%= link_to 'Edit', edit_food_path(food) %></td>
    <td><%= link_to 'Destroy', food, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New food', new_food_path %>