<h1>New food</h1>

<% form_for(@food) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :rse_confirmed %><br />
    <%= f.check_box :rse_confirmed %>
  </p>
  <p>
    <%= f.label :evidence_micro %><br />
    <%= f.check_box :evidence_micro %>
  </p>
  <p>
    <%= f.label :evidence_cohort %><br />
    <%= f.check_box :evidence_cohort %>
  </p>
  <p>
    <%= f.label :evidence_case %><br />
    <%= f.check_box :evidence_case %>
  </p>
  <p>
    <%= f.label :evidence_descriptive %><br />
    <%= f.check_box :evidence_descriptive %>
  </p>
  <p>
    <%= f.label :food_category_id %><br />
    <%= f.text_field :food_category_id %>
  </p>
  <p>
    <%= f.label :food_subcategory_id %><br />
    <%= f.text_field :food_subcategory_id %>
  </p>
  <p>
    <%= f.label :country_id %><br />
    <%= f.text_field :country_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', foods_path %>