<p>
  <b>Id:</b>
  <%=h @food.id %>
</p>

<p>
  <b>Description:</b>
  <%=h @food.description %>
</p>

<p>
  <b>Rse confirmed:</b>
  <%=h @food.rse_confirmed %>
</p>

<p>
  <b>Evidence micro:</b>
  <%=h @food.evidence_micro %>
</p>

<p>
  <b>Evidence cohort:</b>
  <%=h @food.evidence_cohort %>
</p>

<p>
  <b>Evidence case:</b>
  <%=h @food.evidence_case %>
</p>

<p>
  <b>Evidence descriptive:</b>
  <%=h @food.evidence_descriptive %>
</p>

<p>
  <b>Food category:</b>
  <%=h @food.food_category_id %>
</p>

<p>
  <b>Food subcategory:</b>
  <%=h @food.food_subcategory_id %>
</p>

<p>
  <b>Country:</b>
  <%=h @food.country_id %>
</p>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>