<h1>Listing Local Authorities</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Hpu</th>
    <th>Region</th>
    <th>Name</th>
  </tr>

<% @local_authorities.each do |local_authority| %>
  <tr>
    <td><%=h local_authority.id %></td>
    <% if local_authority.hpu %>
    	<td><%=h local_authority.hpu.name %></td>
    <% else %>
    	<td></td>
    <% end %>
    <% if local_authority.region %>
    	<td><%=h local_authority.region.name %></td>
    <% else %>
    	<td></td>
    <% end %>
    <td><%=h local_authority.name %></td>
    <td class="action"><%= link_to 'Show', local_authority %></td>
    <td class="action"><%= link_to 'Edit', edit_local_authority_path(local_authority) %></td>
    <td class="action"><%= link_to 'Destroy', local_authority, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New Local Authority', new_local_authority_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>