<p>
  <b>Id:</b>
  <%=h @local_authority.id %>
</p>

<p>
  <b>Hpu:</b>
  <%=h @local_authority.hpu_id %>
</p>

<p>
  <b>Region:</b>
  <%=h @local_authority.region_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @local_authority.name %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_local_authority_path(@local_authority) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>