<h1>Listing roles</h1>

<table>
  <tr>
  	<th>Role</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%=h role.name %></td>
    <td class="action"><%= link_to 'Show', role %></td>
    <td class="action"><%= link_to 'Edit', edit_role_path(role) %></td>
    <td class="action"><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New role', new_role_path %></span>