<h1>New role</h1>

<% form_for(@role) do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :name, "Role" %></p>
  <p><%= f.text_field :name %></p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', roles_path %>