<h1>Listing toxins</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Category</th>
  </tr>

<% @toxins.each do |toxin| %>
  <tr>
    <td><%=h toxin.id %></td>
    <td><%=h toxin.name %></td>
    <td><%=h toxin.category %></td>
    <td class="action"><%= link_to 'Show', toxin %></td>
    <td class="action"><%= link_to 'Edit', edit_toxin_path(toxin) %></td>
    <td class="action"><%= link_to 'Destroy', toxin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New toxin', new_toxin_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>