<p>
  <b>Id:</b>
  <%=h @toxin.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @toxin.name %>
</p>

<p>
  <b>Category:</b>
  <%=h @toxin.category %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_toxin_path(@toxin) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>