<h1>Listing categories</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Outbreak type</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%=h category.id %></td>
    <td><%=h category.name %></td>
    <td><%=h category.outbreak_type %></td>
    <td class="action"><%= link_to 'Show', category %></td>
    <td class="action"><%= link_to 'Edit', edit_category_path(category) %></td>
    <td class="action"><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New category', new_category_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>