<p>
  <b>Id:</b>
  <%=h @category.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Outbreak type:</b>
  <%=h @category.outbreak_type %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_category_path(@category) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>