<div class="left_form">
	<%= label :protozoal_agent, :protozoa %>
</div>
<div class="right_form" >
	<%= select("protozoa", :protozoas, "<option value='' selected='true'>Not specified</option>" + options_from_collection_for_select(@protozoas, :id, :name)) %>
</div>
<div style="clear:both;"></div>
<div class="left_form">
	<%= label :protozoal_agent, :confirmed %>
</div>
<div class="right_form" >
	<%= check_box :protozoal_agent, :confirmed %>
</div>
<div style="clear:both;"></div>
<div class="left_form">
	<%= label :protozoal_agent, :other_typing %>
</div>
<div class="right_form" >
	<%= text_field :protozoal_agent, :other_typing %>
</div>
<div style="clear:both;"></div>
<div class="left_form">
	<%= label :protozoal_agent, :comment %>
</div>
<div class="right_form" >
	<%= text_area :protozoal_agent, :comment, :cols => "60", :rows => "10" %>
</div>
