<h1>Editing protozoa</h1>

<% form_for(@protozoa) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :genus %><br />
    <%= f.text_field :genus %>
  </p>
  <p>
    <%= f.label :species %><br />
    <%= f.text_field :species %>
  </p>
  <p>
    <%= f.label :subspecies %><br />
    <%= f.text_field :subspecies %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<span class="highlight_tab"><%= link_to 'Show', @protozoa %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>