<h1>Listing protozoas</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Genus</th>
    <th>Species</th>
    <th>Subspecies</th>
  </tr>

<% @protozoas.each do |protozoa| %>
  <tr>
    <td><%=h protozoa.id %></td>
    <td><%=h protozoa.name %></td>
    <td><%=h protozoa.genus %></td>
    <td><%=h protozoa.species %></td>
    <td><%=h protozoa.subspecies %></td>
    <td class="action"><%= link_to 'Show', protozoa %></td>
    <td class="action"><%= link_to 'Edit', edit_protozoa_path(protozoa) %></td>
    <td class="action"><%= link_to 'Destroy', protozoa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New protozoa', new_protozoa_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>