<p>
  <b>Id:</b>
  <%=h @protozoa.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @protozoa.name %>
</p>

<p>
  <b>Genus:</b>
  <%=h @protozoa.genus %>
</p>

<p>
  <b>Species:</b>
  <%=h @protozoa.species %>
</p>

<p>
  <b>Subspecies:</b>
  <%=h @protozoa.subspecies %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_protozoa_path(@protozoa) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>