<h1>Listing regions</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%=h region.id %></td>
    <td><%=h region.name %></td>
    <td class="action"><%= link_to 'Show', region %></td>
    <td class="action"><%= link_to 'Edit', edit_region_path(region) %></td>
    <td class="action"><%= link_to 'Destroy', region, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New region', new_region_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>