<p>
  <b>Id:</b>
  <%=h @region.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @region.name %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_region_path(@region) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>