<h1>Listing food_categories</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>

<% @food_categories.each do |food_category| %>
  <tr>
    <td><%=h food_category.id %></td>
    <td><%=h food_category.name %></td>
    <td class="action"><%= link_to 'Show', food_category %></td>
    <td class="action"><%= link_to 'Edit', edit_food_category_path(food_category) %></td>
    <td class="action"><%= link_to 'Destroy', food_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New food_category', new_food_category_path %></span |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>