<p>
  <b>Id:</b>
  <%=h @food_category.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @food_category.name %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_food_category_path(@food_category) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>