		<% new_or_existing = toxic_agent.new_record? ? 'new' : 'existing' %>
		<% prefix = "outbreak[#{new_or_existing}_toxic_agent_attributes][]" %>
		<% fields_for prefix, toxic_agent do |toxic_agent_form| %>
			<div class="toxic_agent">
			<fieldset>
				<legend>
				<%= toxic_agent.category ? toxic_agent.category.upcase : "" %> Toxin
				</legend>
				<%= toxic_agent_form.hidden_field :category, :value => toxic_agent.category ? toxic_agent.category.upcase : "CAUSATIVE" %>
				
						<div class="left_form">
							<%= toxic_agent_form.label :toxin_id %>
						</div>
						<div class="right_form" >
							<%= toxic_agent_form.select(:toxin_id, options_from_collection_for_select(@toxins, :id, :name, toxic_agent.toxin_id ? toxic_agent.toxin.id : @initial_toxin.id), {}, {:class => "toxic_id"}) %>
						</div>
						<div style="clear:both;"></div>
						<div class="left_form">
							<%= toxic_agent_form.label :comment %>
						</div>
						<div class="right_form" >
							<%= toxic_agent_form.text_area :comment, {:cols => "60", :rows => "10"} %>
						</div>
						<div style="clear:both;"></div>
						<div class="left_form">
							<%= toxic_agent_form.label :confirmed %>
						</div>
						<div class="right_form" >
							<%= toxic_agent_form.select(:confirmed, options_for_select({"Yes" => TRUE, "No" => FALSE}) ) %>
						</div>
						
					<div style="clear:both;"></div>
					<fieldset>
						<legend>Investigation</legend>
							<% toxic_agent.investigation ? toxic_agent.investigation : toxic_agent.build_investigation %>
							<% toxic_agent_form.fields_for "investigation_attributes", toxic_agent.investigation do |investigation_form| %>
										<div class="left_form">
										<%= investigation_form.label :category, "Sample source" %>
										</div>
										<div class="right_form" >
										<%= investigation_form.select :category, options_from_collection_for_select(@sample_types, :property_value, :property_value) %>	</div>
										
										<div style="clear:both;"></div>
										<div class="left_form">
										<%= investigation_form.label :level, "Specify Result (level, positive | negative)" %>
										</div>
										<div class="right_form" >
											<%= investigation_form.text_field :level %>
										</div>
										<div style="clear:both;"></div>
										<div class="left_form">
											<%= investigation_form.label :comment, "Test details" %>
										</div>
										<div class="right_form" >
											<%= investigation_form.text_area :comment, :cols => 60, :rows => 10 %>
										</div>
							<% end %>
					</fieldset>
					<div style="clear:both;"></div>
					<div class="right form">
						<% if !toxic_agent.new_record? %>
							Remove <%= check_box_tag "outbreak[existing_toxic_agent_attributes][#{toxic_agent.id}][_destroy]" %>
						<% else %>
							<span class="remove"><%= link_to_function "remove", "$(this).up('.toxic_agent').remove()" %></span>
						<% end %>
					</div>
			</fieldset>
			</div>
		<% end %>
