<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :toxic_agents,{:child_index => @next_child_index} do |this_form| %>

<div class="toxic_agent">
<fieldset>
			<legend>
			Associated Toxin
			</legend>
	<%= render :partial => "toxic_agents/toxic_agent_investigation", :locals => {:toxic_agent_form => this_form, :toxins => @toxins, :toxic_agent => @toxic_agent} %>
	
	<% this_form.fields_for :investigation do |investigation_form| %>
			<div class="investigation">
			<%= render :partial => 'investigations/agent_investigation', :locals => {:investigation_form => investigation_form, :agent_type => "toxin", :agent => @toxins, :sample_types => @sample_types  } %>
			</div>
	<% end %>
	<div class="right form">
		<span class="remove"><%= link_to_function "remove", "$(this).up('.toxic_agent').remove()" %></span>
	</div>
</fieldset>
</div>

<% end %>
