					<div class="left_form">
						<%= toxic_agent_form.label :toxin_id %>
					</div>
					<div class="right_form" >
						<%= toxic_agent_form.select(:toxin_id, "<option value='' selected='true'>Not specified</option>" + options_from_collection_for_select(@toxins, :id, :name), {}, {:class => "toxic_id"}) %>
					</div>
					<div style="clear:both;"></div>
					<div class="left_form">
						<%= toxic_agent_form.label :comment %>
					</div>
					<div class="right_form" >
						<%= toxic_agent_form.text_area :comment, {:cols => "60", :rows => "10"} %>
					</div>
					<div style="clear:both;"></div>
					<div class="left_form">
						<%= toxic_agent_form.label :confirmed %>
					</div>
					<div class="right_form" >
						<%= toxic_agent_form.select(:confirmed, options_for_select({"Yes" => TRUE, "No" => FALSE}) ) %>
					</div>
				
				
				<div style="clear:both;"></div>
