<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :toxic_agents,{:child_index => @next_child_index} do |this_form| %>

<div class="toxic_agent">

<%= render :partial => "toxic_agents/toxic_agent", :locals => {:toxic_agent_form => this_form, :toxins => @toxins, :toxic_agent => @toxic_agent, :initial_toxin => @initial_toxin} %>
	
</div>

<% end %>
