<h1>Editing detail</h1>

<% form_for(@detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :microbiological %><br />
    <%= f.check_box :microbiological %>
  </p>
  <p>
    <%= f.label :cohort_study %><br />
    <%= f.check_box :cohort_study %>
  </p>
  <p>
    <%= f.label :control_study %><br />
    <%= f.check_box :control_study %>
  </p>
  <p>
    <%= f.label :descriptive %><br />
    <%= f.check_box :descriptive %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @detail %> |
<%= link_to 'Back', details_path %>