<h1>Listing details</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Microbiological</th>
    <th>Cohort study</th>
    <th>Control study</th>
    <th>Descriptive</th>
    <th>Comment</th>
  </tr>

<% @details.each do |detail| %>
  <tr>
    <td><%=h detail.id %></td>
    <td><%=h detail.microbiological %></td>
    <td><%=h detail.cohort_study %></td>
    <td><%=h detail.control_study %></td>
    <td><%=h detail.descriptive %></td>
    <td><%=h detail.comment %></td>
    <td><%= link_to 'Show', detail %></td>
    <td><%= link_to 'Edit', edit_detail_path(detail) %></td>
    <td><%= link_to 'Destroy', detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New detail', new_detail_path %>