<p>
  <b>Id:</b>
  <%=h @detail.id %>
</p>

<p>
  <b>Microbiological:</b>
  <%=h @detail.microbiological %>
</p>

<p>
  <b>Cohort study:</b>
  <%=h @detail.cohort_study %>
</p>

<p>
  <b>Control study:</b>
  <%=h @detail.control_study %>
</p>

<p>
  <b>Descriptive:</b>
  <%=h @detail.descriptive %>
</p>

<p>
  <b>Comment:</b>
  <%=h @detail.comment %>
</p>


<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>