<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :bacterial_agents,{:child_index => @next_child_index} do |this_form| %>

<div class="bacterial_agent">

<%= render :partial => "bacterial_agents/bacterial_agent", :locals => {:bacterial_agent_form => this_form, :bacteria => @bacteria, :bacterial_agent => @bacterial_agent, :initial_bacterium => @initial_bacterium} %>
	
</div>

<% end %>
