
			<div class="left_form">
				<%= bacterial_agent_form.label :bacterium_id %>
			</div>
			<div class="right_form" >
				<%= bacterial_agent_form.select(:bacterium_id, "<option value=''>Not specified</option>" + options_from_collection_for_select(@bacteria, :id, :name, bacterial_agent.bacterium_id), {}, {:class => "bacterial_id"}) %>
			</div>
				
				<div style="clear:both;"></div>
				<div class="left_form">
					<%= bacterial_agent_form.label :serotype %>
				</div>
				<div class="right_form" >
					<%= bacterial_agent_form.text_field :serotype %>
				</div>
				<div style="clear:both;"></div>
				<div class="left_form">
					<%= bacterial_agent_form.label :phagetype %>
				</div>
				<div class="right_form" >
					<%= bacterial_agent_form.text_field :phagetype %>
				</div>
				<div style="clear:both;"></div>
				<div class="left_form">
					<%= bacterial_agent_form.label :other_typing %>
				</div>
				<div class="right_form" >
					<%= bacterial_agent_form.text_field :other_typing %>
				</div>
				<div style="clear:both;"></div>
				<div class="left_form">
					<%= bacterial_agent_form.label :comment %>
				</div>
				<div class="right_form" >
					<%= bacterial_agent_form.text_area :comment, :cols => "60", :rows => "10" %>
				</div>
				<div style="clear:both;"></div>
			
				<div class="left_form">
					<%= bacterial_agent_form.label :confirmed %>
				</div>
				<div class="right_form" >
																																											   
					<%= bacterial_agent_form.select(:confirmed, options_for_select({"Yes" => TRUE, "No" => FALSE}, bacterial_agent.confirmed) ) %>
				</div>
				<div style="clear:both;"></div>

