<% ActionView::Helpers::FormBuilder.new(:outbreak, @outbreak, @template, {}, proc{}).fields_for :bacterial_agents,{:child_index => @next_child_index} do |this_form| %>

<div class="bacterial_agent">
<fieldset>
			<legend>
			Associated Bacterium
			</legend>
	<%= render :partial => "bacterial_agents/bacterial_agent_investigation", :locals => {:bacterial_agent_form => this_form, :bacteria => @bacteria, :bacterial_agent => @bacterial_agent} %>
	
	<% this_form.fields_for :investigation do |investigation_form| %>
			<div class="investigation">
			<%= render :partial => 'investigations/agent_investigation', :locals => {:investigation_form => investigation_form, :agent_type => "bacteria", :agent => @bacteria, :sample_types => @sample_types  } %>
			</div>
	<% end %>
	<div class="right form">
		<span class="remove"><%= link_to_function "remove", "$(this).up('.bacterial_agent').remove()" %></span>
	</div>
</fieldset>
</div>

<% end %>
	
