		<% new_or_existing = bacterial_agent.new_record? ? 'new' : 'existing' %>
		<% prefix = "outbreak[#{new_or_existing}_bacterial_agent_attributes][]" %>
		<% fields_for prefix, bacterial_agent do |bacterial_agent_form| %>
			<div class="bacterial_agent">
			<fieldset>
				<legend>
				<%= bacterial_agent.category ? bacterial_agent.category.upcase : "" %> Bacterium
				</legend>
				<%= bacterial_agent_form.hidden_field :category, :value => bacterial_agent.category ? bacterial_agent.category.upcase : "CAUSATIVE" %>
				<div class="left_form">
					<%= bacterial_agent_form.label :bacterium_id %>
				</div>
				<div class="right_form" >
					<% bacterium_id = bacterial_agent.bacterium ? bacterial_agent.bacterium.id : @initial_bacterium.id %>
					<%= bacterial_agent_form.select(:bacterium_id, options_from_collection_for_select(@bacteria, :id, :name, bacterial_agent.bacterium ? bacterial_agent.bacterium.id : @initial_bacterium.id), {}, {:class => "bacterial_id"}) %>
				</div>
					
					<div style="clear:both;"></div>
					<div class="left_form">
						<%= bacterial_agent_form.label :serotype %>
					</div>
					<div class="right_form" >
						<%= bacterial_agent_form.text_field :serotype %>
					</div>
					<div style="clear:both;"></div>
					<div class="left_form">
						<%= bacterial_agent_form.label :phagetype %>
					</div>
					<div class="right_form" >
						<%= bacterial_agent_form.text_field :phagetype %>
					</div>
					<div style="clear:both;"></div>
					<div class="left_form">
						<%= bacterial_agent_form.label :other_typing %>
					</div>
					<div class="right_form" >
						<%= bacterial_agent_form.text_field :other_typing %>
					</div>
					<div style="clear:both;"></div>
					<div class="left_form">
						<%= bacterial_agent_form.label :comment %>
					</div>
					<div class="right_form" >
						<%= bacterial_agent_form.text_area :comment, :cols => "60", :rows => "10" %>
					</div>
					<div style="clear:both;"></div>
				
					<div class="left_form">
						<%= bacterial_agent_form.label :confirmed %>
					</div>
					<div class="right_form" >
																																												   
						<%= bacterial_agent_form.select(:confirmed, options_for_select({"Yes" => TRUE, "No" => FALSE}, bacterial_agent.confirmed) ) %>
					</div>
					<div style="clear:both;"></div>
					
					<fieldset>
						<legend>Investigation</legend>
						<% bacterial_agent.investigation ? bacterial_agent.investigation : bacterial_agent.build_investigation %>
						<% bacterial_agent_form.fields_for "investigation_attributes", bacterial_agent.investigation do |investigation_form| %>
									<div class="left_form">
									<%= investigation_form.label :category, "Sample source" %> ( <%= @outbreak_type %> )
									</div>
									<div class="right_form" >
									<%= investigation_form.select :category, options_from_collection_for_select(@sample_types, :property_value, :property_value) %>	</div>
									
									<div style="clear:both;"></div>
									<div class="left_form">
									<%= investigation_form.label :level, "Specify Result (level, positive | negative)" %>
									</div>
									<div class="right_form" >
										<%= investigation_form.text_field :level %>
									</div>
									<div style="clear:both;"></div>
									<div class="left_form">
										<%= investigation_form.label :comment, "Test details" %>
									</div>
									<div class="right_form" >
										<%= investigation_form.text_area :comment, :cols => 60, :rows => 10 %>
									</div>
						<% end %>
					</fieldset>
				        <div style="clear:both;"></div>
				        <div class="right form">
						<% if !bacterial_agent.new_record? %>
							Remove <%= check_box_tag "outbreak[existing_bacterial_agent_attributes][#{bacterial_agent.id}][_destroy]" %>		
						<% else %>
							<span class="remove"><%= link_to_function "remove", "$(this).up('.bacterial_agent').remove()" %></span>
						<% end %>
					</div>
				        
					
			</fieldset>
			</div>
		<% end %>
