<%= select_tag(:category_select, options_from_collection_for_select(@categories, :id, :name)) %>
<%= observe_field(:transmission_mode,
		  :url => { :action => :update_category },
		  :on => "onchange",
		  :loading => "Element.show('loader')",
		  :success => "Element.hide('loader')",
		  :with => "'ob_type=' + escape($('transmission_mode').value) ") %>

