<%= select_tag(:subcategory_select, options_from_collection_for_select(@subcategories, :id, :name)) %>
<%= observe_field(:category_select,
		  :url => { :action => :update_subcategory },
		  :on => "onchange",
		  :loading => "Element.show('loader')",
		  :success => "Element.hide('loader')",
		  :with => "'category=' + escape($('category_select').value) ") %>

