<h1>Listing subtypes</h1>

<table>
  <tr>
    <th>Subtype id</th>
    <th>Subtype Name</th>
    <th>Subcategory id</th>
    <th>Subcategory name</th>
    <th>Category id</th>
    <th>Category name</th>
    <th>Outbreak type</th>
  </tr>

<% @subtypes.each do |subtype| %>
  <tr>
    <td><%=h subtype.id %></td>
    <td><%=h subtype.name %></td>
    <td><%=h subtype.subcategory_id %></td>
    <td><%=h subtype.subcategory.name %></td>
    <td><%=h subtype.subcategory.category_id %></td>
    <td><%=h subtype.subcategory.category.name %></td>
    <td><%=h subtype.subcategory.category.outbreak_type %></td>
    <td class="action"><%= link_to 'Show', subtype %></td>
    <td class="action"><%= link_to 'Edit', edit_subtype_path(subtype) %></td>
    <td class="action"><%= link_to 'Destroy', subtype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<span class="highlight_span"><%= link_to 'New subtype', new_subtype_path %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>