<h1>New subtype</h1>

<% form_for(@subtype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <fieldset>
  	<legend>Subcategory select</legend>
		  <p>
		    <div id="loader" style="display: none; float: right; clear: right;">
			Loading ...	<%= image_tag "loader.gif" %>
		    </div>
		    <%= label_tag :transmission_mode %>
		    <div id="transmission_select_div">
			<%= select_tag(:transmission_mode, options_from_collection_for_select(@transmission_modes, :property_value, :property_value)) %>
			<script type="text/javascript">
				$j(function() {
					 
					  $j('body').delegate("select#transmission_mode","change", function() {
						      alert("Changed!"); return false;
					  });
					 
				});
		
				
			</script>
		    </div>
		    <%= label_tag :category %>
		    <div id="category_select_div">
			<%= select_tag(:category_select, options_from_collection_for_select(@categories, :id, :name)) %>
		    
		    </div>
		  </p>
		  <p>
			<%= label_tag :subcategory %>
			<div id="subcategory_select_div">
				<%= select_tag(:subcategory_select, grouped_options_for_select(@options_for_subcategories, :name)) %>
			</div>
		  </p>
  </fieldset>
  <p>
    <%= label_tag :subcategory_id, "Subcategory Id" %><br />
    <%= f.text_field :subcategory_id %>

  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>


