<p>
  <b>Id:</b>
  <%=h @subtype.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @subtype.name %>
</p>

<p>
  <b>Subcategory:</b>
  <%=h @subtype.subcategory_id %>
</p>


<span class="highlight_tab"><%= link_to 'Edit', edit_subtype_path(@subtype) %></span> |
<span class="highlight_tab"><%= link_to 'Admin section', :controller => 'pages', :action => 'admin_section'  %></span>