<%= collection_select(:location, :subcategory_id, subcategories, :id, :name,
                     {:prompt   => "Select a subcategory"},
                     {:onchange => "#{remote_function(:url  => {:action => "update_subtype"},
                                                      :with => "'subcategory_id='+value")}"}) %> 
