<h1>Listing locations</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Placename</th>
    <th>Subplace</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Address 3</th>
    <th>Town</th>
    <th>Region</th>
    <th>Postcode</th>
    <th>Lon</th>
    <th>Lat</th>
    <th>Local authority</th>
    <th>Hpu</th>
    <th>Region</th>
    <th>Country</th>
    <th>Category</th>
    <th>Subcategory</th>
    <th>Subtype</th>
    <th>Cuisine</th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%=h location.id %></td>
    <td><%=h location.placename %></td>
    <td><%=h location.subplace %></td>
    <td><%=h location.address_1 %></td>
    <td><%=h location.address_2 %></td>
    <td><%=h location.address_3 %></td>
    <td><%=h location.town %></td>
    <td><%=h location.region %></td>
    <td><%=h location.postcode %></td>
    <td><%=h location.lon %></td>
    <td><%=h location.lat %></td>
    <td><%=h location.local_authority_id %></td>
    <td><%=h location.hpu_id %></td>
    <td><%=h location.region_id %></td>
    <td><%=h location.country_id %></td>
    <td><%=h location.category_id %></td>
    <td><%=h location.subcategory_id %></td>
    <td><%=h location.subtype_id %></td>
    <td><%=h location.cuisine_id %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New location', new_location_path %>