<p>
  <b>Id:</b>
  <%=h @location.id %>
</p>

<p>
  <b>Placename:</b>
  <%=h @location.placename %>
</p>

<p>
  <b>Subplace:</b>
  <%=h @location.subplace %>
</p>

<p>
  <b>Address 1:</b>
  <%=h @location.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%=h @location.address_2 %>
</p>

<p>
  <b>Address 3:</b>
  <%=h @location.address_3 %>
</p>

<p>
  <b>Town:</b>
  <%=h @location.town %>
</p>

<p>
  <b>Region:</b>
  <%=h @location.region %>
</p>

<p>
  <b>Postcode:</b>
  <%=h @location.postcode %>
</p>

<p>
  <b>Lon:</b>
  <%=h @location.lon %>
</p>

<p>
  <b>Lat:</b>
  <%=h @location.lat %>
</p>

<p>
  <b>Local authority:</b>
  <%=h @location.local_authority_id %>
</p>

<p>
  <b>Hpu:</b>
  <%=h @location.hpu_id %>
</p>

<p>
  <b>Region:</b>
  <%=h @location.region_id %>
</p>

<p>
  <b>Country:</b>
  <%=h @location.country_id %>
</p>

<p>
  <b>Category:</b>
  <%=h @location.category_id %>
</p>

<p>
  <b>Subcategory:</b>
  <%=h @location.subcategory_id %>
</p>

<p>
  <b>Subtype:</b>
  <%=h @location.subtype_id %>
</p>

<p>
  <b>Cuisine:</b>
  <%=h @location.cuisine_id %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>