<div id="link_to_file"><%= image_tag "spinner.gif", :alt => 'loading' %></div>
<div id="notice"></div>
<script>
	fileReady = false;
</script>
<%= periodically_call_remote(:condition => "fileReady == false", :url => { :controller => :exports, :action => 'export_checker', :filename => @this_filepath }) %>
