<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>        
<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />
  <title>eFOSS: <%= controller.action_name %></title>
  	<link rel="icon" href="https://<%= request.host_with_port %>/efoss/images/efoss_favicon_16.ico" type="image/ico" />
    	<%= stylesheet_link_tag :all %>
    	
    	<%= javascript_include_tag 'prototype', 'scriptaculous', 'jquery', 'jquery-ui', 'application' %>
    	<%= javascript_include_tag "timeline_2.3.0/timeline_js/timeline-api.js" %>
    	

	<script>
		  // this allows jquery to be called along with scriptaculous and YUI without any conflicts
		  // the only difference is all jquery functions should be called with $j instead of $
		  // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
		 var $j = jQuery.noConflict();
	  
		 Timeline_ajax_url="../javascripts/timeline/timeline_ajax/simile-ajax-api.js";
		 Timeline_urlPrefix='../javascripts/timeline/api/';       
		 Timeline_parameters='bundle=true';
	 
		//Timeline functions and variables
		var tl; 
		
		
		var events = {
			<% if @events %>
			'dateTimeFormat': 'iso8601',
			'events': [
			  <% @events.each_with_index do |e, i| %>
		
			  {
			    'start': '<%= DateTime.strptime(e.onset_first.to_s, '%Y-%m-%d').utc %>',
			    'end': '<%= DateTime.strptime(e.onset_last.to_s, '%Y-%m-%d').utc %>',
			    'durationEvent': true,
			    'description': '<%= e.info %>'
			  }<% if i != @events.length - 1 -%>, <% end -%>
			  <% end %>
			]
			<% end %>       
		      };
		  
		function loadTimeline(){ 
			var eventSource = new Timeline.DefaultEventSource(); 
		       
			var theme = Timeline.ClassicTheme.create();
			
			
			
			theme.event.label.width   = 250;
			theme.event.bubble.width  = 320;
			theme.event.bubble.height = 220;
			var bandInfos = [
			  Timeline.createBandInfo({
			      width: 30,
			      intervalUnit: Timeline.DateTime.DAY,
			      intervalPixels: 200,
			      overview: true,     
			      theme:theme
			  }),
			  Timeline.createBandInfo({
			      width: 260,
			      intervalUnit: Timeline.DateTime.MONTH,
			      intervalPixels: 800,
			      eventSource: eventSource,
			      theme:theme
			  }),
			  Timeline.createBandInfo({
			      width: 60,
			      intervalUnit: Timeline.DateTime.YEAR,
			      intervalPixels: 200,
			      eventSource: eventSource,
			      overview: true,
			      theme:theme
			  })
			];
			bandInfos[1].syncWith = 0;
			bandInfos[2].syncWith = 0;
			bandInfos[1].highlight = true;
			bandInfos[2].highlight = true;
		   
		   tl = Timeline.create(document.getElementById('timeline'), bandInfos); 
		   //Timeline.loadJSON("timeline", function(events, url) { eventSource.loadJSON(events, url); });
		   eventSource.loadJSON(events, '');
		
		}
		 

		var resizeTimerID = null;
		function onResize(){
			  if (resizeTimerID == null){
			      resizeTimerID = window.setTimeout(function() {
				  resizeTimerID = null;
				  tl.layout();
			      }, 500);
			  }
		}
		
		
		function centerTimeline(year, month, day) {
			    tl.getBand(0).setCenterVisibleDate(new Date(year, month-1, day));
		}
		
		
		function focusRegion(pointLat, pointLng, regionZoom, year, month, day){
			map.setCenter(new LatLonPoint(pointLat,pointLng), regionZoom);
			 tl.getBand(0).setCenterVisibleDate(new Date(year, month-1, day));
		}
		
		function focusMap(pointLat, pointLng, regionZoom){
			map.setCenter(new GLatLng(pointLat,pointLng), regionZoom);
		}
		
	
		
		//end of Timeline functions

		
	</script>

	
</head>
<body onLoad="loadTimeline()">

		
			<%= render :partial => "shards/header" -%>
			
			<%= render :partial => "shards/menu" -%>
			
			
			
			<div id="main-content">
				
				<% if controller.action_name == "new" %>
					<p style="color: green"><%= flash[:notice] %></p>
					<%= yield %>
					
				<% elsif user_signed_in? %>
					<p style="color: green"><%= flash[:notice] %></p>
					<%= yield %>
				<% else %>
					<div id="login-notice">
					<p>Please sign in for access.</p>
					<p>Contact the <%= mail_to "efoss@hpa.org.uk", "Administrators" %> at GEZI, Center for Infections, HPA Colindale if you need to register for an account.</p>
					</div>
					<%= render "pages/welcome_text" %>
				<% end %>
			</div>
			
			<div style="clear:both; margin:10px;"></div>
			
			<div id="footer">
				<p>eFOSS [HPA 2010 - 2011]</p>
			</div>
		
		
		
		<div style="clear: both;"></div>
	


</body>
</html>
