<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>        
<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />

  <title>eFOSS: <%= controller.action_name %></title>
  	<link rel="icon" href="https://<%= request.host_with_port %>/efoss/images/efoss_favicon_16.ico" type="image/ico" />
    	<%= stylesheet_link_tag :all %>
    	<%= javascript_include_tag 'prototype', 'scriptaculous', 'jquery', 'jquery-ui', 'application', 'password_strength', 'jquery.validate.pack' %>
    	
	<script>
	  // this allows jquery to be called along with scriptaculous and YUI without any conflicts
	  // the only difference is all jquery functions should be called with $j instead of $
	  // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
	  var $j = jQuery.noConflict();
	  
	  $j(document).ready( function() {

				//ADVANCED
				$j(".password_check").passStrength({
					shortPass: 		"top_shortPass",
					badPass:		"top_badPass",
					goodPass:		"top_goodPass",
					strongPass:		"top_strongPass",
					baseStyle:		"top_testresult",
					userid:			"#user_email"
				});
				
				



	  });
			
	</script>
<meta name="author" content="Garan Jones" />	
</head>
<body>

		
			<%= render :partial => "shards/header" -%>
			
			<%= render :partial => "shards/menu" -%>
			
			
			
			<div id="main-content">
				
				<% if controller.action_name == "new" %>
					
					<p style="color: green"><%= flash[:notice] %></p>
					<%= yield %>
					<div id="ajax_error" class="ajax_error" style="display: none;"></div>
					
				<% elsif user_signed_in? %>
					
					<p style="color: green"><%= flash[:notice] %></p>
					<%= yield %>
					<div id="ajax_error" class="ajax_error" style="display: none;"></div>
					
				<% else %>
					<div id="login-notice">
					<p>Please sign in for access.</p>
					<p>Contact  <%= mail_to "efoss@hpa.org.uk", "Administrators" %> at GEZI, Center for Infections, HPA Colindale if you need to register for an account.</p>
					</div>
					<%= render "pages/welcome_text" %>
				<% end %>
			</div>
			
			<div style="clear:both; margin:10px;"></div>
			
			<div id="footer">
				<p>eFOSS [HPA 2010 - 2011]</p>
			</div>
		
		
		
		<div style="clear: both;"></div>
	


</body>
</html>
