<div class="new_div">
	<h2>Sign up</h2>
	
	<% form_for @user, :url => '../../users/registrations/create' do |f| -%>
	  <%= f.error_messages %>
	  <p><%= f.label :email %></p>
	  <p><%= f.text_field :email %></p>
	
	  <p><%= f.label :fname, "First name" %></p>
	  <p><%= f.text_field :fname %></p>
	  
	  <p><%= f.label :lname, "Last name" %></p>
	  <p><%= f.text_field :lname %></p>
	   
	  <fieldset class="roles_fieldset">
			<legend>Roles</legend>		
		<% for role in Role.all %>
	
		<div>
		  <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
		  <%=h role.name %>
		</div>
		<% end %>
		
	 </fieldset>
	
	  <p><%= f.label :password %></p>
	  <p><%= f.password_field :password, {:class => "password_check"} %></p>
	
	  <p><%= f.label :password_confirmation %></p>
	  <p><%= f.password_field :password_confirmation, {:class => "password_check"} %></p>
	  
	  <p><%= f.submit "Sign up" %></p>
	<% end -%>
</div>
